<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

  <h1>OTP Verification</h1>
  <p>Enter the OTP sent to your email: <%= email %></p>
  <form method="POST" action="/user/verifyOtp">
    <input type="text" name="enteredOTP" placeholder="Enter OTP" required>
    <input type="hidden" name="email" value="<%= email %>">
  
    <button style="background-color: black; color: whitesmoke;" type="submit">Verify OTP</button>
  </form>
  <form method="POST" action="/user/resendOtp">
    <input type="hidden" name="email" value="<%= email %>">
    <button type="submit" style="background-color: rgb(176, 3, 3); color: whitesmoke;">Resend OTP</button>
  </form>

  <%- include('partials/footerlogin') %>
  <%- include('partials/mainScripts') %>
  
</body>
</html>
