<%- include('partials/head') %>

<body>
    <div class="screen-overlay"></div>
    <%- include('partials/aside') %>
    <main class="main-wrap">
        <%- include('partials/header') %> 
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                       
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Product Info</h4>
                        </div>
                        <div class="card-body">
                            <% if (typeof(errors) !== 'undefined' && errors.length > 0) { %>
                                <div id="error-message" style="background-color: rgba(255, 23, 23, 0.215); border-radius: 10px;">
                                    <span>
                                        <% errors.forEach(error => { %>
                                            <p style="color: red;"><%= error %></p>
                                        <% }); %>
                                    </span>
                                </div>
                            <% } %>

                            <form action="/admin/saveProducts" method="Post" enctype="multipart/form-data">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product title</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_name" name="productname">
                                </div>
                                <div class="mb-4">
                                    <div class="mb-4">
                                        <label for="product_category" class="form-label">Product Category</label>
                                        <select class="form-control" id="product_category" name="category">
                                            <option value="">Select a Category</option>
                                            <% categories.filter(category => category.published === true).forEach(category => { %>
                                                <option value="<%= category._id %>"><%= category.categoryName %></option>
                                              <% }); %>
                                             
                                      
                                          </select>
                                          
                                    </div>
                                    <div class="mb-4">
                                      <label for="product_name" class="form-label">Product Discount</label>
                                      <input type="text" placeholder="Type here" class="form-control" id="product_disc" name="productdiscount">
                                  </div>
                                    
                                    <label for="product_name" class="form-label">Product Size</label>
                                    <input style="width: 15%;" type="text" placeholder="Type here" class="form-control" id="product_name" name="numberSize">
                                    <input type="button" class="btn btn-primary mt-10" id="showSizeButton" value="Show size">
                                    <div id="sizeFieldsContainer" style="padding: 10px;"></div>

                                 
                                </div>
                             
                             
                              

              
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Model</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_name" name="model">
                                </div>
                                <div class="mb-4">
                                  <label for="product_name" class="form-label">Tag</label>
                                  <input type="text" placeholder="Type here" class="form-control" id="tag" name="tags" >
                              </div>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Features</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_name" name="features" >
                                </div>
                                <div class="mb-4">
                                  <label for="product_name" class="form-label">Feature the product?</label>
                                  <select name="featured" id="">
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                  </select>
                                 
                              </div>
                              
                               
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" name="description" id="dynamicTextArea" ></textarea>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Short description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" name="shortdescription"></textarea>
                                </div>
                                <div class="d-grid">
                                    <label for="file-upload" class="custom-file-upload">
                                      <div class="row">
                                        <h3>Selected Images</h3>
                                        <div class="col-sm-12">
                                          <div class="preview-images"></div>
                                        </div>
                                      </div>
                                    <input type="file" name="images" class="form-control-file border" accept="image/*" id="input-images" multiple >
                                </div>
                              
                                <div class="d-grid">
                                    <button class="btn btn-primary">Create Product</button>
                                </div>
                               
                            </form>
                        </div>
                    </div> <!-- card end// -->
                 
                   

                </div>
               
                   
    </main>
<!-- added script -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
   <script src="/admin/helpers/addproducts.js"></script>






    <%- include('partials/script') %>

   



</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
</html>