<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:31 GMT -->
<head>
    <meta charset="utf-8">
    <title>Telflex Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/user/css/maind134.css?v=3.4">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" type="text/css" href="/user/css/tableresp.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <style>
      div.preview-images > img {
        width: 30%;
      }
    </style>

</head>

<body>
    <div class="screen-overlay"></div>
    <%- include('partials/aside') %>
    <main class="main-wrap">
        <%- include('partials/header') %> 
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                       
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Product Info</h4>
                        </div>
                        <div class="card-body">
                            <% if (typeof(errors) !== 'undefined' && errors.length > 0) { %>
                                <div id="error-message" style="background-color: rgba(255, 23, 23, 0.215); border-radius: 10px;">
                                    <span>
                                        <% errors.forEach(error => { %>
                                            <p style="color: red;"><%= error %></p>
                                        <% }); %>
                                    </span>
                                </div>
                            <% } %>

                            <form action="/admin/saveProducts" method="Post" enctype="multipart/form-data">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product title</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_name" name="productname">
                                </div>
                                <div class="mb-4">
                                    <div class="mb-4">
                                        <label for="product_category" class="form-label">Product Category</label>
                                        <select class="form-control" id="product_category" name="category">
                                            <option value="">Select a Category</option>
                                            <% categories.filter(category => category.published === true).forEach(category => { %>
                                                <option value="<%= category._id %>"><%= category.categoryName %></option>
                                              <% }); %>
                                             
                                      
                                          </select>
                                          
                                    </div>
                                    <div class="mb-4">
                                      <label for="product_name" class="form-label">Product Discount</label>
                                      <input type="text" placeholder="Type here" class="form-control" id="product_disc" name="productdiscount">
                                  </div>
                                    
                                    <label for="product_name" class="form-label">Product Size</label>
                                    <input style="width: 15%;" type="text" placeholder="Type here" class="form-control" id="product_name" name="numberSize">
                                    <input type="button" class="btn btn-primary" id="showSizeButton" value="Show size">
                                    <div id="sizeFieldsContainer" style="padding: 10px;"></div>

                                 
                                </div>
                             
                             
                              

              
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Model</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_name" name="model">
                                </div>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Features</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_name" name="features" >
                                </div>
                              
                               
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" name="description" id="dynamicTextArea" ></textarea>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Short description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" name="shortdescription"></textarea>
                                </div>
                                <div class="d-grid">
                                    <label for="file-upload" class="custom-file-upload">
                                        <img src="/admin/imgs/theme/upload.svg" alt="Upload Image">
                                    <input type="file" name="images" class="form-control-file border" accept="image/*" id="input-images" multiple >
                                </div>
                              
                                <div class="d-grid">
                                    <button class="btn btn-primary">Create Product</button>
                                </div>
                               
                            </form>
                        </div>
                    </div> <!-- card end// -->
                 
                    <div class="row">
                        <div class="col-sm-12">
                          <div class="preview-images"></div>
                        </div>
                      </div>

                </div>
               
                   
    </main>
<!-- added script -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(document).ready(function() {
        let imagesPreview = function(input, placeToInsertImagePreview) {
          if (input.files) {
            let filesAmount = input.files.length;
            for (i = 0; i < filesAmount; i++) {
              let reader = new FileReader();
              reader.onload = function(event) {
                $($.parseHTML("<img>"))
                  .attr("src", event.target.result)
                  .appendTo(placeToInsertImagePreview);
              };
              reader.readAsDataURL(input.files[i]);
            }
          }
        };
        $("#input-images").on("change", function() {
          imagesPreview(this, "div.preview-images");
        });
      });
    </script>






    <%- include('partials/script') %>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
      
          const showSizeButton = document.getElementById("showSizeButton");
          const sizeFieldsContainer = document.getElementById("sizeFieldsContainer");
        
          showSizeButton.addEventListener("click", function() {
            // Clear any existing dynamic fields
            sizeFieldsContainer.innerHTML = "";
        
            const numberSize = parseInt(document.querySelector("input[name='numberSize']").value);
            
            if (isNaN(numberSize) || numberSize <= 0) {
              alert("Please enter a valid number for Product Size.");
              return;
            }
        
            // Create dynamic size and price input fields
            for (let i = 0; i < numberSize; i++) {
                
              const sizeInput = document.createElement("input");
              sizeInput.type = "text";
              sizeInput.style.width = "50%";
              sizeInput.style.marginTop = "10px";
              sizeInput.placeholder = "Enter Size";
              sizeInput.classList.add("form-control");
              sizeInput.name = `size_${i}`;
        
            

             

              const stockInput = document.createElement("input");
              stockInput.type = "number";
              stockInput.style.width = "50%";
              stockInput.style.marginTop = "10px";
              stockInput.placeholder = "Enter Stock";
              stockInput.classList.add("form-control");
              stockInput.name = `stock_${i}`;
              
              const mrpInput = document.createElement("input");
              mrpInput.type = "number";
              mrpInput.style.width = "50%";
              mrpInput.style.marginTop = "10px";
              mrpInput.placeholder = "Enter MRP";
              mrpInput.classList.add("form-control");
              mrpInput.name = `mrp_${i}`;
              mrpInput.id =  `mrpId${i}`

                
              const prodiscInput = document.createElement("input");
              prodiscInput.type = "number";
              prodiscInput.style.width = "50%";
              prodiscInput.style.marginTop = "10px";
              prodiscInput.placeholder = "Enter discount";
              prodiscInput.classList.add("form-control");
              prodiscInput.name = `prodisc_${i}`;
              prodiscInput.id =  `prodiscId${i}`
              
           
              const priceInput = document.createElement("input");
              priceInput.type = "number";
              priceInput.style.width = "50%";
              priceInput.style.marginTop = "10px";
              priceInput.placeholder = "Enter Price";
              priceInput.classList.add("form-control");
              priceInput.name = `productprice_${i}`;
              priceInput.id = `productpriceId${i}`
              priceInput.style.visibility = 'hidden';
              
        
              // Append the inputs to the container
              sizeFieldsContainer.appendChild(sizeInput);
     
              sizeFieldsContainer.appendChild(stockInput);
              sizeFieldsContainer.appendChild(mrpInput);
              sizeFieldsContainer.appendChild(prodiscInput);
              sizeFieldsContainer.appendChild(priceInput);

              const price = document.getElementById(`productpriceId${i}`);
      const mrp = document.getElementById(`mrpId${i}`);
      const discount = document.getElementById(`product_disc`);
      const disc = parseFloat(document.getElementById('product_disc').value);
      var prodisc = document.getElementById(`prodiscId${i}`)
      console.log(prodisc)
      prodisc.value = disc
prodisc.readOnly = true

      mrp.addEventListener("input", function() {
   
        let mrpValue = parseFloat(this.value);
        let calculatedPrice = mrpValue - (mrpValue * (disc/100));

        if (isNaN(mrpValue) || isNaN(calculatedPrice)) {
          price.value = ''; // Clear the price field if MRP or calculated price is NaN
        } else {
          price.value = calculatedPrice.toFixed(2);
          price.style.visibility = 'visible'
          priceInput.readOnly = true
        }
      });
      discount.addEventListener("input", function() {

mrp.value = ''

      });

            }

    
  });
});
 
          
        </script>



</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
</html>