<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:31 GMT -->
<head>
    <meta charset="utf-8">
    <title>Telflex Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/user/css/maind134.css?v=3.4">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" type="text/css" href="/user/css/tableresp.css">



<link rel="stylesheet"
href= 
"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" /> 
<link rel="stylesheet" 
href= 
"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" /> 
<link rel="stylesheet" 
href= 
"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> 
<script src= 
"https://code.jquery.com/jquery-3.3.1.slim.min.js"> 
</script> 
<script src= 
"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"> 
</script> 
<script src= 
"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"> 
</script> 

<style>
          .modal {
          display: none;
          position: fixed;
          z-index: 1;
         margin-left: 10%;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgba(0,0,0,0.4);
        }
        
        .modal-content {
          background-color: #fefefe;
          margin: 15% auto;
          padding: 20px;
          border: 1px solid #888;
          width: 50%;
        }
        
        .close {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
</style>



</head>
<body>
    <div class="screen-overlay"></div>
    <%- include('partials/aside') %>
    <main class="main-wrap">
        <%- include('partials/header') %> 


<section class="mt-50 mb-50">
        
          <div class="container">
                    <button class="btn btn-primary" style="width: 20%" onclick="createField()">Create New</button>
              <div class="row">
                    
                  <div class="col">
                      <div class="table-responsive">
                          <table class="table shopping-summery text-center clean" style="font-size: 12px">
                              <thead>
                                  <tr class="main-heading">
                                      <th scope="col">Coupon Code</th>
                                      <th scope="col">Discount</th>
                                      <th scope="col">Issued Date</th>
                                      <th scope="col">Expiry Date</th>
                                      <th scope="col">Usage Limit</th>
                                      <th scope="col">Minimum purchase</th>
                                  
                                      <th scope="col">Status</th>
                                      <th scope="col">Created At</th>
                                      <th scope="col">Last Updated</th>
                                      <th scope="col">Action</th>
                                      <th scope="col">Change Status</th>
                                    
                                   
                                  </tr>
                              </thead>
                              <tbody id="inputFields">
                                      <% for(let i=0; i<coupon.length; i++){ %>
                                            <tr>
                                                <td><%= coupon[i].couponCode%></td>
                                                <td><%= coupon[i].discount%></td>
                                                <td><%= ((coupon[i].issuedAt).toString()).slice(0,16)%></td>
                                                <td><%= ((coupon[i].expiringAt).toString()).slice(0,16)%></td>
                                                <td><%= coupon[i].usageLimit%></td>
                                                <td><%= coupon[i].minimumPurchase%></td>
                                                <td><%= coupon[i].status%></td>
                                                <td><%= ((coupon[i].createdAt).toString()).slice(0,16)%></td>
                                                
                                                  <td><%= ((coupon[i].updatedAt).toString()).slice(0,16) %></td>
                                                 
                                                            <td><button class="btn btn-primary" id="modalBtn<%= i %>" onclick="openModal('<%= i %>')">Edit</button></td>
                                                  <td><button class="btn btn-primary" onclick="changeStatus('<%= coupon[i]._id %>')">Status</button></td>



                                                  <div class="modal" id="myModal<%= i %>">
                                                            <div class="modal-content">
                                                              <span class="close" onclick="closeModal('<%= i %>')">&times;</span>
                                                              <!-- Your form content here -->
                                                              <form id="modalForm<%= i %>">
                                                                      <form id="modalForm">
                                                                                <label for="name">Coupon Name: </label>
                                                                                <input type="text" id="couponname" value="<%= coupon[i].couponCode%>" name="name" required><br><br>
                                                                                <input type="number" id="discount" value="<%= coupon[i].discount%>" name="name" required><br><br>
                                                                                
                                                                                <label for="email">Expiry :</label> <br>
                                                                                <div class="datepicker2 date input-group p-0 shadow-sm" style=" height: 45px; width: 175px">
                                                                                      
                                                                                          <input id="updateDate" style="height: 45px;" value="<%= coupon[i].expiringAt  %>" type="text" class="form-control py-2 px-2" />
                                                                                          <span id="showupdateDate" hidden></span>
                                                                                          <span class="input-group-append">
                                                                                              <span class="input-group-text px-2">
                                                                                                  <i class="fa fa-calendar"></i>
                                                                                              </span>
                                                                                          </span>
                                                                                      </div>
                                                                                
                                                                                <label for="email">Usage Limit</label>
                                                                                <input type="number" id="usage" value="<%= coupon[i].usageLimit  %>" name="email" required><br><br>
                                                                                <label for="email">Minimum Purchase</label>
                                                                                <input type="number" id="minimum" value="<%= coupon[i].minimumPurchase  %>" name="email" required><br><br>
                                                                                
                                                                                
                                                                                <input type="submit" value="Submit" onclick="updateCoupon('<%= coupon[i]._id%>')">
                                                                              </form>
                                                              </form>
                                                            </div>
                                                          </div>



                                                 

                                            </tr>
                                            <% } %>
                                            <tr id="createFields" hidden>
                                                  <!-- Sample content with inputs -->
                                                  <td><input class="shadow-sm"  placeholder="Coupon Code" style="width: 110px; " type="text" name="" id="couponCode" ></td>
                                                  <td><input class="shadow-sm"  style="width: 50px" placeholder="0%" name="" type="number" id="discount" onkeypress="return onlyNumberKey(event)"></td>
                                                  <td>
                                                      <div class="datepicker date input-group p-0 shadow-sm" style="height: 45px; width: 130px">
                                                          <input id="fromDate" style="height: 45px;" type="text" class="form-control py-2 px-2" />
                                                          <span id="showFromDate" hidden></span>
                                                          <span class="input-group-append">
                                                              <span class="input-group-text px-2">
                                                                  <i class="fa fa-calendar"></i>
                                                              </span>
                                                          </span>
                                                      </div>
                                                  </td>
                                                  <td>
                                                      <div class="datepicker date input-group p-0 shadow-sm" style=" height: 45px; width: 130px">
                                                          <input id="toDate" style="height: 45px;" type="text" class="form-control py-2 px-2" />
                                                          <span id="showToDate" hidden></span>
                                                          <span class="input-group-append">
                                                              <span class="input-group-text px-2">
                                                                  <i class="fa fa-calendar"></i>
                                                              </span>
                                                          </span>
                                                      </div>
                                                  </td>
                                                  <td><input style="width: 50px" type="number" value="" placeholder="1" id="usage" onkeypress="return onlyNumberKey(event)"></td>
                                                  <td><input style="width: 80px" type="number" placeholder="3000" value="" id="minimum" onkeypress="return onlyNumberKey(event)"></td>
                                                  <td><input type="text" placeholder="To be listed" style="width: 100px;" readonly></td>
                                              
                                                  <td><input style="width: 120px" type="" value="" readonly id="timestampField"></td>
                                                  <td><input style="width: 120px;" type="text" value="no info" readonly></td>
                                                  <td><button type="button" onclick="saveCoupon()" class="btn btn-primary"> SAVE </button></td>
                                              </tr>
                                      

                                      </tbody>
                                 
                              
                              
                          </table>
                      </div>
                    
                      <script>
                              $(".datepicker").datepicker({
                                  clearBtn: true,
                                  format: "dd/mm/yyyy",
                              });
                          
                              $("#fromDate ,#toDate").on("change", function() {
                                  let from = $("#fromDate").val();
                                  let to = $("#toDate").val();
                              //     let update = new Date($("#updateDate").val());
                                  $("#showFromDate").text(`${from}`);
                                  $("#inputFrom").text(`${from}`);
                                  $("#showToDate").text(`${to}`);
                                  $("#inputTo").text(`${to}`);
                                  $('#fromToDate').text(`${from}`)
                                  $('#toFromDate').text(`${to}`)
                              //     $('#showupdateDate').text(`${update}`)
                                 
                              });


                              $(".datepicker2").datepicker({
    clearBtn: true,
    format: 'yyyy-mm-dd', 
    setDate: new Date(), 
});

$("#updateDate").on("change", function() {
    let update = new Date($(this).val()); // Get the value from the updateDate input
    let formattedUpdate = update.toISOString().split('T')[0]; // Format date to 'yyyy-mm-dd'
    $('#showupdateDate').text(formattedUpdate);
});


                          </script>
                      <div id="myModal" class="modal">
                              <div class="modal-content">
                                <span class="close">&times;</span>
                                <p id="modalMessage"></p>
                              </div>
                            </div>
                     
                      <div class="divider center_icon mt-50 mb-50"></div>
                  
                         
                          </div>
                      </div>
                  </div>
                     
      
      </section>

      
        

</body>
<script>
function onlyNumberKey(evt) {
    let ASCIICode = (evt.which) ? evt.which : evt.keyCode;
    if (ASCIICode >= 48 && ASCIICode <= 57) { // Numbers from 0 to 9
        return true;
    } else {
        return false;
    }
}


      function setTimestamp() {
        var timestampInput = document.getElementById('timestampField');
        var timestamp = (new Date()).toISOString().slice(0, 13); // Generate timestamp

        timestampInput.value = timestamp; // Set timestamp as input value
        timestampInput.placeholder = timestamp; // Set timestamp as placeholder
    }
    window.onload = function() {
        setTimestamp();
    };

    function createField()
    {
         var field = document.getElementById('createFields').removeAttribute('hidden')
         
    }
   
        
        </script>
    
        
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
         async function saveCoupon() {
    try {
        var code =  document.getElementById('couponCode').value;
        var disc = parseInt(document.getElementById('discount').value)
        var issued = document.getElementById('showFromDate').innerText;
        var expiry = document.getElementById('showToDate').innerText;
        var usage = parseInt(document.getElementById('usage').value)
        var minimum = parseInt(document.getElementById('minimum').value)
        console.log(typeof disc)
        console.log(typeof usage)
console.log(typeof minimum)
        // Make the POST request to the backend
        const response = await fetch('/admin/saveCoupon', {
            method: 'POST',
            headers: {
                'Content-type': 'application/json'
            },
            body: JSON.stringify({ code, disc, issued, expiry, usage, minimum })
        });

        if (!response.ok) {
            const errorMessage = await response.json(); // Get the error message from the response
            throw new Error(errorMessage.error); // Throw an error with the received error message
        }

        const responseData = await response.json();
     
        console.log('Request was successful:', responseData);
        window.location.reload();
    } catch (error) {
        console.error('There was a problem with the fetch operation:', error);
    
        Swal.fire({
         
           
            text: error.message // Display the received error message
        });
    }
}




        </script>
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <script>
// Function to open the modal
function openModal(i) {
  const modal = document.getElementById(`myModal${i}`);
  modal.style.display = "block";
}

// Function to close the modal
function closeModal(i) {
  const modal = document.getElementById(`myModal${i}`);
  modal.style.display = "none";
}



for (let i = 0; i <= 1; i++) {
  const form = document.getElementById(`modalForm${i}`);
  form.addEventListener("submit", function (event) {
    event.preventDefault();
    
    closeModal(i); 
  });
}



async function updateCoupon(couponid) {
  try {
    const id = couponid;
    const couponname = document.getElementById('couponname').value;
    const usage = document.getElementById('usage').value;
    const minimum = document.getElementById('minimum').value;
    const discount = document.getElementById('discount').value;
    const dateupdate = new Date(document.getElementById('updateDate').value);

    // Format the date to ISO string format
    const isoDateString = dateupdate.toISOString();
    console.log(dateupdate);
    console.log(discount);
    console.log(minimum);
    console.log(couponname);
    console.log(usage);

    const data = {
      id,
      couponname,
      usage,
      minimum,
      discount,
      dateupdate: isoDateString,
    };

    console.log(data);
    console.log(JSON.stringify(data));

    const response = await fetch('/admin/updateCoupon', {
      method: 'POST',
      headers: {
        'Content-type': 'application/json',
      },
      body: JSON.stringify(data),
    });

   

    if (response.status === 404) {
   
      const responseData = await response.json();
      console.log('Request was unsuccessful:', responseData);

      Swal.fire({
        icon: 'error',
        title: 'Date Error!',
        text: responseData.message,
      });
    } else if (!response.ok) {
     
      throw new Error('Received a non-OK response');
    } else {
     
      const responseData = await response.json();
      console.log('Request was successful:', responseData);
    }
  } catch (error) {
    console.log(error);
    Swal.fire({
        icon: 'error',
        title: 'Data Error!',
        text: 'some error occured',
      });
  }
}

async function changeStatus(couponId) {
  try {
    const id = couponId;

    const response = await fetch(`/admin/couponStatus?id=${id}`, {
      method: 'GET'
    });

    if (!response.ok) {
      const errorMessage = `HTTP error! Status: ${response.status}`;
      throw new Error(errorMessage);
    }

    const responseData = await response.json();
    Swal.fire({
      icon: 'success',
      title: 'Successful',
      text: responseData.message,
    });
    setTimeout(()=>{
      window.location.href = '/admin/getCouponOffer'
    },1200)
  
    console.log(responseData);
  } catch (error) {
    console.error('Error:', error.message);
    
  }
}


   </script>
</html>