<%- include('partials/head') %>
<body>
    <div class="screen-overlay"></div>
    <%- include('partials/aside') %>
    <main class="main-wrap">
        <%- include('partials/header') %> 
        <div class="container-fluid">
          <div class="container p-20">
                  
                              <div class="card">
                                  <div class="card-header">
                                      <h5>Account Details</h5>
                                  </div>
                                  <div class="card-body">
                                    
                                      <form id="change" method="post" name="enq" action="/user/updateAccount">
                                          <div class="row">
                                              <div class="form-group col-md-6">
                                                  <label>First Name <span class="required">*</span></label>
                                                  <input id="firstname" required="" class="form-control square" name="name" value="<%= users.firstname  %>" type="text">
                                              </div>
                                              <div class="form-group col-md-6">
                                                  <label>Last Name <span class="required">*</span></label>
                                                  <input id="lastname" required="" class="form-control square" name="phone" value="<%= users.lastname %>">
                                              </div>
                                            
                                         
                                              <div class="form-group col-md-12">
                                                  <label>Email Address <span class="required">*</span></label>
                                                  <input id="email" required="" class="form-control square" name="email" type="email" value="<%= users.email %>" readonly>
                                              </div>
                                              <div class="form-group col-md-12">
                                                  <label>Current Password <span class="required">*</span></label>
                                                  <input id="password" required="This field is required" class="form-control square" name="password" type="password">
                                              </div>
                                              <div class="form-group col-md-12">
                                                  <label>New Password <span class="required">*</span></label>
                                                  <input id="newpassword" required="" class="form-control square" name="newpassword" type="password">
                                              </div>
                                              <div class="form-group col-md-12">
                                                  <label>Confirm Password <span class="required">*</span></label>
                                                  <input id="confirmpassword" required="" class="form-control square" name="confirmpassword" type="password">
                                              </div>
                                              <div class="col-md-12">
                                                  <input onclick="changePassword()" class="btn btn-fill-out submit" name="submit" value="Submit">
                                              </div>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                    </div>
                    <script>
                        async function changePassword() {
                            const firstname = document.getElementById('firstname').value;
                            const lastname = document.getElementById('lastname').value;
                            const password = document.getElementById('password').value;
                            const newpassword = document.getElementById('newpassword').value;
                            const confirmpassword = document.getElementById('confirmpassword').value;
                        
                            if (newpassword !== confirmpassword) {
                                await Swal.fire({
                                    title: 'Passwords do not match!',
                                    text: 'Type the same password in both fields',
                                    icon: 'error',
                                    showCancelButton: true,
                                    confirmButtonText: 'Ok',
                                });
                                return; // Stop further execution if passwords don't match
                            }
                        
                            const confirmation = await Swal.fire({
                                title: 'Update account?',
                                text: 'You are about to change your account credentials.',
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#d33',
                                cancelButtonColor: '#3085d6',
                                confirmButtonText: 'Yes, change it!',
                                cancelButtonText: 'Cancel',
                            });
                        
                            if (confirmation.isConfirmed) {
                                const data = {
                                    password,
                                    newpassword,
                                    confirmpassword,
                                    firstname,
                                    lastname,
                                };
                        
                                const response = await fetch('/user/updateAccount', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json', // Fix typo here
                                    },
                                    body: JSON.stringify(data), // Convert data to JSON string
                                });

                                if(response.status === 401)
                                {
                                    Swal.fire({
                                        title: 'Error',
                                        text: 'Error in updating credentials',
                                        icon: 'error',
                                        showCancelButton: true,
                                        confirmButtonText: 'Ok',
                                    });
                                    return;

                                }
                        
                                if (!response.ok) {
                                      Swal.fire({
                                        title: 'Error',
                                        text: 'Error in updating credentials',
                                        icon: 'error',
                                        showCancelButton: true,
                                        confirmButtonText: 'Ok',
                                    });
                                    return;
                                }
                               
                               
                                    Swal.fire({
                                    title: 'Updated',
                                    text: 'Your account credentials have been updated',
                                    icon: 'success',
                                    showConfirmButton: false,
                                });
                                window.location.reload()

                                
                        
                                const responseData = await response.json();
                                console.log(responseData);
                        
                                  
                            }
                        }
                        </script>
          
</body>
</html>