    <%- include('partials/head') %>

    <body>
        <div class="screen-overlay"></div>
        <%- include('partials/aside') %>
        <main class="main-wrap">
            <%- include('partials/header') %> 
<% if(errors){ %>
  
  <div id="error-message" class="alert alert-danger" role="alert">
  Failed to update product, fill in details properly!
</div>
 
  <% } %>
           
          

            <section class="content-main">
                <div class="row">
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Edit Product</h2>
                        
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Product Info</h4>
                            </div>
                            <div class="card-body">
                                <form id="editProductForm" action="/admin/editProducts?_id=<%= _id %>" method="Post" enctype="multipart/form-data">
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Product title</label>
                                        <% if (products && products.productName) { %>
                                          <input type="text" placeholder="Type here" value="<%= products.productName%>" class="form-control" id="product_name" name="productname">
                                   
                                        <% } else { %>
                                          <input type="text" placeholder="Type here" class="form-control" id="product_name" name="productname">
                                          <% } %>
                                         
     
                                      
                                    </div>
                                    <div class="mb-4">
                                        <div class="mb-4">
                                            <label for="product_category" class="form-label">Product Category</label>
                                            <select class="form-control" id="product_category" value="<%= categories.categoryName %>" name="category">
                                              
                                              <% categories.filter(category => category.published === true).forEach(category => { %>
                                                <option value="<%= category._id %>"><%= category.categoryName %></option>
                                              <% }); %>
                                               
                                        
                                            </select>
                                            
                                        </div>
                                        <label for="product_name" class="form-label">Product Details</label>
                                    <% if(products && products.size && products.size.length > 0){ %>
                                            <% for (let i = 0; i < products.size.length; i++) { %>
                                                <div class="mb-4" style="width: 50%;">
                                                    <label for="product_name" class="form-label">Size</label>
                                                    <input type="text" class="form-control" id="product_size" name="productsize<%=i%>" value="<%= products.size[i].size %>">
                                                    <label for="product_name" class="form-label">Price</label>
                                                    <input readonly class="form-control" id="productprice<%= i  %>" name="productprice<%= i %>" value="<%= products.size[i].productPrice %>">
                                                    <label for="product_name" class="form-label">Stock</label>
                                                    <input type="number" class="form-control" id="product_stock" name="productstock<%= i %>" value="<%= products.size[i].stock %>">
                                                    <label for="product_name" class="form-label">Mrp</label>
                                                    <input type="number" class="form-control" id="productmrp<%= i  %>" name="productmrp<%= i %>" value="<%= products.size[i].mrp %>">
                                                    <label for="product_name" class="form-label">Discount</label>
                                                    <input type="number" oninput="changePrice('<%= i %>')" class="form-control" id="productDiscount<%= i %>" name="productDiscount<%= i %>" value="<%= products.size[i].productDiscount %>">
                                                </div>
                                    <% } %>
                                    <% } %>
                                        
                              
                            
                                        
                                    
                                    <!-- <div class="mb-4">
                                        <label for="product_name" class="form-label">Product Discount</label>
                                        <% if (products && products.productDiscount) { %>
                                          <input type="text" value="<%= products.productDiscount %>" class="form-control" id="product_name" name="productdiscount">
                                        <% } else { %>
                                          <input type="text" value="" class="form-control" id="product_name" name="productdiscount">
                                        <% } %>
                                      </div> -->

                                      <div class="mb-4">
                                        <label for="product_name" class="form-label">Tag</label>
                                        <% if (products && products.featured) { %>
                                          <input type="text" value="<%= products.tags %>" placeholder="Type here" class="form-control" id="tag" name="tags" >
                                         
                                        <% } else { %>
                                          <input type="text"  placeholder="Type here" class="form-control" id="tag" name="tags" >
                                        <% } %>
                                        
                                    </div>
                                      <div class="mb-4">
                                          <label for="product_name" class="form-label">Features</label>
                                          <% if (products && products.features) { %>
                                            <input type="text" value="<%= products.features %>" placeholder="Type here" class="form-control" id="tag" name="features" >
                                           
                                          <% } else { %>
                                            <input type="text"  placeholder="Type here" class="form-control" id="tag" name="features" >
                                          <% } %>
                                      </div>
                                      <div class="mb-4">
                                        <label for="product_name" class="form-label">Feature the product?</label>
                                        <% if (products && products.featured) { %>
                                          <input type="text" value="<%= products.featured %>" placeholder="Type here" class="form-control" id="tag" name="featured" >
                                         
                                         
                                        <% } else { %>
                                          <input type="text"  placeholder="Type here" class="form-control" id="tag" name="featured" >
                                        <% } %>
                                    </div>

                                      
                                      
                                      
                                      
                                      <div class="mb-4">
                                        <label for="product_name" class="form-label">Product Model</label>
                                        <% if (products && products.model) { %>
                                          <input type="text" value="<%= products.model %>" class="form-control" id="product_name" name="model">
                                        <% } else { %>
                                          <input type="text" value="" class="form-control" id="product_name" name="model">
                                        <% } %>
                                      </div>

                                      <div class="mb-4">
                                        <label for="product_name" class="form-label">Description</label>
                                        <% if (products && products.description){ %>
                                         
                                           <textarea name="description" id="dynamicTextArea" class="form-control" cols="30" rows="10"><%= products.description %></textarea>
                                        <% } else { %>
                                          <textarea name="description" id="dynamicTextArea" class="form-control" cols="30" rows="10"></textarea>
                                        <% } %>
                                      </div>
                                      <div class="mb-4">
                                        <label for="product_name" class="form-label">Short Description</label>
                                        <% if (products && products.shortDescription) { %>
                                          <input type="text" value="<%= products.shortDescription %>" class="form-control" id="product_name" name="shortdescription">
                                        <% } else { %>
                                          <input type="text" value="" class="form-control" id="product_name" name="shortdescription">
                                        <% } %>
                                      </div>
                                   

                               
                                
                                
                                  
                                <p>Click to delete the images, once pressed, cannot be reverted!</p>
                                    
                                      <% if (products && products.images && products.images.length > 0) { %>
                                        <% for (let i = 0; i < products.images.length; i++) { %>
                                          <a  href="/admin/deleteImage?_id=<%= products._id %>&imagePath=<%= products.images[i] %>" type="">
                                            <img style="width: 100px; height: 100px;" src="/<%= products.images[i] %>" alt="Product Image">
                                          </a>
                                        <% } %>
                                      <% } else { %>
                                      
                                        <p>No images available for this product</p>
                                      <% } %>
                                      
                                      
                                      
                                      
                                      
                                    

                                    </div>
                                    <div class="d-grid">
                                        <label for="file-upload" class="custom-file-upload">
                                          <div class="row">
                                            <h3>Selected Images</h3>
                                            <div class="col-sm-12">
                                              <div class="preview-images" style="width: 200px; height: 200px;"></div>
                                            </div>
                                          </div>
                                        <input type="file" id="input-images" name="images" class="form-control" accept="image/*" multiple>
                                    </div>
                                
                                    <div class="d-grid">
                                        <button  onclick="editProduct(event)" class="btn btn-primary">Edit Product</button>
                                    </div>
                                
                                </form>
                            </div>
                        </div> <!-- card end// -->
                     
                    </div>
                
                    
        </main>
        <%- include('partials/script') %>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(document).ready(function() {
        let imagesPreview = function(input, placeToInsertImagePreview) {
          if (input.files) {
            let filesAmount = input.files.length;
            for (i = 0; i < filesAmount; i++) {
              let reader = new FileReader();
              reader.onload = function(event) {
                $($.parseHTML("<img>"))
                  .attr("src", event.target.result)
                  .appendTo(placeToInsertImagePreview);
              };
              reader.readAsDataURL(input.files[i]);
            }
          }
        };
        $("#input-images").on("change", function() {
          imagesPreview(this, "div.preview-images");
        });
      });
    </script>


<script src="/scripts/hideerror.js"></script>
     
   
<script>
  function changePrice(i) {
    var productDiscount = parseFloat(document.getElementById(`productDiscount${i}`).value);
   
    var mrp = parseFloat(document.getElementById(`productmrp${i}`).value);

    if (!isNaN(productDiscount) && !isNaN(mrp)) {
      var discountedPrice =  mrp - (mrp * (productDiscount / 100));
      // Set the calculated discounted price into the price input field
      document.getElementById(`productprice${i}`).value = parseInt(discountedPrice.toFixed(2))
    } else {
      // Handle the case where the input values are invalid or empty
      alert('Please enter valid numbers for discount and MRP.');
    }
  }
</script>

<script>
  async function editProduct(event)
  {
      try {
event.preventDefault()
const confirmResult = await Swal.fire({
title: 'Edit Product',
text: 'Are you sure you want to edit this product?',
icon: 'question',
showCancelButton: true,
confirmButtonColor: '#3085d6',
cancelButtonColor: '#d33',
confirmButtonText: 'Yes, edit it!'
});

if (confirmResult.isConfirmed) {
const form = document.getElementById('editProductForm')
form.submit()





  await Swal.fire('Success', 'Product edited successfully!', 'success');


}
} catch (error) {
console.error('Error editing product:', error);

await Swal.fire('Error', 'An error occurred while editing the product', 'error');
}

      

  }
</script>

        
    </body>


    <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
    </html>