    <%- include('partials/head') %>

    <body>
        <div class="screen-overlay"></div>
        <%- include('partials/aside') %>
        <main class="main-wrap">
            <%- include('partials/header') %> 
            <section class="content-main">
                <div class="row">
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Edit Product</h2>
                        
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Product Info</h4>
                            </div>
                            <div class="card-body">
                                <form action="/admin/editProducts?_id=<%= _id %>" method="Post" enctype="multipart/form-data">
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Product title</label>
                                        <% if (products && products.productName) { %>
                                          <input type="text" placeholder="Type here" value="<%= products.productName%>" class="form-control" id="product_name" name="productname">
                                   
                                        <% } else { %>
                                          <input type="text" placeholder="Type here" class="form-control" id="product_name" name="productname">
                                          <% } %>
                                         
     
                                      
                                    </div>
                                    <div class="mb-4">
                                        <div class="mb-4">
                                            <label for="product_category" class="form-label">Product Category</label>
                                            <select class="form-control" id="product_category" value="<%= categories.categoryName %>" name="category">
                                                <option value="">Select a Category
                                                </option>
                                                <% categories.filter(category => category.published === true).forEach(category => { %>
                                                    <option value="<%= category.categoryName %>"><%= category.categoryName %></option>
                                                <% }); %>
                                               
                                        
                                            </select>
                                            
                                        </div>
                                        <label for="product_name" class="form-label">Product Details</label>
                                    <% if(products && products.size && products.size.length > 0){ %>
                                            <% for (let i = 0; i < products.size.length; i++) { %>
                                                <div class="mb-4" style="width: 50%;">
                                                    <label for="product_name" class="form-label">Size</label>
                                                    <input type="text" class="form-control" id="product_size" name="productsize<%=i%>" value="<%= products.size[i].size %>">
                                                    <label for="product_name" class="form-label">Price</label>
                                                    <input type="number" class="form-control" id="product_price" name="productprice<%= i %>" value="<%= products.size[i].productPrice %>">
                                                    <label for="product_name" class="form-label">Stock</label>
                                                    <input type="number" class="form-control" id="product_stock" name="productstock<%= i %>" value="<%= products.size[i].stock %>">
                                                    <label for="product_name" class="form-label">Mrp</label>
                                                    <input type="number" class="form-control" id="product_mrp" name="productmrp<%= i %>" value="<%= products.size[i].mrp %>">
                                                </div>
                                    <% } %>
                                    <% } %>
                                        
                              
                            
                                        
                                    
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Product Discount</label>
                                        <% if (products && products.productDiscount) { %>
                                          <input type="text" value="<%= products.productDiscount %>" class="form-control" id="product_name" name="productdiscount">
                                        <% } else { %>
                                          <input type="text" value="" class="form-control" id="product_name" name="productdiscount">
                                        <% } %>
                                      </div>
                                      
                                      <div class="mb-4">
                                        <label for="product_name" class="form-label">Color</label>
                                        <% if (products && products.cloth) { %>
                                          <input type="text" value="<%= products.cloth %>" class="form-control" id="product_name" name="cloth">
                                        <% } else { %>
                                          <input type="text" value="" class="form-control" id="product_name" name="cloth">
                                        <% } %>
                                      </div>
                                      
                                      <div class="mb-4">
                                        <label for="product_name" class="form-label">Product Model</label>
                                        <% if (products && products.model) { %>
                                          <input type="text" value="<%= products.model %>" class="form-control" id="product_name" name="model">
                                        <% } else { %>
                                          <input type="text" value="" class="form-control" id="product_name" name="model">
                                        <% } %>
                                      </div>

                                      <div class="mb-4">
                                        <label for="product_name" class="form-label">Description</label>
                                        <% if (products && products.description){ %>
                                         
                                           <textarea name="description" id="product_name" class="form-control" cols="30" rows="10"><%= products.description %></textarea>
                                        <% } else { %>
                                          <textarea name="description" id="product_name" class="form-control" cols="30" rows="10"></textarea>
                                        <% } %>
                                      </div>
                                      <div class="mb-4">
                                        <label for="product_name" class="form-label">Short Description</label>
                                        <% if (products && products.shortDescription) { %>
                                          <input type="text" value="<%= products.shortDescription %>" class="form-control" id="product_name" name="shortdescription">
                                        <% } else { %>
                                          <input type="text" value="" class="form-control" id="product_name" name="shortdescription">
                                        <% } %>
                                      </div>
                                      
                                      

                               
                                
                                
                                  
                                
                                    
                                      <% if (products && products.images && products.images.length > 0) { %>
                                        <% for (let i = 0; i < products.images.length; i++) { %>
                                          <a href="/admin/deleteImage?_id=<%= products._id %>&imagePath=<%= products.images[i] %>" type="">
                                            <img style="width: 100px; height: 100px;" src="/<%= products.images[i] %>" alt="Product Image">
                                          </a>
                                        <% } %>
                                      <% } else { %>
                                      
                                        <p>No images available for this product</p>
                                      <% } %>
                                      
                                      
                                      
                                      
                                      
                                    

                                    </div>
                                    <div class="d-grid">
                                        <label for="file-upload" class="custom-file-upload">
                                            <img src="/admin/imgs/theme/upload.svg" alt="Upload Image">
                                        <input type="file" name="images" class="form-control" accept="image/*" multiple>
                                    </div>
                                
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary">Edit Product</button>
                                    </div>
                                
                                </form>
                            </div>
                        </div> <!-- card end// -->
                    
                    </div>
                
                    
        </main>
        <%- include('partials/script') %>


     
        

        
    </body>


    <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
    </html>