
<%- include('partials/head') %>



<body>
  
        
                        
          <div class="d-flex justify-content-center">
                    <a href=""><img style="width: 300px; height: 200px;" src="/user/imgs/theme/logo.png" alt="logo"></a>
          </div>
          <section class="mt-50 mb-50">
               
                    <div class="container">
                        <% if(orders && orders.length>0 ){ %>
                      <% let totalAmount = 0 %>
         <% for(let i = 0; i < orders.length; i++) { %>
                        <div style="margin-top: -70px;" class="row">
                              <div class="col-lg-3 col-sm-6">
                              
                                        <h5>Bill To</h5>
                                    <p>Name : <%= orders[i].address.name%></p>
                                    <p>Phone : <%= orders[i].address.phone%></p>
                                    <p>Address : <%= orders[i].address.Address%></p>
                                    <p>City : <%= orders[i].address.city%></p>
                                    <p>State : <%= orders[i].address.state%></p>
                                    <p>Pin Code : <%= orders[i].address.pincode%></p>
                                    <p>Landmark : <%= orders[i].address.landmark%></p>
                                       </div>
                                       <div class="col-lg-3 col-sm-6">
                                        <h5>Ship To</h5>
                                        <p>Name : <%= orders[i].address.name%></p>
                                        <p>Phone : <%= orders[i].address.phone%></p>
                                        <p>Address : <%= orders[i].address.Address%></p>
                                        <p>City : <%= orders[i].address.city%></p>
                                        <p>State : <%= orders[i].address.state%></p>
                                        <p>Pin Code : <%= orders[i].address.pincode%></p>
                                        <p>Landmark : <%= orders[i].address.landmark%></p>
                              </div>
                              </div></div></section>


  
        <section class="mt-50 mb-50">
        
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                     
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (orders && orders.length > 0) { %>
                                        <% orders.forEach(order => { %>
                                            <% if (order.items && order.items.length > 0) { %>
                                                <% order.items.forEach(item => { %>
                                                 
                                                        
                                                        <tr>
                                                            <input type="text" value="<%= item.productId %>" id="" hidden>
                                                            <td class="image product-thumbnail">
                                                                <img  src="/<%= item.productId.images[0] %>" alt="#">
                                                            </td>
                                                            <td class="product-des product-name">
                                                                <h5 class="product-name">
                                                                    <a href=""><%= item.productId.productName %></a>
                                                                </h5>
                                                                <p class="font-xs"><%= item.size  %><br> <%= item.productId.shortDescription  %></p>
                                                            </td>
                                                            <td class="price" data-title="Price"><span>&#8377;<%= item.price %></span></td>
                                                            <td class="quantity" data-title="Quantity"><span><%= item.quantity %></span>
                                                           
                                                            </td>
                                                            <td class="text-right" data-title="Cart">
                                                                <span class="calctotal fs-5" id="calcprice">&#8377;<%= item.price * item.quantity %></span>
                                                            </td>
                                                            <td class="text-right" data-title="Status">
                                                                <span class="status" id="status"><%= item.status %></span>
                                                                
                                                            </td>
                                                         
                                                            <form id="formSubmit" method="post" action="/admin/updateOrderStatus?_id=<%= item._id%>">
                                                                <div class="col-lg-2 col-6 col-md-3">
                                                                   <input type="text" name="orderId" value="<%= orders[i]._id%>" hidden>
                                                                   <% if(item.status !== 'Cancelled' && item.status !== 'Returned') { %>
                                                                    <td> <select style="width: 100px;" name="orderStatus" onchange="this.form.submit()" class="form-select">
                                                                        <option value=""><%= orders[i].orderStatus %></option>
                                                                        <option>Placed</option>
                                                                        <option>Shipped</option>
                                                                        <option>Delivered</option>
                                                                        <option>Cancelled</option>
                                                                        <option>Returned</option>
                                                                    </select></td>
                                                                <% } else { %>
                                                                    <% if(item.status === 'Cancelled'){ %>
                                                                        <td> <p>Item Cancelled</p>
                                                                            <br>
                                                                            <span>Reason for cancel : <%= item.reason  %></span></td>
                                                                        <% } else { %>
                                                                           <td> <p>Item Returned</p>
                                                                            <br>
                                                                            <span>Reason for return : <%= item.reason  %></span></td>
                                                                            <% } %>
                                                                <% } %>
                                                                </div>
                                                            </form>
                                                        
                                                       
                                                            
                                                        </tr>
                                                        <hr>
                                               
                                                <% }) %>
                                            <% } %>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                                
                                
                            </table>
                        </div>
                      


                       
                        <div class="divider center_icon mt-50 mb-50"></div>
                        <div class="row mb-50">
                            
                                   
                               
                             
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="border p-md-4 p-30 border-radius cart-totals">
                                    <div class="heading_s1 mb-3">
                                        <h4>Bill Totals</h4>
                                    </div>
                                    <div>
                            <% orders.forEach(order => { 
                             order.items.forEach(item => { 
                                 
                                    totalAmount += item.price * item.quantity;
                                
                                });
                             }); %>
                        </div>
                                    
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="cart_total_label">Bill Subtotal</td>
                                                <input type="number" value="<%= totalAmount %>" name="totalAmount" hidden>
                                                    <td class="cart_total_amount"><span id="showtotal" class="font-lg fw-900 text-brand"></span>&#8377;<%= totalAmount %></td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Shipping</td>
                                                    <td class="cart_total_amount"> <i class="ti-gift mr-5"></i><p class="text-start">Free Shipping</p> </td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Total</td>
                                                    <td class="cart_total_amount"><span id="showtotalamount" class="font-lg fw-900 text-brand"></span>&#8377;<%= totalAmount  %></td>
                                                    <input type="number" name="totalamountcheckout" value="" id="totalinputfield" hidden>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                   <div class="row">
                                        <div class="col-2">
                                    <input type="button" id="printbtn" onclick="window.print()" style="background-color: rgb(6, 75, 12); color: white; border: none; padding: 10px 20px; cursor: pointer;" value="Print Invoice">
                              </div>
                                   
                                   
                                 
                                
                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </section>
    </main>
    <% } %>
    <% } %>
  
   





 










  
  
  
  
      
      
  
      
      
      
      

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>