
<%- include('partials/head') %>



<body>
  
        
                        
          <div class="d-flex justify-content-center">
                    <a href=""><img style="width: 300px; height: 200px;" src="/user/imgs/theme/logo.png" alt="logo"></a>
          </div>
          <section class="mt-50 mb-50">
               
                    <div class="container">
                        <% if(orders && orders.length>0 ){ %>
                      
         <% for(let i = 0; i < orders.length; i++) { %>
                        <div style="margin-top: -70px;" class="row">
                              <div class="col-lg-3 col-sm-6">
                              
                                        <h5>Bill To</h5>
                                    <p>Name : <%= orders[i].address.name%></p>
                                    <p>Phone : <%= orders[i].address.phone%></p>
                                    <p>Address : <%= orders[i].address.Address%></p>
                                    <p>City : <%= orders[i].address.city%></p>
                                    <p>State : <%= orders[i].address.state%></p>
                                    <p>Pin Code : <%= orders[i].address.pincode%></p>
                                    <p>Landmark : <%= orders[i].address.landmark%></p>
                                       </div>
                                       <div class="col-lg-3 col-sm-6">
                                        <h5>Ship To</h5>
                                        <p>Name : <%= orders[i].address.name%></p>
                                        <p>Phone : <%= orders[i].address.phone%></p>
                                        <p>Address : <%= orders[i].address.Address%></p>
                                        <p>City : <%= orders[i].address.city%></p>
                                        <p>State : <%= orders[i].address.state%></p>
                                        <p>Pin Code : <%= orders[i].address.pincode%></p>
                                        <p>Landmark : <%= orders[i].address.landmark%></p>
                              </div>
                              </div></div></section>


  
        <section class="mt-50 mb-50">
        
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Cancel</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (orders && orders.length > 0) { %>
                                        <% orders.forEach(order => { %>
                                            <% if (order.items && order.items.length > 0) { %>
                                                <% order.items.forEach(item => { %>
                                                    <tr>
                                                        <% if (item.status !== 'Cancelled' && order.orderStatus !== 'Cancelled') { %>
                                                            <input type="text" value="<%= item.productId %>" id="" hidden>
                                                            <td class="image product-thumbnail">
                                                                <img src="/<%= item.productId.images[0] %>" alt="#">
                                                            </td>
                                                            <td class="product-des product-name">
                                                                <h5 class="product-name">
                                                                    <a href="shop-product-right.html"><%= item.productId.productName %></a>
                                                                </h5>
                                                                <p class="font-xs">Maboriosam in a tonto nesciung eget<br> distingy magndapibus.</p>
                                                            </td>
                                                            <td class="price" data-title="Price"><span><%= item.price %></span></td>
                                                            <td class="quantity" data-title="Quantity"><span><%= item.quantity %></span></td>
                                                            <td class="text-right" data-title="Cart">
                                                                <span class="calctotal" id="calcprice"><%= item.price * item.quantity %></span>
                                                            </td>
                                                            <td class="cancel" data-title="Cancel">
                                                                <button class="btn btn-danger" onclick="cancelOrder('<%= item._id %>')">Cancel</button>
                                                            </td>
                                                        <% } else if (item.status === 'Cancelled' && order.orderStatus === 'Cancelled') { %>
                                                            <input type="text" value="<%= item.productId %>" id="" hidden>
                                                            <td class="image product-thumbnail">
                                                                <img src="/<%= item.productId.images[0] %>" alt="#">
                                                            </td>
                                                            <td class="product-des product-name">
                                                                <h5 class="product-name">
                                                                    <a href="shop-product-right.html"><%= item.productId.productName %></a>
                                                                </h5>
                                                                <p class="font-xs">Maboriosam in a tonto nesciung eget<br> distingy magndapibus.</p>
                                                            </td>
                                                            <td class="price" data-title="Price"><span><%= item.price %></span></td>
                                                            <td class="quantity" data-title="Quantity"><span><%= item.quantity %></span></td>
                                                            <td class="text-right" data-title="Cart">
                                                                <span class="calctotal" id="calcprice"><%= item.price * item.quantity %></span>
                                                            </td>
                                                        <% } %>
                                                    </tr>
                                                <% }) %>
                                            <% } %>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        


                       
                        <div class="divider center_icon mt-50 mb-50"></div>
                        <div class="row mb-50">
                            
                                   
                               
                             
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="border p-md-4 p-30 border-radius cart-totals">
                                    <div class="heading_s1 mb-3">
                                        <h4>Bill Totals</h4>
                                    </div>
                                    <form action="/user/cancelOrder" method="post">
                                    <div class="table-responsive">
                                 
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="cart_total_label">Bill Subtotal</td>
                                                
                                                    <td class="cart_total_amount"><span id="showtotal" class="font-lg fw-900 text-brand"></span><%= orders[i].totalAmount %></td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Shipping</td>
                                                    <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Total</td>
                                                    <td class="cart_total_amount"><span id="showtotalamount" class="font-lg fw-900 text-brand"></span><%= orders[i].totalAmount  %></td>
                                                    <input type="number" name="totalamountcheckout" value="" id="totalinputfield" hidden>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                   <div class="row">
                                        <div class="col-2">
                                    <input type="button" id="printbtn" onclick="window.print()" style="background-color: rgb(6, 75, 12); color: white; border: none; padding: 10px 20px; cursor: pointer;" value="Print Invoice">
                              </div>
                                   
                                    <div class="col-2">
                                        <input id="printbtn" type="submit" style="background-color: rgb(151, 7, 7); color: white; border: none; padding: 10px 20px; cursor: pointer;" value="Cancel Order" >
                              </div>
                                 
                                    </form>
                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </section>
    </main>
    <% } %>
    <% } %>
  
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="/user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/user/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/user/js/plugins/slick.js"></script>
    <script src="/user/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/user/js/plugins/wow.js"></script>
    <script src="/user/js/plugins/jquery-ui.js"></script>
    <script src="/user/js/plugins/perfect-scrollbar.js"></script>
    <script src="/user/js/plugins/magnific-popup.js"></script>
    <script src="/user/js/plugins/select2.min.js"></script>
    <script src="/user/js/plugins/waypoints.js"></script>
    <script src="/user/js/plugins/counterup.js"></script>
    <script src="/user/js/plugins/jquery.countdown.min.js"></script>
    <script src="/user/js/plugins/images-loaded.js"></script>
    <script src="/user/js/plugins/isotope.js"></script>
    <script src="/user/js/plugins/scrollup.js"></script>
    <script src="/user/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/user/js/maind134.js?v=3.4"></script>
    <script src="/user/js/shopd134.js?v=3.4"></script>




    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    function cancelOrder(_id) {
    
        Swal.fire({
            icon: 'warning',
            title: 'Are you sure?',
            text: 'Do you want to cancel this order?',
            showCancelButton: true,
            confirmButtonText: 'Yes, cancel it!',
            cancelButtonText: 'No, keep it'
        }).then((result) => {
            if (result.isConfirmed) {
               
                fetch(`/user/cancelOrder?_id=${_id}`, {
                    method: 'GET',
                })
                .then((res) => {
                    if (!res.ok) {
                        throw new Error('response was not okay');
                    }
                    return res.json();
                })
                .then((data) => {
                 
                    Swal.fire({
                        icon: 'success',
                        title: 'Order Cancelled',
                        text: 'Your order has been cancelled successfully!',
                    });
                    console.log(data); 
                    window.location.reload(); 
                })
                .catch((error) => {
                   
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong! Unable to cancel the order.',
                        footer: `<p>${error.message}</p>`,
                    });
                    console.log(error);
                });
            } else if (result.dismiss === Swal.DismissReason.cancel) {
             
                Swal.fire('Cancelled', 'Your order is safe :)', 'info');
            }
        });
    }
</script>



  
  
  
  
      
      
  
      
      
      
      

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>