<%- include('partials/head') %>
<body>
    <div class="screen-overlay"></div>
    <%- include('partials/aside') %>
    <main class="main-wrap">
        <%- include('partials/header') %> 
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Orders</h2>
                    <p>View and manage orders</p>
                </div>
                <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white">
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <form action="/admin/orderSearchResults" method="post">
                            <div class="col-lg-4 col-md-6 me-auto">
                              <input type="text" name="searchTerm" placeholder="Search..." class="form-control">
                            </div>
                            <div class="col-lg-4 col-md-6 me-auto mt-30">
                              <button type="submit" hidden>Search</button>
                            </div>
                          </form>
                          
                   
                       
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col"> Order Date</th>
                                    <th scope="col">Modified Date</th>
                                    <th scope="col">Product Info</td>
                                    <th scope="col">Total</th>
                                  
                                    <th scope="col">Status</th>
                                    <!-- <th scope="col">Date</th> -->
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 15px;">
                                <% if (orders && orders.length) { %>
                                    <% for (let i = 0; i < orders.length; i++) { %>
                                        <tr>
                                            <td><%= orders[i].orderId %></td>
                                            <td><b><%= orders[i].address.name %></b></td> 
                                            <td><%= orders[i].userId.email %></td>
                                            <td><%= ((orders[i].orderDate).toString()).slice(0,16)  %></td>
                                            <% if(orders[i].modifiedAt){ %>
                                                <td><%= ((orders[i].modifiedAt).toString()).slice(0,16)  %></td>
                                                <% } else {%>
                                                    <td>No data available yet</td>
                                                    <% } %>
                                            <td>
                                                <% for (let j = 0; j < orders[i].items.length; j++) { %>
                                                    <li style="margin-left: 20px;">
                                                        <p style="font-size: 15px;">Name : <%= orders[i].items[j].productName  %></p> 
                                                        <p style="font-size: 15px;">Quantity : <%= orders[i].items[j].quantity  %></span>
                                                        <p style="font-size: 12px;">Order Status : <%= orders[i].items[j].status  %></p>
                                                    </li>
                                                    <hr>
                                                <% } %>
                                            </td>
                                          
                                            <td><%= orders[i].totalAmount %></td>
                                            
                                            <td><span class="badge rounded-pill alert-warning"><%= orders[i].orderStatus %></span></td>
                                            <!-- <td><%= orders[i].orderDate %></td> -->
                                            <td class="text-end">
                                                <a href="/admin/viewOrderDetails?orderId=<%= orders[i].orderId %>" class="btn btn-md rounded font-sm">Detail</a>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% } %>
                                
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    
                    <ul class="pagination justify-content-start">
                        <% for(let i=1; i<=totalPages; i++) { %>
                            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                <a class="page-link" href="/admin/orderDetails?page=<%= i %>"><%= i %></a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <%- include('partials/script') %>


     
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->
</html>