<%- include('partials/head') %>
<body>
    <div class="screen-overlay"></div>
    <%- include('partials/aside') %>
    <main class="main-wrap">
        <%- include('partials/header') %> 
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Manage Customers</h2>
            
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <form action="/admin/searchUser" method="POST">
                            <input type="text" placeholder="Search..." class="form-control" name="searchTerm">
                        </form>
                        </div>
                       
                    </div>
                </header> <!-- card-header end// -->
             
                   <form action="/admin/sortUser" method="POST">
                    <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select mt-20" style="margin-left: 20px;" name="sortingLogic" onchange="this.form.submit()">
                        <option value="">Sort</option>
                      <option value="alphaplus">A-Z</option>
                      <option value="alphaminus">Z-A</option>
                      <option value="admin">Admin</option>
                      <option value="blocked">Blocked</option>
                    </select>
                </div>
                  </form>

                  <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Seller</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Registered</th>
                                    <th class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                              
                              <%user.forEach((item) => { %>
                                <tr>
                                  
                                    <td width="40%">
                                        <a href="#" class="itemside">
                                            <div class="left">
                                              
                                            </div>
                                            <div class="info pl-3">
                                                <h6 class="mb-0 title"><%= item.email  %></h6>
                                                <small class="text-muted"><%= item.firstname  %> <%= item.lastname %></small>
                                            </div>
                                        </a>
                                    </td>
                                    <td><%= item.phonenumber  %></td>
                                    <td><span class="badge rounded-pill alert-success"> <% if (item.isBlocked === true) { %>
                                      <p>Blocked</p>
                                    <% } else { %>
                                      <p>Active</p>
                                    <% } %></span></td>
                                    <td><span class="badge rounded-pill alert-success"> <% if (item.isAdmin === true) { %>
                                      <p>Admin</p>
                                    <% } else { %>
                                      <p>Not an admin</p>
                                    <% } %></span></td>
                                    <td>
                                      <a href="/admin/blockUser?email=<%= item.email%>"><i class="fa-solid fa-trash text-danger"></i></a>
                                  </td>
                                    
                                </tr>
                                <% }) %>
                                
                              
                            </tbody>
                        </table> <!-- table-responsive.// -->
                    </div>
                </div> 
        
                <div class="pagination-area mt-15 mb-50">
                  <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-start">
                        <% if(!search) {%>
                        <% for(let i=1; i<=totalPages; i++) { %>
                          <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                              <a class="page-link" href="/admin/viewCustomers?page=<%= i %>"><%= i %></a>
                          </li>
                      <% } %>
                      <% }else{ %>
                        <% for(let i=1; i<=totalPages; i++) { %>
                          <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                              <a class="page-link" href="/admin/searchView?page=<%= i %>"><%= i %></a>
                          </li>
                      <% } %>
                      <% } %>
                      </ul>
                  </nav>
              </div>
        
                  
                
           
        </section> <!-- content-main end// -->

       
    </main>
    <%- include('partials/script') %>

   
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-sellers-cards.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:23 GMT -->
</html>