<%- include('partials/head') %>
<body>
    <div class="screen-overlay"></div>
    <%- include('partials/aside') %>
    <main class="main-wrap">
        <%- include('partials/header') %> 
      
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products grid</h2>
                    <p>View and manage your products...</p>
                </div>
                <div>
                 
                    <a href="/admin/addproducts" class="btn btn-primary btn-sm rounded">Create new</a>
                </div>
            </div>
            <header class="card card-body mb-4" ">
                
                <div class="row gx-3">
                    <% if (typeof(errors) !== 'undefined' && errors.length > 0) { %>
                        <div id="error-message" style="background-color: rgba(255, 23, 23, 0.215); border-radius: 10px;">
                            <span>
                                <% errors.forEach(error => { %>
                                    <p style="color: red;"><%= error %></p>
                                <% }); %>
                            </span>
                        </div>
                    <% } %>


                    <form method="post" action="/admin/searchProducts">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control" name="searchTerm">
               
                    </div>
                </form>
       
                </div>
                <div style="display: flex; align-items: center; justify-content: flex-end; ">
                    <div class="col-lg-2 col-6 col-md-3" style="margin-top: 10px; margin-right: 10px;">
                        <form method="GET" id="categoryForm" >
                            <select class="form-select" name="category" onchange="submitForm()">
                               
                                    <option value="">All Categories</option>
                              

                                
                                <% categories.forEach(category => { %>
                                    <option value="<%= category._id %>"><%= category.categoryName %></option>
                                <% }); %>
                                
                               
                            </select>
                          
                          
                        </form>
                    </div>
                    <div style="margin-top: 10px;"><button class="btn btn-primary"><a href="/admin/viewProducts" class="text-white">View all</a></button></div>
                   
                    </div>
              </div>
                </div>
            
            </header> <!-- card-header end// -->

            <div class="row">
                <% products.forEach(products=>{%>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="card card-product-grid">
                    
                        <% if (products && products.images && products.images.length > 0) { %>
                            <!-- Display the first image -->
                            <a href="#" class="img-wrap">
                              <img src="/<%= products.images[0] %>" alt="Product">
                            </a>
                          <% } %>
                  
                        <div class="info-wrap">
                       
                        
                                <span>
                                <a href="/admin/editProductsView?_id=<%= products._id %>" class="btn btn-sm btn-brand rounded">
                                    <i class="fa fa-edit mb-1"  aria-hidden="true"></i>Edit
                                  </a>
                                  <a href="/admin/toggleListProducts?_id=<%= products._id %>" class="btn btn-sm btn-warning rounded">
                                    <i class="fa fa-check mb-1" aria-hidden="true"></i>Status
                                  </a>
                                  <a href="/admin/deleteProducts?_id=<%= products._id %>" class="btn btn-sm btn-danger rounded">
                                    <i class="fa fa-check mb-1" aria-hidden="true"></i>Delete
                                  </a>
                                </span>
                               
                               
                                  
                            
                              
                            <p style="font-size: medium; font-weight: bolder;"><%=products.productName%></p>
                            <div>
                                <label for="size">Price:</label>
                            <span class="price mt-1">  <% if (products.size && products.size.length > 0 && products.size[0].productPrice) { %>
                                <%= products.size[0].productPrice %>
                              <% } else { %>
                                Price Not Available
                              <% } %> </span></div>
                              <div>
                              <label for="size">Size:</label>
                              <span class="price mt-1">  <% if (products.size && products.size.length > 0 && products.size[0].size) { %>
                                <%= products.size[0].size %>
                              <% } else { %>
                                Size Not Available
                              <% } %> </span></div>
                            <div>
                              <label for="size">Stock:</label>
                              <span class="price mt-1">  <% if (products.size && products.size.length > 0 && products.size[0].stock) { %>
                                <%= products.size[0].stock %>
                              <% } else { %>
                                Stock Not Available
                              <% } %> </span></div>

                              <div>
                                <label for="status">Status : </label>
                               <% if(products && products.isListed){%>
                               <% if(products.isListed===true){ %>
                                    <span>listed</span>
    
                                <% } %>
                                <% } else { %>
                                 <span>unlisted</span>
                                <% } %>
                            </div>

                        </div>
                       
                       

                     
                    </div> <!-- card-product  end// -->
                 
                </div> <!-- col.// -->
                <% }) %>
             
               
                <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                           <% if(nopage){ %>
                          <% if(search){ %>
                            <% for(let i=1; i<=totalPages; i++) { %>
                                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                    <a class="page-link" href="/admin/searchProductsView?page=<%= i %>"><%= i %></a>
                                </li>
                            <% } %>
                            <% }else{ %>
                                <% for(let i=1; i<=totalPages; i++) { %>
                                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                        <a class="page-link" href="/admin/viewproducts?page=<%= i %>"><%= i %></a>
                                    </li>
                                <% } %>
                                <% } %>
<% } %>

                       
                        </ul>
                    </nav>
                </div>
        </section> <!-- content-main end// -->
   
    </main>
    <%- include('partials/script') %>
    <script>
        function submitForm() {
            
            document.getElementById('categoryForm').submit();
        }


    </script>

    
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-grid-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
</html>