<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>

    <main class="main">
       
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu" >
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                       
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="false"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="false"><i class="fi-rs-user mr-10"></i>Account details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Rewards</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" onclick="logout()"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <script src="/user/helpers/account.js">
                             
                            </script>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Hello <%= users.firstname  %> </h5>
                                            </div>
                                            <div class="card-body">
                                                <p>From your account dashboard. you can easily check &amp; view your <a href="#">recent orders</a>, manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and account details.</a></p>
                                            </div>


                                            <br>
                                            </div>
                                            <br>
                                            <% if(delivered != '' ){ %>
                                            <div class="card">
                                                <div class="card-header">
                                                    Rate Your Orders
                                                </div>

                                                    <div class="card-body">
                                                        <table  class="table">
                                                        <thead>
                                                           <td>
                                                            Product Detail
                                                           </td>
                                                           <td>
                                                          
                                                            Give your feedback
                                                           </td>
                                                           <td>

                                                          
                                                            Rate this product

                                                           </td>

                                                           <td>Your rating</td>

                                                        </thead>

                                                    
                                                       <tbody>
                                                        
                                                            <% delivered.forEach((item,index) => { %>
                                                                <% if(!item.ratedBefore ){ %>
                                                                <tr id="tr<%= index  %>">
                                                            <td>
                                                                <span>Name :<%= item.productName  %></span>
                                                                <br>
<span> <img style="height: 50px; width: 50px;" src="/<%= item.productId.images[0]  %>" alt="">
</span>
                                                              
                                                              
                                                            </td>
                                                            <td hidden>  <input id="orderIdTarget<%= index  %>" type="" value="<%= item._id  %>" hidden></td>
                                                          
                                                            <td>
                                                                <% if(item.rated && item.rated === true && item.review){ %>
                                                                <input type="text" value="<%= item.review  %>" id="review<%= index  %>">
                                                                <% }else{ %>
                                                                <input type="text" value="" id="review<%= index  %>">
                                                                <% } %>
                                                            </td>
                                                        

                                                                <% if (item.rated && item.rated == true && item.rating) { %>
                                                                    <td>
                                                                    <div class="rating" id="star<%= index %>">
                                                                        <% for (let i = 1; i <= 5; i++) { %>
                                                                            <% if (i <= parseInt(item.rating)) { %>
                                                                                <span class="star" style="color: gold;" data-value="<%= i %>">&#9733;</span>
                                                                            <% } else { %>
                                                                                <span class="star" style="color: gray;" onclick="" data-value="<%= i %>">&#9733;</span>
                                                                            <% } %>
                                                                        <% } %>
                                                                    </div>
                                                                </td>
                                                                <% } else { %>

                                                              
                                                                    <td>
                                                                 
                                                                    

                                                                
                                                                    <div class="rating" id="star<%= index  %>">
                                                                        <span class="star" onclick="rate(1,'<%= index %>')" id="star1" data-value="1">&#9733;</span>
                                                                        <span class="star" onclick="rate(2,'<%= index %>')" id="star2" data-value="2">&#9733;</span>
                                                                        <span class="star" onclick="rate(3,'<%= index %>')" id="star3" data-value="3">&#9733;</span>
                                                                        <span class="star" onclick="rate(4,'<%= index %>')" id="star4" data-value="4">&#9733;</span>
                                                                        <span class="star" onclick="rate(5,'<%= index %>')" id="star5" data-value="5">&#9733;</span>
                                                                      </div>
                                                                   <% } %>
                                                                </td>
                                                                      
                                                                  
                                                            
                                                           <td>
                                                            <%= item.rating  %>/5
                                                           
                                                            <input hidden type="text" value="<%= (item.productId && item.productId._id) ? item.productId._id.toString() : '' %>" name="" id="productid<%= index %>">


                                                            
                                                         
                                                                                                         </td> 
                                                                                                       
                                                          
                                                        </tr>
                                                        <% } %>
                                                        
                                                            <% }) %>
                                                        </tbody>
                                                        </table>

                                                     
                                                     
                                                    </div>
                                               
                                            </div>
                                            <% } %>
                                          
                                    </div>
                                 
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Your Orders</h5>
                                                </div>
                                           
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <% if (orders && orders.length > 0) { %>
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Order</th>
                                                                        <th>Product Details</th>

                                                                      
                                                                        <th>Date</th>
                                                                        <th>Status</th>
                                                                   
                                                                        <th>Actions</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% for (let i = 0; i < orders.length; i++) { %>
                                                                        <% if (orders[i].items.length > 0) { %>
                                                                           
                                                                            
                                                                                
                                                                                    <tr>
                                                                                        <td><%= orders[i].orderId %></td>
                                                                                        <td>
                                                                                            <% for (let j = 0; j < orders[i].items.length; j++) { %>
                                                                                                <li style="margin-left: 20px;">
                                                                                                    <p style="font-size: 15px;">Name : <%= orders[i].items[j].productName  %></p> 
                                                                                                    <p style="font-size: 15px;">Quantity : <%= orders[i].items[j].quantity  %></span>
                                                                                                    <p style="font-size: 12px;">Order Status : <%= orders[i].items[j].status  %></p>
                                                                                                </li>
                                                                                                <hr>
                                                                                            <% } %>
                                                                                        </td>
                                                                                    
                                                                                        
                                                                                        <td><%= ((orders[i].orderDate).toString()).slice(0,16)  %></td>
                                                                                        <% let allItemsCancelled = true; %>
                                                                                        <% for (let k = 0; k < orders[i].items.length; k++) { %>
                                                                                            <% if (orders[i].items[k].status !== 'Cancelled') { %>
                                                                                                <% allItemsCancelled = false; %>
                                                                                                <% break; %>
                                                                                            <% } %>
                                                                                        <% } %>
                                                                                        
                                                                                        <td>
                                                                                            <% if (allItemsCancelled) { %>
                                                                                                Cancelled
                                                                                            <% } else { %>
                                                                                                <%= orders[i].orderStatus %>
                                                                                            <% } %>
                                                                                        </td>
                                                                                        
                                                                                      
                                                                                        <td><a href="/user/viewOrderDetails?orderId=<%= orders[i].orderId%>" class="btn-small d-block">View</a></td>
                                                                                    </tr>
                                                                                  
                                                                        <% } %>
                                                                    <% } %>
                                                                </tbody>
                                                            </table>
                                                         
                                                        <% } %>
                                                    </div>
                                                </div>
                                                
                                                
                                                
                                                

                                        </div>
                                 
                                    </div>
                             
                                   
                                    

                                

                                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card mb-3 mb-lg-0">
                                                    <div class="card-header d-flex ">
                                                        <div style="align-items: start;"> <h5 class="mb-0">Billing Address</h5></div>
                                                        <div style="margin-left: 50%;">   <button style="width: 200px;" class="btn" id="showaddress">Add address</button></div>
  
                                                    </div>
                                                    <br>
                                                   
                                         
                                                  
<div class="container p-40">
                                                 <form id="formshow" style="display: none;" action="/user/addAddress" method="post">
                                                         <input type="text" value="Billing Address" name="addressmode" hidden>
                                                        <div class="address-collection-container">
                                                          <div class="address-row">
                                                            <div class="address-field-with-label main-part margin-right mt-10">
                                                           
                                                              <input name="name" placeholder="Enter your name" id="name" required>
                                                            </div>
                                                        
                                                            <div class="address-field-with-label mt-10">
                                                              <input id="phone" name="phonenumber" placeholder="Enter your phone" required>
                                                            </div>
                                                          </div>
                                                        
                                                          <div class="address-row mt-10">
                                                            <div class="address-field-with-label main-part">
                                                              <input id="pincode" name="pincode" placeholder="Enter pincode" required>
                                                            </div>
                                                          </div>
                                                        
                                                          <div class="address-row mt-10">
                                                            <div class="address-field-with-label main-part margin-right">
                                                              <input id="address" name="address" placeholder="Enter Address" required>
                                                            </div>
                                                        
                                                            <div class="address-field-with-label mt-10">
                                                              <input id="city" name="city" placeholder="Enter City" required />
                                                            </div>
                                                          </div>
                                                        
                                                          <div class="address-row mt-10">
                                                            <div class="address-field-with-label main-part margin-right">
                                                                <select name="state" class="form-control" id="inputState" required>
                                                                                    <option value="Andra Pradesh">Select State</option>
                                                                                    <option value="Andra Pradesh">Andra Pradesh</option>
                                                                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                                                    <option value="Assam">Assam</option>
                                                                                    <option value="Bihar">Bihar</option>
                                                                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                                                                    <option value="Goa">Goa</option>
                                                                                    <option value="Gujarat">Gujarat</option>
                                                                                    <option value="Haryana">Haryana</option>
                                                                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                                                    <option value="Jharkhand">Jharkhand</option>
                                                                                    <option value="Karnataka">Karnataka</option>
                                                                                    <option value="Kerala">Kerala</option>
                                                                                    <option value="Madya Pradesh">Madya Pradesh</option>
                                                                                    <option value="Maharashtra">Maharashtra</option>
                                                                                    <option value="Manipur">Manipur</option>
                                                                                    <option value="Meghalaya">Meghalaya</option>
                                                                                    <option value="Mizoram">Mizoram</option>
                                                                                    <option value="Nagaland">Nagaland</option>
                                                                                    <option value="Orissa">Orissa</option>
                                                                                    <option value="Punjab">Punjab</option>
                                                                                    <option value="Rajasthan">Rajasthan</option>
                                                                                    <option value="Sikkim">Sikkim</option>
                                                                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                                                                    <option value="Telangana">Telangana</option>
                                                                                    <option value="Tripura">Tripura</option>
                                                                                    <option value="Uttaranchal">Uttaranchal</option>
                                                                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                                                    <option value="West Bengal">West Bengal</option>
                                                                                    <option disabled style="background-color:#aaa; color:#fff">UNION Territories</option>
                                                                                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                                                                    <option value="Chandigarh">Chandigarh</option>
                                                                                    <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                                                                    <option value="Daman and Diu">Daman and Diu</option>
                                                                                    <option value="Delhi">Delhi</option>
                                                                                    <option value="Lakshadeep">Lakshadeep</option>
                                                                                    <option value="Pondicherry">Pondicherry</option>
                                                                                  </select>
                                                            </div>
                                                        
                                                            <div class="address-field-with-label main-part mt-10">
                                                              <input id="landmark" placeholder="Enter landmark" name="landmark" required >
                                                            </div>
                                                          </div>
                                                          <div class="address-type-container mt-10">
                                                            <label for="country">Address Type :</label>
                                                            <div>
                                                               <select name="addresstype" id="addresstype" required>
                                                                <option value="work">Work</option>
                                                                <option value="home">Home</option>
                                                               </select>
                                                            
                                                            </div>
                                                          </div>
                                                          
                                                        


                                                          <div id="message" class="message-container mt-10"></div>
                                                          <div><input class="btn btn-primary" onclick="submitForm()"  value="submit"></div>
                                                        </div>
                                                    </form>
                                                </div>
                                                </div>
                                            </div>

    <hr>
    <script>
       
     
        
    </script>
       
    
    <div class="col-lg-12">
       
                                                        <% for(let i=0; i<users.address.length; i++) { %>
                                                            <div class="card mt-15">
                                                                <div class="card-header">
                                                                 <h3> Address <%= i + +1  %></h3>
                                                                    </div>
                                                            <div class="card-body" style="font-size: 15px; color: black;">
                                                              
                                                            <address>Name : <%= users.address[i].name %><br> Phone : <%= users.address[i].phone  %><br> Pincode : <%= users.address[i].pincode  %> <br> 
                                                            Address :  <%= users.address[i].Address  %> <br>
                                                            City : <%= users.address[i].city  %> <br>
                                                            State : <%= users.address[i].state  %> <br>    
                                                            Landmark : <%= users.address[i].landmark  %> <br>    
                                                            
                                                            </address>
                                                     
                                                        <a href="/user/editAddress?_id=<%= users.address[i]._id%>" class="btn btn-primary">Edit</a>
                                                        <button 
  style="margin-left: 10px; color: red;" 
  class="btn btn-primary" 
  data-address-id="<%= users.address[i]._id%>"
  onclick="confirmDelete(event)"
>
  Delete
</button>
 
                                                    </div>
                                                    </div>
                                                        
                                                        <% } %>
                                               
                                            </div>
                                        </div>
                                    </div>
                                          
                                        
                                    <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Account Details</h5>
                                            </div>
                                            <div class="card-body">
                                              
                                                <form id="change" method="post" name="enq" action="/user/updateAccount">
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label>First Name <span class="required">*</span></label>
                                                            <input id="firstname" required="" class="form-control square" name="name" value="<%= users.firstname  %>" type="text">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Last Name <span class="required">*</span></label>
                                                            <input id="lastname" required="" class="form-control square" name="phone" value="<%= users.lastname %>">
                                                        </div>
                                                      
                                                   
                                                        <div class="form-group col-md-12">
                                                            <label>Email Address <span class="required">*</span></label>
                                                            <input id="email" required="" class="form-control square" name="email" type="email" value="<%= users.email %>" readonly>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Current Password <span class="required">*</span></label>
                                                            <input id="password" required="This field is required" class="form-control square" name="password" type="password">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>New Password <span class="required">*</span></label>
                                                            <input id="newpassword" required="" class="form-control square" name="newpassword" type="password">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Confirm Password <span class="required">*</span></label>
                                                            <input id="confirmpassword" required="" class="form-control square" name="confirmpassword" type="password">
                                                        </div>
                                                        <div class="col-md-12">
                                                            <input onclick="changePassword()" class="btn btn-fill-out submit" name="submit" value="Submit">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                     
                                        </script>
                                        


                                    <div class="tab-pane fade" id="track-orders" role="tabpanel" aria-labelledby="track-orders-tab">
                                    
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0"> Wallet </h5>
                                            </div>
                                            <div class="card-body">
                                              <p><%= users.wallet  %></p>
                                                   
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Refferal code </h5>
                                            </div>
                                            <div class="card-body">
                                            
                                                <p style="font-size: 13px;">Share this refferal code with your loved ones and get an instant 100 rupee topup to your wallet per refferal... Hurry up and grab your reward! <br> <span style="color: black;"> <span class="text-muted">Your refferal code :</span>  

                                                    
                                                    <% if(code !== ''){ %>
                                                    <%=code%>
                                                    <br>
                                                    Share via whatsapp : <a aria-label="Share" class="action-btn hover-up" onclick="shareRefferal('<%= code %>')">
                                                        <i class="fa-brands fa-whatsapp"></i>
                                                    </a>
                                                    <% } else { %> 
                                                    info not available
                                                    <% } %>
                                                    </span> </p>
                                                   
                                                  

                                                   
                                            </div>
                                        </div>
                                      
                                        <% if(users.reffered == false){ %>
                                        <div>
                                            <div class="toggle_info">
                                                <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a refferal code?</span> <a href="#coupon"  data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code and claim rewards!</a></span>
                                            </div>
                                           
                                            <div class="panel-collapse collapse coupon_form"  id="coupon">
                                                <div>
                                                  
                                               
                                             
                                                <div class="panel-body">
                                                    <p class="mb-30 font-sm">If you have a refferal code, please apply it below.</p>
                                                  
                                                        <div class="form-group">
                                                            <input id="refferalinput" type="text" placeholder="Enter Refferal Code...">
                                                      
                                                      </div>
                                                        <div class="form-group">
                                                            <button class="btn  btn-md" onclick="applyrefferal()" name="login">Claim Reward</button>
                                                        </div>
                                                      
                                                       
                                                    
                                                </div>
                                                <% } %>
                                            </div>
                                        </div>
                                        </div>
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footerlogin') %>





 
    <!-- Vendor JS-->
    <script src="/user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/user/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/user/js/plugins/slick.js"></script>
    <script src="/user/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/user/js/plugins/wow.js"></script>
    <script src="/user/js/plugins/jquery-ui.js"></script>
    <script src="/user/js/plugins/perfect-scrollbar.js"></script>
    <script src="/user/js/plugins/magnific-popup.js"></script>
    <script src="/user/js/plugins/select2.min.js"></script>
    <script src="/user/js/plugins/waypoints.js"></script>
    <script src="/user/js/plugins/counterup.js"></script>
    <script src="/user/js/plugins/jquery.countdown.min.js"></script>
    <script src="/user/js/plugins/images-loaded.js"></script>
    <script src="/user/js/plugins/isotope.js"></script>
    <script src="/user/js/plugins/scrollup.js"></script>
    <script src="/user/js/plugins/jquery.vticker-min.js"></script>
    <script src="/user/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="/user/js/maind134.js?v=3.4"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    const btn = document.getElementById('showaddress');

    btn.addEventListener('click', () => {
      const form = document.getElementById('formshow');
    
      if (form.style.display === 'none') {
       
        form.style.display = 'block';
      } else {
       
        form.style.display = 'none';
      }
    });
</script>
    
<script>
    function confirmDelete(event) {

      const addressId = event.target.dataset.addressId;


      Swal.fire({
        title: 'Are you sure?',
        text: 'You are about to delete this address.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'Cancel'
    }).then((result) => {
        if (result.isConfirmed) {
            // The user confirmed the deletion
            Swal.fire({
                title: 'Deleted!',
                text: 'The address has been deleted.',
                icon: 'success',
                showConfirmButton: false,
                
            });

           
                window.location.href = `/user/deleteAddress?_id=${addressId}`;
         
        }
    });
      
      
    }
  </script>
  <!-- Include SweetAlert CDN -->


<script>
    async function applyrefferal() {
        const refferal = document.getElementById('refferalinput').value;
      
        console.log(refferal);
        const response = await fetch(`/user/refferalClaim?refferal=${refferal}`, {
            method: 'GET',
        });

        if (!response.ok) {
            let errorMessage = 'Failed to claim referral. Please try again.';
            if (response.status === 405) {
                errorMessage = 'Invalid referral code or user not found';
            } else if (response.status === 404) {
                errorMessage = 'Referral code not found';
            } else {
                errorMessage = 'Server error';
            }

            // Display error using SweetAlert
            Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: errorMessage,
            });
            throw new Error('response not okay');
        }

        const responseData = await response.json();
        console.log('success' + responseData);

        // Display success message using SweetAlert
        Swal.fire({
            icon: 'success',
            title: 'Success!',
            text: 'Referral claimed successfully!',
        });
    }
</script>


</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:11:15 GMT -->
</html>