<%- include('partials/head') %>

<body>
    <!-- Modal -->
   


 
    <%- include('partials/header') %>

    <main class="main">
        <!-- banner 2 (loop the banners) -->
        <section class="home-slider position-relative pt-50">
          
            <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
                <% if(banners){ %>
                <% for(let i=0; i<banners.images.length; i++){ %>
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container" style="background-color: rgba(11, 11, 11, 0.921); border-radius: 10px; box-shadow: inset;">
                      
                        <div class="row align-items-center slider-animated-1">
                        
                            <div class="col-lg-5 col-md-6">
                             
                                <div class="hero-slider-content-2">
                                    <h4 class="animated"></h4>
                                  
                                    <h2 style="color: rgb(255, 255, 255);" class="animated fw-900">Wanna Sell Our Products?</h2>
                                   
                                   
                                 
                                   
                                   
                                    <h5 class="animated" style="color: rgb(206, 16, 16);">Fill in your details in this form, submit the details. We will get in touch with you with a fresh quote...</h5>
                                 
                                   
                                  
                                   
                                </div>
                            </div>
                            
                            <div class="col-lg-7 col-md-6">
                               

                                <div class="single-slider-img single-slider-img-1 mt-20">
                                  
                                    <img style="border-radius: 15px;" class="animated slider-1-1" src="/<%= banners.images[i] %>" alt="">

                                 
                                </div>
                            </div>
                        
                        </div>
                      
                    </div>
                </div>
                
                <% } %>
                <% } %>
            </div>
           
          
          
        </section>


      

     
     

        <section>
            <div class="container pt-30">
                    <h1>
                             BECOME A DEALER
                             </h1>
            <div class="row">

                <div class="col">
                             
                    <div class="hero-slider-content-2">
                    <img src="/user/imgs/dealership.jpg" alt="">
                       
                    </div>
                </div>

                <div class="col">
                             
                    <div class="hero-slider-content-2">
                     
                      <p>Telflex has a long history of serving every customers from retail to wholesale with the highest level of satisfaction in terms of the product purchase whether it is a single piece or a bulk purchase, we never fail to satisfy our customers. By setting up a dealership with telflex, you/your company can avail exciting discounts for bulk purchases like you have never seen before. Wholesale price ranges and discounts are different from the normal retail price range. So fill in the details, give us the requirements and grab our special discounts on al out products. Are you still waiting to click? Click away and explore all the benefits of becoming our exclusive dealer member!


                        </p>
                       
                    </div>
                </div>

            </div>
           
        </div>
        </section>

    <section>
          <div class="container text-center">
          <p>Fill in the form below, and describe your approximate requirement, we will catch up to you with a quote</p>
          <h3 class="mt-20">WELCOME TO OUR TELFLEX COMMUNITY OF SUCCESSFUL DEALER PARTNERSHIPS</h3>
          <form id="dealerform" action="">
                    <div class="row">
                              <div class="col">
                    <input style="border-radius: 10px;" class="mt-10"  type="text" id="name" name="name" placeholder="Enter your name">
                    <input style="border-radius: 10px;"  class="mt-10" type="text" id="email" name="email" placeholder="Email Address">
                    <input style="border-radius: 10px;"  class="mt-10"  type="text" name="phone" id="phone" placeholder="Phone Number">
                    <input style="border-radius: 10px;"  class="mt-10"  type="text" name="address" id="address" placeholder="Company/Shop Address">
          </div>
          <div class="col">
                    <textarea style="border-radius: 10px;" class="mt-15" placeholder="Write your query regarding the purchase..." style="height: 240px;" name="message" id="message" cols="50" rows="20"></textarea>
          </div>
          </div>
                    <button onclick="dealer(event)" class="btn btn-primary mt-10">SUBMIT QUERY</button>
          </form>
</div>
    </section>
       <hr>

        <!-- banner part 3 (single banner) -->
   
     
     
        <script src="/user/helpers/dealer.js">
         
         </script> 
   
      
      
    
    </main>
    <%- include('partials/footerlogin') %>

    <%- include('partials/mainScripts') %>
 
    
    

   

 
    


</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:09:48 GMT -->
</html>