<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

 
    <% if (typeof(errors) !== 'undefined' && errors.length > 0) { %>
        <div id="error-message" class="alert alert-danger">
            <span>
                <% errors.forEach(error => { %>
                    <p><%= error %></p>
                <% }); %>
            </span>
        </div>
    <% } %>
  
    <section class="pt-150 pb-150"  style="background-image: url('/user/imgs/forgot.jpg'); background-size: contain; background-repeat: no-repeat; margin-top: 0px;" >
        <div class="container d-flex justify-content-center mt-5 mb-5">
       
                        <div class="loginform">
                            <div>   <a class="text-dark" href="/user/shop"><i class="fa-solid fa-backward"></i> Go back</a></div>
                            <div class="login_wrap widget-taber-content p-30 border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                <div class="padding_eight_all ">
                                    <div class="heading_s1">
                                        <h3 class="mb-30">Enter your email</h3>
                                    </div>
                                    <form method="post" action="/user/forgotPassword">
                                        <div class="form-group">
                                            <input type="text"  name="email" placeholder="Your Email">
                                        </div>
                                        
                                    
                                         
                                           
                                        </div>
                               
                                        <div class="form-group">
                                            <button type="submit" style="background-color: black; color: whitesmoke;" class="btn btn-fill-out btn-block hover-up" name="login">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        </div>
                        </section>
                       
    <%- include('partials/footerlogin') %>

    <%- include('partials/mainScripts') %>

    
   
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>