<%- include('partials/head') %>

<body>
    <!-- Modal -->
   


    <!-- Quick view -->
    <div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                <!-- MAIN SLIDES -->
                                <div class="product-image-slider">
                                    <figure class="border-radius-10">
                                        <img src="/user/imgs/shop/product-16-2.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/user/imgs/shop/product-16-1.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/user/imgs/shop/product-16-3.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/user/imgs/shop/product-16-4.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/user/imgs/shop/product-16-5.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/user/imgs/shop/product-16-6.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/user/imgs/shop/product-16-7.jpg" alt="product image">
                                    </figure>
                                </div>
                                <!-- THUMBNAILS -->
                                <div class="slider-nav-thumbnails pl-15 pr-15">
                                    <div><img src="/user/imgs/shop/thumbnail-3.jpg" alt="product image"></div>
                                    <div><img src="/user/imgs/shop/thumbnail-4.jpg" alt="product image"></div>
                                    <div><img src="/user/imgs/shop/thumbnail-5.jpg" alt="product image"></div>
                                    <div><img src="/user/imgs/shop/thumbnail-6.jpg" alt="product image"></div>
                                    <div><img src="/user/imgs/shop/thumbnail-7.jpg" alt="product image"></div>
                                    <div><img src="/user/imgs/shop/thumbnail-8.jpg" alt="product image"></div>
                                    <div><img src="/user/imgs/shop/thumbnail-9.jpg" alt="product image"></div>
                                </div>
                            </div>
                            <!-- End Gallery -->
                            <div class="social-icons single-share">
                                <ul class="text-grey-5 d-inline-block">
                                    <li><strong class="mr-10">Share this:</strong></li>
                                    <li class="social-facebook"><a href="#"><img src="/user/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                                    <li class="social-twitter"> <a href="#"><img src="/user/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                    <li class="social-instagram"><a href="#"><img src="/user/imgs/theme/icons/icon-instagram.svg" alt=""></a></li>
                                    <li class="social-linkedin"><a href="#"><img src="/user/imgs/theme/icons/icon-pinterest.svg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-info">
                                <h3 class="title-detail mt-30">Colorful Pattern Shirts HD450</h3>
                                <div class="product-detail-rating">
                                    <div class="pro-details-brand">
                                        <span> Brands: <a href="shop-grid-right.html">Bootstrap</a></span>
                                    </div>
                                    <div class="product-rate-cover text-end">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width:90%">
                                            </div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                    </div>
                                </div>
                                <div class="clearfix product-price-cover">
                                    <div class="product-price primary-color float-left">
                                        <ins><span class="text-brand">$120.00</span></ins>
                                        <ins><span class="old-price font-md ml-15">$200.00</span></ins>
                                        <span class="save-price  font-md color3 ml-15">25% Off</span>
                                    </div>
                                </div>
                                <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                <div class="short-desc mb-30">
                                    <p class="font-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam rem officia, corrupti reiciendis minima nisi modi,!</p>
                                </div>

                                <div class="attr-detail attr-color mb-15">
                                    <strong class="mr-10">Color</strong>
                                    <ul class="list-filter color-filter">
                                        <li><a href="#" data-color="Red"><span class="product-color-red"></span></a></li>
                                        <li><a href="#" data-color="Yellow"><span class="product-color-yellow"></span></a></li>
                                        <li class="active"><a href="#" data-color="White"><span class="product-color-white"></span></a></li>
                                        <li><a href="#" data-color="Orange"><span class="product-color-orange"></span></a></li>
                                        <li><a href="#" data-color="Cyan"><span class="product-color-cyan"></span></a></li>
                                        <li><a href="#" data-color="Green"><span class="product-color-green"></span></a></li>
                                        <li><a href="#" data-color="Purple"><span class="product-color-purple"></span></a></li>
                                    </ul>
                                </div>
                                <div class="attr-detail attr-size">
                                    <strong class="mr-10">Size</strong>
                                    <ul class="list-filter size-filter font-small">
                                        <li><a href="#">S</a></li>
                                        <li class="active"><a href="#">M</a></li>
                                        <li><a href="#">L</a></li>
                                        <li><a href="#">XL</a></li>
                                        <li><a href="#">XXL</a></li>
                                    </ul>
                                </div>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="detail-extralink">
                                    <div class="detail-qty border radius">
                                        <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                        <span class="qty-val">1</span>
                                        <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                    </div>
                                    <div class="product-extra-link2">
                                        <button type="submit" class="button button-add-to-cart">Add to cart</button>
                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                        <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                    </div>
                                </div>
                                <ul class="product-meta font-xs color-grey mt-50">
                                    <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                    <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#" rel="tag">Women</a>, <a href="#" rel="tag">Dress</a> </li>
                                    <li>Availability:<span class="in-stock text-success ml-5">8 Items In Stock</span></li>
                                </ul>
                            </div>
                            <!-- Detail Info -->
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>

    <%- include('partials/header') %>

    <main class="main">
        <!-- banner 2 (loop the banners) -->
      
        <section class="home-slider position-relative pt-50">
          
            <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
                <% if(banners){ %>
                <% for(let i=0; i<banners.images.length; i++){ %>
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container">
                      
                        <div class="row align-items-center slider-animated-1">
                        
                            <div class="col-lg-5 col-md-6">
                             
                                <div class="hero-slider-content-2">
                                    <h4 class="animated"></h4>
                                  
                                    <h2 class="animated fw-900"><%= banners.bannerTitle[i]  %></h2>
                                   
                                   
                                    <h1 class="animated fw-900 text-brand"><%= banners.bannerPhrase[i]  %></h1>
                                   
                                   
                                    <p class="animated"><%= banners.bannerSubText[i]  %></p>
                                 
                                   
                                    <a class="animated btn btn-brush btn-brush-3" href="shop-product-right.html"> <%= banners.bannerAction[i]  %> </a>
                                   
                                </div>
                            </div>
                            
                            <div class="col-lg-7 col-md-6">
                               

                                <div class="single-slider-img single-slider-img-1">
                                  
                                    <img class="animated slider-1-1" src="/<%= banners.images[i] %>" alt="">

                                 
                                </div>
                            </div>
                        
                        </div>
                      
                    </div>
                </div>
                
                <% } %>
                <% } %>
            </div>
           
          
          
        </section>
     
        <section class="product-tabs section-padding position-relative wow fadeIn animated">
            <div class="bg-square"></div>
            <div class="container">
                <div class="tab-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button>
                        </li>
                        
                       
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">New added</button>
                        </li>
                    </ul>
                    <a href="#" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
                </div>
                <!--End nav-tabs-->
                <div class="tab-content wow fadeIn animated" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row product-grid-4">
                            <!-- featured -->
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="shop-product-right.html">
                                                <img class="default-img" src="/user/imgs/shop/product-1-1.jpg" alt="">
                                                <img class="hover-img" src="/user/imgs/shop/product-1-2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Hot</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html">Clothing</a>
                                        </div>
                                        <h2><a href="shop-product-right.html">Colorful Pattern Shirts</a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>$238.85 </span>
                                            <span class="old-price">$245.8</span>
                                        </div>
                                        <div class="product-action-1 show">
                                            <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                           
                        </div>
                        <!--End product-grid-4-->
                    </div>
                 
                    <!--En tab two (Popular)-->
                   
                    <div class="tab-pane fade" id="tab-three" role="tabpanel" aria-labelledby="tab-three">
                        
                        <div class="row product-grid-4">
                            <% if(newproducts && newproducts.length>0) {%>
                                <% newproducts.forEach(item => {%>
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="shop-product-right.html">
                                                <img class="default-img" src="/<%= item.images[0]  %>" alt="">
                                                <img class="hover-img" src="/<%= item.images[1]  %>" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Hot</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html"><%= item.category.categoryName %></a>
                                        </div>
                                        <h2><a href="shop-product-right.html"><%= item.productName  %></a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span><%= item.size[0].productDiscount  %>%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span><% item.size[0].productPrice  %> </span>
                                            <span class="old-price"><%= item.size[0].mrp  %></span>
                                        </div>
                                        <div class="product-action-1 show">
                                            <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <% }) %>
                        <% } %>
                        
                        </div>
                        <!--End product-grid-4-->
                      
                    </div>
                
                    <!--En tab three (New added)-->
                </div>
                <!--End tab-content-->
            </div>
        </section>
        <section class="home-slider">
            <div class="container">
            <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
                <% if(about !== ''){%>
                    <% for(let i=0; i<about.images.length; i++){ %>
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                  
                    <div class="row  slider-animated-1">
                    
                        
                       
                        <div class="col-lg-7 col-md-6">
                            
                               

                            <div class="single-slider-img single-slider-img-1">
                              
                                <img class="animated slider-1-1" src="/<%= about.images[i]  %>" alt="">
                               

                             
                            </div>
                         
                        </div>
                     
                        <div class="col-lg-5 col-md-6">
                             
                            <div class="hero-slider-content-2">
                             
                              <h1 class="fs-2">We are <span class="fs-1" style="color: rgba(22, 85, 181, 0.896);">TELFLEX</span>  </h1> 
                               <p>
                                Founded by Mr Nizar KK, Telflex started as a cotton mattress 
                                and pillows production company and later transitioned to 
                                large scale manufacturing of Mattresses of all kinds.
                                <br>
                                We have been actively supplying our products all over 
                                Kerala over the years. We craft the high quality mattresses 
                                a very reasonable pricing. We also provide a variety of furnitures as per the customer requirement.
                               </p>
                            </div>
                        </div>
                    

                    
                    </div>
                  
                </div>
            </div>
            <% } %>
            <% } %>
            </div>
        </div>
        </section>

        <section class="mb-50 mt-10">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                    <% if(fest !== '') { %>
                        <div class="banner-bg wow fadeIn animated" style="background-color: rgba(36, 106, 171, 0.621);">
                            <div class=" row banner-content">
                                <div class="col">
                                <h1 class="text-white-4 display mb-15"><%= fest.bannerTitle[0] %></h1>
                                <p><%= fest.bannerPhrase[0]  %></p>
                                <br>
                                <span><%= fest.bannerSubText[0]  %></span>
                                <p><%= fest.bannerAction[0]  %></p>
                                
                                <h2 class="fw-600">Happy <span class="text-brand"><%= fest.bannerTitle[0]%></span>. Big Sale Up to 40%</h2>
                            </div>
                            <div class="col">
                                <img src="/<%= fest.images[0]  %>" alt="">
                            </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>
       <hr>

        <!-- banner part 3 (single banner) -->
        <section class="banner-2 section-padding pb-0">
            <div class="container">
                <% if(subbanner) %>
                <div class="banner-img banner-big wow fadeIn animated f-none">
                    <img src="/<%= subbanner.images[0] %>" alt="">
                    <div class="banner-text d-md-block d-none" style="background-color: rgba(255, 255, 255, 0.573);">
                        <h4 class="mb-15 mt-40 text-brand"><%= subbanner.bannerTitle[0]  %></h4>
                        <h1 class="fw-600 mb-20"><%= subbanner.bannerPhrase[0]  %></h1>
                        <h6 class="mb-15 mt-40 text-brand"><%= subbanner.bannerSubText[0]  %></h>
                        <div>
                        <a href="/user/contact" class="btn"><%= subbanner.bannerAction[0]  %> <i class="fi-rs-arrow-right"></i></a>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
     
        <section class="banners mb-15">
            <div class="container">
                <div class="row">
                    <% if(offer !== '') {%>
                      <% for(let i=0; i< offer.images.length; i++){ %>
                    <div class="col-lg-4 col-md-6">
                        <!-- banner 5 -->
                        
                        <div class="banner-img wow fadeIn animated">
                            <img src="/<%= offer.images[i] %>" alt="">
                            <div class="banner-text" style="background-color: rgba(255, 255, 255, 0.573);" >
                                <span><%= offer.bannerTitle[i]  %></span>
                                <h4>Save 20% on %> on <br>Woman Bag</h4>
                                <a href="shop-grid-right.html"><%= offer.bannerAction[0] %> <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <% } %>
                   
                    <% } %>
                  
                </div>
            </div>
        </section>
        <section class="section-padding">
            <div class="container wow fadeIn animated">
                <!-- banner 6 -->
                <% if(newarrivals && newarrivals.length>0){ %>
                <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows"></div>
                    <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                        <% newarrivals.forEach(item => { %>
                        <div class="product-cart-wrap small hover-up">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="shop-product-right.html">
                                        <img class="default-img" src="/<%= item.images[0]  %>" alt="">
                                        <img class="hover-img" src="/<%= item.images[1]  %>" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal">
<i class="fi-rs-eye"></i></a>
                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                    <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="hot">Hot</span>
                                </div>
                            </div>
                           
                        <!--End product-cart-wrap-2-->
                    </div>
                    <% }) %>
                </div>
            </div>
            <% } %>
            </div>

        </section>
        <hr>
        <section class="deals section-padding" style="background-color: white;">
            <div class="container" >
                <% if(deals) { %>
                    <input type="text" id="expirydate" value="<%= deals.end %>" hidden>
                    <div class="row deal wow fadeIn animated mb-md-4 mb-sm-4 d-flex" style="background-color: white;">
                        <div class="col" style="background-color: white;">
                            <div class="deal-top">
                                <h2 class="text-brand"><%= deals.bannerTitle[0] %></h2>
                                <h5><%= deals.bannerPhrase[0] %></h5>
                            </div>
                            <div class="deal-content">
                                <h6 class="product-title"><a href="shop-product-right.html"><%= deals.bannerSubText[0] %></a></h6>
                                <div class="product-price"><span class="new-price"><%= deals.bannerDiscount[0] %></span></div>
                            </div>
                            <div class="deal-bottom">
                                <p>Hurry Up! Offer End In:</p>
                                <div id="datacountdown1" class="deals-countdown" data-countdown=""></div>
                                <a href="shop-grid-right.html" class="btn hover-up">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="col">
                            <img src="/<%= deals.images[0] %>" alt="">
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
        
     
      
      
    
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="/user/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html"><img src="/user/imgs/theme/logo.svg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="/user/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="/user/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="/user/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="/user/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="/user/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="/user/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="/user/imgs/theme/google-play.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="/user/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-10">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="/user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/user/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/user/js/plugins/slick.js"></script>
    <script src="/user/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/user/js/plugins/wow.js"></script>
    <script src="/user/js/plugins/jquery-ui.js"></script>
    <script src="/user/js/plugins/perfect-scrollbar.js"></script>
    <script src="/user/js/plugins/magnific-popup.js"></script>
    <script src="/user/js/plugins/select2.min.js"></script>
    <script src="/user/js/plugins/waypoints.js"></script>
    <script src="/user/js/plugins/counterup.js"></script>
    <script src="/user/js/plugins/jquery.countdown.min.js"></script>
    <script src="/user/js/plugins/images-loaded.js"></script>
    <script src="/user/js/plugins/isotope.js"></script>
    <script src="/user/js/plugins/scrollup.js"></script>
    <script src="/user/js/plugins/jquery.vticker-min.js"></script>
    <script src="/user/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/user/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="/user/js/maind134.js?v=3.4"></script>
    <script src="/user/js/shopd134.js?v=3.4"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include jQuery Countdown plugin -->
<script src="/user/js/plugins/jquery.countdown.min.js"></script>
    <script>
        $(document).ready(function() {
            let inputDate = $('#expirydate').val();
            let dateObj = new Date(inputDate);
    
          console.log(inputDate)
            var formattedNew = dateObj.getFullYear() + '/' + ('0' + (dateObj.getMonth() + 1)).slice(-2) + '/' + ('0' + dateObj.getDate()).slice(-2) + ' ' + ('0' + dateObj.getHours()).slice(-2) + ':' + ('0' + dateObj.getMinutes()).slice(-2) + ':' + ('0' + dateObj.getSeconds()).slice(-2);
    
            var countdown = $('#datacountdown1');
          
            countdown.attr('data-countdown', formattedNew);
            
    
          
            countdown.countdown(formattedNew, function(event) {
                $(this).html(event.strftime('<span class="days">%D</span> <span> days </span> <span class="hours">%H</span> <span>hours</span> :<span class="minutes">%M</span><span> minutes </span>:<span class="seconds">%S</span> <span> seonds </span>'));
           
            });
         
        });
    </script>
    
    
    

   

 
    


</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:09:48 GMT -->
</html>