<%- include('partials/head') %>

<body>
   <%- include('partials/header') %>

    <main class="main">
        <!-- banner 2 (loop the banners) -->
        <% if (typeof success !== '' && success) { %>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                Swal.fire({
                    title: 'Success!',
                    text: '<%= success %>', 
                    icon: 'success',
                    confirmButtonColor: '#4caf50', 
                    background: '#f0f0f0', 
                    confirmButtonText: 'OK'
                });
            </script>
        <% } %>
        
      
        <section class="home-slider position-relative pt-50">
          
            <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
                <% if(banners){ %>
                <% for(let i=0; i<banners.images.length; i++){ %>
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container" style="background-color: rgba(11, 11, 11, 0.921);  border-radius: 10px; box-shadow: inset;">
                      
                        <div class="row align-items-center slider-animated-1">
                        
                            <div class="col-lg-5 col-md-6">
                             
                                <div class="hero-slider-content-2" >
                                    <h4 class="animated"></h4>
                                  
                                    <h2 style="color: rgb(255, 255, 255);" class="animated fw-900"><%= banners.bannerTitle[i]  %></h2>
                                   
                                   
                                    <h3 style="color: rgb(174, 9, 9);" class="animated fw-900"><%= banners.bannerPhrase[i]  %></h3>
                                   
                                   
                                    <h5 style="color: white;" class="animated"><%= banners.bannerSubText[i]  %></h5>
                                 
                                   
                                    <a class="animated btn btn-brush btn-brush-3 text-white" href="/"> <%= banners.bannerAction[i]  %> </a>
                                   
                                </div>
                            </div>
                            
                            <div class="col-lg-7 col-md-6">
                               

                                <div class="single-slider-img single-slider-img-1 mt-20">
                                  
                                    <img style="border-radius: 15px;" class="animated slider-1-1" src="/<%= banners.images[i] %>" alt="">

                                 
                                </div>
                            </div>
                        
                        </div>
                      
                    </div>
                </div>
                
                <% } %>
                <% } %>
            </div>
           
          
          
        </section>
     
        <section class="product-tabs section-padding position-relative wow fadeIn animated">
            <div class="bg-square"></div>
            <div class="container">
                <div class="tab-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button>
                        </li>
                        
                       
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">New added</button>
                        </li>
                    </ul>
                  
                </div>
                <!--End nav-tabs-->
                <div class="tab-content wow fadeIn animated" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        <h1>Featured Products!</h1>
                        <br>
                        <div class="row product-grid-4 mt-5">
                            <!-- featured -->
                            <div class="row product-grid-4">
                                <% if(featured && featured.length>0) {%>
                                    <% featured.forEach(item => {%>
                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="/user/productdetail?_id=<%=item._id  %>">
                                                    <img class="default-img" src="/<%= item.images[0]  %>" alt="">
                                                    <img class="hover-img" src="/<%= item.images[1]  %>" alt="">
                                                </a>
                                            </div>
                                          
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="hot"><%= item.tags  %></span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a><%= item.category.categoryName %></a>
                                            </div>
                                            <h2><a href="/user/productdetail?_id=<%=item._id  %>"><%= item.productName  %></a></h2>
                                            <div class="rating-result" title="90%">
                                                <span>
                                                    <span><%= item.size[0].productDiscount  %>%</span>
                                                </span>
                                            </div>
                                            <div class="product-price">
                                                Offer Price :<span>&#8377;<%= item.size[0].productPrice  %> </span>
                                                <br>
                                                        Mrp :<span class="old-price">&#8377;<%= item.size[0].mrp  %></span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                                <% }) %>
                            <% } %>
                            
                            </div>
                           
                           
                        </div>
                        <!--End product-grid-4-->
                    </div>
                 
                    <!--En tab two (Popular)-->
                   
                    <div class="tab-pane fade" id="tab-three" role="tabpanel" aria-labelledby="tab-three">
                        <h1>Newly Added Products</h1>
                        <br>
                        <div class="row product-grid-4 mt-5">
                            <% if(newproducts && newproducts.length>0) {%>
                                <% newproducts.forEach(item => {%>
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/user/productdetail?_id=<%=item._id  %>">
                                                <img class="default-img" src="/<%= item.images[0]  %>" alt="">
                                                <img class="hover-img" src="/<%= item.images[1]  %>" alt="">
                                            </a>
                                        </div>
                                      
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot"><%= item.tags  %></span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a><%= item.category.categoryName %></a>
                                        </div>
                                        <h2><a href="/user/productdetail?_id=<%=item._id  %>"><%= item.productName  %></a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span><%= item.size[0].productDiscount  %>%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            Offer Price :<span>&#8377;<%= item.size[0].productPrice  %> </span>
                                            <br>
                                                    Mrp :<span class="old-price">&#8377;<%= item.size[0].mrp  %></span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                            <% }) %>
                        <% } %>
                        
                        </div>
                        <!--End product-grid-4-->
                      
                    </div>
                
                    <!--En tab three (New added)-->
                </div>
                <!--End tab-content-->
            </div>
        </section>
        <section class="home-slider">
            <div class="container">
            <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
                <% if(about !== ''){%>
                    <% for(let i=0; i<about.images.length; i++){ %>
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                  
                    <div class="row  slider-animated-1">
                    
                        
                       
                        <div class="col-lg-7 col-md-6">
                            
                               

                            <div class="single-slider-img single-slider-img-1">
                              
                                <img class="animated slider-1-1" src="/<%= about.images[i]  %>" alt="">
                               

                             
                            </div>
                         
                        </div>
                     
                        <div class="col-lg-5 col-md-6">
                             
                            <div class="hero-slider-content-2">
                             
                              <h1 class="fs-2">We are <span class="fs-1" style="color: rgba(22, 85, 181, 0.896);">TELFLEX</span>  </h1> 
                               <p>
                                Founded by Mr Nizar KK, Telflex started as a cotton mattress 
                                and pillows production company and later transitioned to 
                                large scale manufacturing of Mattresses of all kinds.
                                <br>
                                We have been actively supplying our products all over 
                                Kerala over the years. We craft the high quality mattresses 
                                a very reasonable pricing. We also provide a variety of furnitures as per the customer requirement.
                               </p>
                            </div>
                        </div>
                    

                    
                    </div>
                  
                </div>
            </div>
            <% } %>
            <% } %>
            </div>
        </div>
        </section>

        <section class="mb-50 mt-10" style="background-color: rgb(0, 0, 0);">
            <div class="container"  style="background-color: rgb(255, 255, 255);">
                <div class="row">
                    <div class="col-12">
                    <% if(fest !== '') { %>
                        <div class="banner-bg wow fadeIn animated">
                            <div class=" row banner-content">
                                <div class="col">
                                <h1 style="color: red;" class="text-white-4 display mb-15"><%= fest.bannerTitle[0] %></h1>
                                <p><%= fest.bannerPhrase[0]  %></p>
                                <br>
                                <span style="color: burlywood;"><%= fest.bannerSubText[0]  %></span>
                                <br>
                                <a class="animated btn btn-brush btn-brush-3" href="/">
                               <%= fest.bannerAction[0]  %></a> 
                                
                                <h2 class="fw-600">Happy <span class="text-brand"><%= fest.bannerTitle[0]%></span>. Big Sale with exciting discounts!</h2>
                            </div>
                           
                            <div class="col"  style="background-color: rgb(173, 7, 7); border-radius: 20px;">
                                <img style="border-radius: 20px; padding: 10px; margin-top: 5px;" src="/<%= fest.images[0]  %>" alt="">
                            </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>
       <hr>

        <!-- banner part 3 (single banner) -->
        <section class="banner-2 section-padding pb-0">
            <div class="container">
                <% if(subbanner) %>
                <div class="banner-img banner-big wow fadeIn animated f-none">
                    <img src="/<%= subbanner.images[0] %>" alt="">
                    <div class="banner-text d-md-block d-none" style="background-color: rgba(255, 255, 255, 0.573);">
                        <h4 class="mb-15 mt-40 text-brand"><%= subbanner.bannerTitle[0]  %></h4>
                        <h1 class="fw-600 mb-20"><%= subbanner.bannerPhrase[0]  %></h1>
                        <h6 class="mb-15 mt-40 text-brand"><%= subbanner.bannerSubText[0]  %></h>
                        <div>
                        <a href="/user/contact" class="btn"><%= subbanner.bannerAction[0]  %> <i class="fi-rs-arrow-right"></i></a>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
     
        <section class="banners mb-15">
            <div class="container">
                <div class="row">
                    <% if(offer !== '') {%>
                      <% for(let i=0; i< offer.images.length; i++){ %>
                    <div class="col-lg-4 col-md-6">
                        <!-- banner 5 -->
                        
                        <div class="banner-img wow fadeIn animated">
                            <img src="/<%= offer.images[i] %>" alt="">
                            <div class="banner-text" style="background-color: rgba(255, 255, 255, 0.573);" >
                                <span><%= offer.bannerTitle[i]  %></span>
                                <h4><%= offer.bannerPhrase[i]  %></h4>
                                <% if(categoryId && categoryId.length>0){ %>
                                <a href="/user/sortCategory?categoryId=<%= categoryId[i]._id%>"><%= offer.bannerAction[0] %> <i class="fi-rs-arrow-right"></i></a>
                            <% } else { %>
                                <a href="/user/sortCategory?categoryId=<%= categoryId[0]._id%>"><%= offer.bannerAction[0] %> <i class="fi-rs-arrow-right"></i></a>
<% } %>
                            </div>
                        </div>
                    </div>

                    <% } %>
                   
                    <% } %>
                  
                </div>
            </div>
        </section>
        <section class="section-padding">
            <div class="container wow fadeIn animated">
                <!-- banner 6 -->
                <% if(newarrivals && newarrivals.length>0){ %>
                <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows"></div>
                    <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                        <% newarrivals.forEach(item => { %>
                        <div class="product-cart-wrap small hover-up">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="/user/productdetail?_id=<%= item._id  %>">
                                        <img class="default-img" src="/<%= item.images[0]  %>" alt="">
                                        <img class="hover-img" src="/<%= item.images[1]  %>" alt="">
                                    </a>
                                </div>
                                
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="hot"><%= item.tags  %></span>
                                </div>
                            </div>
                           
                        <!--End product-cart-wrap-2-->
                    </div>
                    <% }) %>
                </div>
            </div>
            <% } %>
            </div>

        </section>
        <hr>
        <section class="deals section-padding" style="background-color: rgba(131, 13, 13, 0.87);">
            <div class="container"  >
                <% if(deals) { %>
                    <input type="text" id="expirydate" value="<%= deals.end %>" hidden>
                    <div class="row deal wow fadeIn animated mb-md-4 mb-sm-4 d-flex" style="background-color: white; border-radius: 20px;" >
                        <div class="col" style="background-color: white;">
                            <div class="deal-top">
                                <h2 class="text-brand"><%= deals.bannerTitle[0] %></h2>
                                <h5><%= deals.bannerPhrase[0] %></h5>
                            </div>
                            <div class="deal-content">
                                <h6 class="product-title"><a href="shop-product-right.html"><%= deals.bannerSubText[0] %></a></h6>
                                <div class="product-price"><span class="new-price">Great Offers in this month!</span></div>
                            </div>
                            <div class="deal-bottom">
                                <p>Hurry Up! Offer End In:</p>
                                <div id="datacountdown1" class="deals-countdown" data-countdown=""></div>
                                <a href="/" class="btn hover-up">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="col">
                            <img src="/<%= deals.images[0] %>" alt="">
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
        
     
      
      
    
    </main>
    <%- include('partials/footerlogin') %>
    <!-- Vendor JS-->
    <script src="/user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/user/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/user/js/plugins/slick.js"></script>
    <script src="/user/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/user/js/plugins/wow.js"></script>
    <script src="/user/js/plugins/jquery-ui.js"></script>
    <script src="/user/js/plugins/perfect-scrollbar.js"></script>
    <script src="/user/js/plugins/magnific-popup.js"></script>
    <script src="/user/js/plugins/select2.min.js"></script>
    <script src="/user/js/plugins/waypoints.js"></script>
    <script src="/user/js/plugins/counterup.js"></script>
    <script src="/user/js/plugins/jquery.countdown.min.js"></script>
    <script src="/user/js/plugins/images-loaded.js"></script>
    <script src="/user/js/plugins/isotope.js"></script>
    <script src="/user/js/plugins/scrollup.js"></script>
    <script src="/user/js/plugins/jquery.vticker-min.js"></script>
    <script src="/user/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/user/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="/user/js/maind134.js?v=3.4"></script>
    <script src="/user/js/shopd134.js?v=3.4"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include jQuery Countdown plugin -->
<script src="/user/js/plugins/jquery.countdown.min.js"></script>
    <script>
        $(document).ready(function() {
            let inputDate = $('#expirydate').val();
            let dateObj = new Date(inputDate);
    
          console.log(inputDate)
            var formattedNew = dateObj.getFullYear() + '/' + ('0' + (dateObj.getMonth() + 1)).slice(-2) + '/' + ('0' + dateObj.getDate()).slice(-2) + ' ' + ('0' + dateObj.getHours()).slice(-2) + ':' + ('0' + dateObj.getMinutes()).slice(-2) + ':' + ('0' + dateObj.getSeconds()).slice(-2);
    
            var countdown = $('#datacountdown1');
          
            countdown.attr('data-countdown', formattedNew);
            
    
          
            countdown.countdown(formattedNew, function(event) {
                $(this).html(event.strftime('<span class="days">%D</span> <span> days </span> <span class="hours">%H</span> <span>hours</span> :<span class="minutes">%M</span><span> minutes </span>:<span class="seconds">%S</span> <span> seonds </span>'));
           
            });
         
        });
    </script>
    
    
    

   

 
    


</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:09:48 GMT -->
</html>