<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <div class="mobile-header-active mobile-header-wrapper-style"  >
     
        <div class="mobile-header-wrapper-inner" >
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href=""><img src="/user/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit"  >
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                     
                    </div>
                    <!-- mobile menu start -->
                    <%- include('partials/navlogin') %>
                </div>
               
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="/user/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="/user/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="/user/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="/user/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="/user/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>



  
    <section class="pt-150 pb-150 "  style="background-image: url('/user/imgs/theme/loginbg.jpg'); background-size: cover; background-repeat: no-repeat; margin-top: 0px;"  >
        <div class="logincontainer container d-flex justify-content-center mt-5 mb-5"  >
       
                        <div class="loginform container"  style="background-color: rgba(232, 232, 232, 0.459); "  >
                            <div class="login_wrap widget-taber-content p-30 border-radius-10 mb-md-5 mb-lg-0 mb-sm-5" style="box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);">
                                <div class="padding_eight_all "  >
                                    <div class="heading_s1"   >
                                        <h3 class="mb-30">Login</h3>
                                    </div>

                                    <div style="display: flex; justify-content: center; margin-top: 50px;">
                                        <% if (typeof(errors) !== 'undefined' && errors.length > 0) { %>
                                            <div id="error-message" class="alert" style="background-color: rgba(164, 4, 4, 0.444);  width: 400px; " >
                                                <span>
                                                    <% errors.forEach(error => { %>
                                                        <p><%= error %></p>
                                                    <% }); %>
                                                </span>
                                            </div>
                                      
                                        <% } %>
                                    </div>

                                    <form method="post" action="/user/postLogin" >
                                        <div class="form-group">
                                            <input type="text" style="border-radius: 20px; background-color: rgba(245, 245, 245, 0.164); box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);" name="email" placeholder="Your Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" style="border-radius: 20px; background-color: rgba(245, 245, 245, 0.163); box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);" name="password" placeholder="Password">
                                        </div>
                                        <div class="login_footer form-group d-block"   >
                                            <p>Don't have an account? <a href="/user/getsignup">Sign up</a></p>
                                            <a class="text-muted" href="/user/getForgotPassword">forgot password?</a>
                                       
                                          
                                       
                                           
                                        </div>
                                       
                                        <div class="form-group">
                                            <button type="submit" style="background-color: black; color: whitesmoke;" class="btn btn-fill-out btn-block hover-up" name="login">Log in</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        </div>
                        </section>
                       
    <%- include('partials/footerlogin') %>
    <%- include('partials/preloader') %>
    <%- include('partials/mainScripts') %>
   
   
</body>

</html>