
<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/blog-category-fullwidth.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:11:15 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'></link>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script> 
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/user/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/user/css/maind134.css?v=3.4">
  
    <link rel="stylesheet" href="/user/magiczoomplus.css">
  
    <script src="/user/magiczoomplus.js"></script>

    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'></link>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>  

   
<link rel="stylesheet" href="/css/map.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
<!-- JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/zoomove/1.2.1/zoomove.min.js"></script>

<style>
    body {font-family: Arial, Helvetica, sans-serif;}
    
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 40%;
      margin-top: 15%;
    }
    
    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    </style>

</head>




<body>
  
        
                        
          <div class="d-flex justify-content-center">
                    <a href=""><img style="width: 300px; height: 200px;" src="/user/imgs/theme/logo.png" alt="logo"></a>
          </div>
          <section class="mt-50 mb-50">
               
                    <div class="container">
                        <% if(orders && orders.length>0 ){ %>
                      <% let totalAmount = 0 %>
         <% for(let i = 0; i < orders.length; i++) { %>
                        <div style="margin-top: -70px;" class="row">
                              <div class="col-lg-3 col-sm-6">
                              
                                        <h5>Bill To</h5>
                                    <p>Name : <%= orders[i].address.name%></p>
                                    <p>Phone : <%= orders[i].address.phone%></p>
                                    <p>Address : <%= orders[i].address.Address%></p>
                                    <p>City : <%= orders[i].address.city%></p>
                                    <p>State : <%= orders[i].address.state%></p>
                                    <p>Pin Code : <%= orders[i].address.pincode%></p>
                                    <p>Landmark : <%= orders[i].address.landmark%></p>
                                       </div>
                                       <div class="col-lg-3 col-sm-6">
                                        <h5>Ship To</h5>
                                        <p>Name : <%= orders[i].address.name%></p>
                                        <p>Phone : <%= orders[i].address.phone%></p>
                                        <p>Address : <%= orders[i].address.Address%></p>
                                        <p>City : <%= orders[i].address.city%></p>
                                        <p>State : <%= orders[i].address.state%></p>
                                        <p>Pin Code : <%= orders[i].address.pincode%></p>
                                        <p>Landmark : <%= orders[i].address.landmark%></p>
                              </div>
                              </div></div></section>


  
        <section class="mt-50 mb-50">
        
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                     
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (orders && orders.length > 0) { %>
                                        <% orders.forEach(order => { %>
                                            <% if (order.items && order.items.length > 0) { %>
                                                <% order.items.forEach(item => { %>
                                                 
                                                        
                                                        <tr>
                                                            <input type="text" value="<%= item.productId %>" id="" hidden>
                                                            <td class="image product-thumbnail">
                                                                <img  src="/<%= item.productId.images[0] %>" alt="#">
                                                            </td>
                                                            <td class="product-des product-name">
                                                                <h5 class="product-name">
                                                                    <a href="shop-product-right.html"><%= item.productId.productName %></a>
                                                                </h5>
                                                                <p class="font-xs"><%= item.size  %><br> <%= item.productId.shortDescription  %></p>
                                                            </td>
                                                            <td class="price" data-title="Price"><span><%= item.price %></span></td>
                                                            <td class="quantity" data-title="Quantity"><span><%= item.quantity %></span></td>
                                                            <td class="text-right" data-title="Cart">
                                                                <span class="calctotal" id="calcprice"><%= item.price * item.quantity %></span>
                                                            </td>
                                                            <td class="text-right" data-title="Status">
                                                                <span class="status" id="status"><%= item.status  %></span>
                                                                
                                                            </td>
                                                            <% if(item.status !== 'Cancelled' && item.status !== 'Returned' && item.status !== 'Requested for cancellation'){ %>
                                                            <% if(item.status === 'Delivered' ) {%>
                                                                <% if(item.returnExpiry !== null){ %>
                                                                <td class="cancel" data-title="Cancel">
                                                                    <button class="btn btn-danger" id="myBtn" >Return</button>
                                                                    <br>
                                                                    <span class="text-muted">Return request should  <br>
                                                                         be placed within <%= ((item.returnExpiry).toString()).slice(0,16)  %></span>
                                                                    
                                                                    <!-- <button class="btn btn-danger" style="background-color: rgba(166, 4, 4, 0.712)" onclick="returnOrder('<%= item._id %>')">Return</button> -->
                                                                </td>
                                                                <div id="myModal" class="modal">

                                                                    <!-- Modal content -->
                                                                    <div class="modal-content">
                                                                      <span class="close">&times;</span>
                                                                      <form>
                                                                        <input type="text" name="cancellation" id="reasonForReturn" placeholder="Reason for cancellation">
                                                                           <button class="btn btn-danger" onclick="returnOrder('<%= item._id %>')">Cancel</button>
                                                                       
                                                                      </form>
                                                                    
                                                                    </div>
                                                                  
                                                                  </div>
                                                                  <% }else {%>
                                                                    <td>Return expired, you can no longer return this item!</td>
                                                                    <% } %>

                                                               
                                                                <% }else{ %>
                                                            <td class="cancel" data-title="Cancel">
                                                                <!-- <button class="btn btn-danger" onclick="cancelOrder('<%= item._id %>')">Cancel</button> -->
                                                                <button class="btn btn-danger" id="myBtn" >Cancel</button>
                                                                
                                                            </td>
                                                            <div id="myModal" class="modal">

                                                                <!-- Modal content -->
                                                                <div class="modal-content">
                                                                  <span class="close">&times;</span>
                                                                  <form>
                                                                    <input type="text" name="cancellation" id="reason" placeholder="Reason for cancellation">
                                                                       <button class="btn btn-danger" onclick="cancelOrder('<%= item._id %>')">Cancel</button>
                                                                    <button>
                                                                  </form>
                                                                </div>
                                                              
                                                              </div>
                                                              
                                                            <% } %>
                                                            <% } else { %>

                                                                <% if(item.status === 'Requested for cancellation') {%>

                                                               <td>Item requested for cancellation.</td>
                                                               <%} else if(item.status === 'Cancelled'){ %>
                                                                <td>Item cancelled</td>
                                                                <% } else if(item.status === 'Returned') { %>
                                                                    <td>Item Returned</td>
                                                                    <% } %>
                                                                    <% } %>

                                                              
                                                       
                                                            
                                                        </tr>
                                               
                                                <% }) %>
                                            <% } %>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                                
                                
                            </table>
                        </div>
                      

                       
                       
                        <div class="divider center_icon mt-50 mb-50"></div>
                        <div class="row mb-50">
                            
                                   
                               
                             
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="border p-md-4 p-30 border-radius cart-totals">
                                    <div class="heading_s1 mb-3">
                                        <h4>Bill Totals</h4>
                                    </div>
                                    <div>
                            <% orders.forEach(order => { 
                             order.items.forEach(item => { 
                                 
                                    totalAmount += item.price * item.quantity;
                                
                                });
                             }); %>
                        </div>
                                    
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="cart_total_label">Bill Subtotal</td>
                                                <input type="number" value="<%= totalAmount %>" name="totalAmount" hidden>
                                                    <td class="cart_total_amount"><span id="showtotal" class="font-lg fw-900 text-brand"></span><%= totalAmount %></td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Shipping</td>
                                                    <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Total</td>
                                                    <td class="cart_total_amount"><span id="showtotalamount" class="font-lg fw-900 text-brand"></span><%= totalAmount  %></td>
                                                    <input type="number" name="totalamountcheckout" value="" id="totalinputfield" hidden>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                   <div class="row">
                                        <div class="col-2">
                                    <input type="button" id="printbtn" onclick="window.print()" style="background-color: rgb(6, 75, 12); color: white; border: none; padding: 10px 20px; cursor: pointer;" value="Print Invoice">
                              </div>
                                   
                                   
                                 
                                
                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </section>
    </main>
    <% } %>
    <% } %>
  
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="/user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/user/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/user/js/plugins/slick.js"></script>
    <script src="/user/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/user/js/plugins/wow.js"></script>
    <script src="/user/js/plugins/jquery-ui.js"></script>
    <script src="/user/js/plugins/perfect-scrollbar.js"></script>
    <script src="/user/js/plugins/magnific-popup.js"></script>
    <script src="/user/js/plugins/select2.min.js"></script>
    <script src="/user/js/plugins/waypoints.js"></script>
    <script src="/user/js/plugins/counterup.js"></script>
    <script src="/user/js/plugins/jquery.countdown.min.js"></script>
    <script src="/user/js/plugins/images-loaded.js"></script>
    <script src="/user/js/plugins/isotope.js"></script>
    <script src="/user/js/plugins/scrollup.js"></script>
    <script src="/user/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/user/js/maind134.js?v=3.4"></script>
    <script src="/user/js/shopd134.js?v=3.4"></script>

<!-- modal -->

<script>
    // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        function cancelOrder(orderId) {
            event.preventDefault();
            const reason = document.getElementById('reason').value;
            console.log(reason)
            const data = {
                reason: reason,
                _id: orderId
            };
    
            Swal.fire({
                icon: 'warning',
                title: 'Are you sure?',
                text: 'Do you want to cancel this order?',
                showCancelButton: true,
                confirmButtonText: 'Yes, cancel it!',
                cancelButtonText: 'No, keep it'
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/user/cancelOrder`, {
                        method: 'POST',
                        headers: {
                            'Content-type': 'application/json',
                        },
                        body: JSON.stringify(data)
                    })
                    .then((res) => {
                        if (!res.ok) {
                            throw new Error('response was not okay');
                        }
                        return res.json();
                    })
                    .then((data) => {
                        Swal.fire({
                            icon: 'success',
                            title: 'Order Cancelled',
                            text: 'Your order has been cancelled successfully!',
                        });
                        console.log(data);
                        window.location.href = 'account';
                    })
                    .catch((error) => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong! Unable to cancel the order.',
                            footer: `<p>${error.message}</p>`,
                        });
                        console.log(error);
                    });
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    Swal.fire('Cancelled', 'Your order is safe :)', 'info');
                }
            });
        }
    </script>
    



<script>
    function returnOrder(orderId) {
        event.preventDefault();
            const reason = document.getElementById('reasonForReturn').value;
            console.log(reason)
            const data = {
                reason: reason,
                _id: orderId
            };
    
        Swal.fire({
            icon: 'warning',
            title: 'Are you sure?',
            text: 'Do you want to return this product?',
            showCancelButton: true,
            confirmButtonText: 'Yes, confirm!',
            cancelButtonText: 'No, keep it'
        }).then((result) => {
            if (result.isConfirmed) {
               
                fetch(`/user/cancelOrder`, {
                        method: 'POST',
                        headers: {
                            'Content-type': 'application/json',
                        },
                        body: JSON.stringify(data)
                    })
                .then((data) => {
                 
                    Swal.fire({
                        icon: 'success',
                        title: 'Request for return submitted',
                        text: 'Your order will soon be collected by the team, hang in there, Cheers!',
                    });
                    console.log(data); 
                    window.location.href = 'account'
                })
                .catch((error) => {
                   
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong! Unable to cancel the order.',
                        footer: `<p>${error.message}</p>`,
                    });
                    console.log(error);
                });
            } else if (result.dismiss === Swal.DismissReason.cancel) {
             
                Swal.fire('Cancelled', 'Your order is safe :)', 'info');
            }
        });
    }
</script>



  
  
  
  
      
      
  
      
      
      
      

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>