<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
  
    <% if (errors !== '') { %>
    <script>
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '<%= errors %>'
            });
       
    </script>
     <% } %>
  
    <section class="pt-150 pb-150">
        <div class="container d-flex justify-content-center mt-5 mb-5">
       
                        <div class="col-lg-5">
                            <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h3 class="mb-30">Enter Otp</h3>
                                        
                                    </div>
                                    <form method="post" action="/user/verifyOtp">
                                        <div class="form-group">
                                            <input type="number" name="enteredOTP" placeholder="Enter OTP" required>
                                            <input type="hidden" name="email" value="<%= email %>">
                                            <span>Otp expires in : </span>  <span id="timer">120</span>s
                                           
                                        </div>
                                        
                                    
                                            
                                           
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" id="verifyotp" class="btn btn-fill-out btn-block hover-up" name="login" value="Verify Otp" >
                                        </div>
                                    </form>
                                    <form method="POST" action="/user/resendOtp">
                                        <input type="hidden" name="email" value="<%= email %>">
                                        <input id="resend" type="submit" value="Resend Otp" style="display: none;">
                                      </form>
                                </div>
                            </div>
                        </div>
                        </div>
                       
                        <input type="text" value="<%= running  %>" id="runcheck">
                        </section>
                       
    <%- include('partials/footerlogin') %>

    
    <%- include('partials/mainScripts') %>

  

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let checkrunningstatus = document.getElementById('runcheck').value
            let timeInSeconds
            if(checkrunningstatus == 'true')
            {
                 timeInSeconds = localStorage.getItem('timer') || 120;
            }else{
                 timeInSeconds = 120
            }
     

       function updateTimer() {
           $('#timer').text(timeInSeconds);
           if (timeInSeconds > 0) {
               timeInSeconds--;
               localStorage.setItem('timer', timeInSeconds);
           } else {
             
               timeInSeconds = 120
               document.getElementById('resend').style.display = 'block'
               document.getElementById('verifyotp').style.display = 'none'

           }
          
       }

       let countdownInterval = setInterval(updateTimer, 1000);
   });
   </script> 
    
    
</body>


</html>