<%- include('partials/head') %>

<body onload="checkStock()">

    <% if (typeof errors !== '' && errors) { %>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            Swal.fire({
                title: 'Error!',
                text: '<%= errors %>', 
                icon: 'error',
                confirmButtonText: 'OK'
            });
        </script>
    <% } %>
    
    <script>
        async function checkStock() {
            try {

                



                const stock = document.getElementById('stockView3');
            
              
              
                const lastStock = stock.value;
    
                if (stock.value <= 0) {
                    document.getElementById('inc_btn').style.display = 'none';
                    document.getElementById('dec_btn').style.display = 'none';
    
                    let stockView2 = document.getElementById('stockView2');
                    stockView2.innerHTML = 'Can\'t add more, Please check your cart!';
                    stockView2.style.color = 'red';
    
                }
            } catch (error) {
                console.error(error);
               
            }
        }

    </script>
    

      
     


    <!-- Quick view -->
    <%- include('partials/header') %>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                        <!-- MAIN SLIDES -->
                                      
                                        <div class="product-image-slider" style=" background-color: white;">
                                            <% if (products && products.images && products.images.length > 0) { %>
                                                <% for (let i = 0; i < products.images.length; i++) { %>
                                                    
                                                    <a href="/<%= products.images[i] %>" class="MagicZoom"><img style="border-radius: 10px;" src="/<%= products.images[i] %>"></a>
                                                 
                               
                                            <% } %>
                                            <% } else { %>
                                                  <p>No images available for this product</p>
                                      <% } %>
                                 
                                   
                                           
                                        </div>
                                      
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                             <% if (products && products.images && products.images.length > 0) { %>
                                                <% for (let i = 0; i < products.images.length; i++) { %>
                                                   <img src="/<%= products.images[i] %>">
                                                 
                               
                                            <% } %>
                                            <% } else { %>
                                                  <p>No images available for this product</p>
                                      <% } %>
                                        </div>
                                    </div>
                                    <!-- End Gallery -->
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <form action="/user/addToCart" method="post">
                                        <input id="id" name="_id" value="<%= products._id%>" hidden>
                                    <div class="detail-info">
                                        <input class="title-detail" name="productname" value="<%= products.productName%>" hidden>  <h2 class="title-detail"><%= products.productName%></h2>
                                    <br>   <h4 class="title-detail"><%= products.shortDescription%></h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <% if (products.category &&  products.category.categoryName) { %>
                                                  Category :  <a href="shop-grid-right.html"><%= products.category.categoryName %></a>
                                                <% } else { %>
                                                    Category Not Available <!-- Display a message if category data is not present -->
                                                <% } %>
                                            </div>
                                            <div class="product-rate-cover text-end">
                                                <% if(products.rated == true){ %>
                                                <div class="rating" id="star">
                                                    <% for (let i = 1; i <= 5; i++) { %>
                                                        <% if (i <= parseInt(overallrating)) { %>
                                                            <span class="star" style="color: gold;" data-value="<%= i %>">&#9733;</span>
                                                        <% } else { %>
                                                            <span class="star" style="color: gray;" onclick="" data-value="<%= i %>">&#9733;</span>
                                                        <% } %>
                                                    <% } %>
                                               
                                                
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (<%= products.rating.length  %> reviews)</span>
                                                <% }else{ %>
                                                    <p>No info available on ratings</p>
                                                    <% } %>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                           
                                                
                                            <div class="product-price primary-color float-left">
                                                <input  name="size" type="text" id="sizeView" class="text-brand" value="<%= products.size[0].size %>" hidden>
                                                <ins> <span class="text-brand"> size :</span><span class="text-brand" id="sizeView2"> <%= products.size[0].size %>   </span></ins> <br>
                                                <input  name="price" type="text" id="priceView" class="text-brand" value="<%= products.size[0].productPrice %>" hidden>
                                                      <ins> <span class="text-brand"> sale price : &#8377;</span><span class="text-brand" id="priceView2"> <%= products.size[0].productPrice %>   </span></ins>
                                                      <input  name="mrp" type="text" id="mrpView" class="text-brand" value="<%= products.size[0].mrp  %>" hidden>
                                              <br> <ins><span style="text-decoration: line-through;" class="text-muted fs-4"  >mrp : &#8377;</span> <span style="text-decoration: line-through;" class="text-muted fs-4"  id="mrpView2"><%= products.size[0].mrp  %></span></ins>
                                         
                                              &nbsp;  <input name="discount" id="discountinp" class="title-detail" value="<%= products.size[0].productDiscount%>" hidden>   <span class="text-muted fs-4"  id="discountspan"><%= products.size[0].productDiscount  %>% off</span></ins>
                                             
                                          
                                              <input  name="stock" type="text" id="stockView" class="text-brand" value="<%= products.size[0].stock %>" hidden>
                                              
                                                <% for (const size of products.size) { %>
                                                  <% if (size.stock === 0) { %>
                                                    <br>
                                                    <span>Stock:</span>
                                                    <span  class="save-price font-md text-danger ">Out of stock</span>
                                                  <% } else { %>
                                             
                                                    <% if(!userlogged){ %>

                                             <br><span>Stock:</span>     <span class="save-price font-md color3 ml-15" id="stockView2"><%= products.size[0].stock %></span>
                                          <% }else{ %>
                                            <br><span>Stock:</span>     <span class="save-price font-md color3 ml-15" id="stockView2"><%= products.size[0].lastStock %></span>
                                            <% } %>
                                            <input type="text" id="productTarget" name="productTarget" value="<%= products.size[0]._id %>" hidden>
                                            <% break %>
                                           <% } %>
                                   
                                      
                                            
                                            <% } %>
                                        </div>
                                            <input type="number" min="0"  name="laststock" id="stockView3" value="<%= products.size[0].lastStock  %>" hidden>
                                       
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="short-desc mb-30">
                                            <h6>Features</h6>
                                            <p><%= products.features %></p>
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 5 Year Warranty for every product</li>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                            </ul>
                                        </div>
                                        <strong class="mr-10">Available Size Variants</strong>
                                        <br>
                                        <div class="attr-detail attr-size">
                                           
                                           <ul>
                                              <% if (products && products.size && products.size.length > 0) { %>
                                                <input type="number" value="<% products.size.length  %>" id="variantsnumber" hidden>
                                                <% for (let i = 0; i < products.size.length; i++) { %>
                                                   
                                                    <input type="text" value="<%= products._id%>" id="productTargetId<%= i  %>" hidden>
                                                  <button type="button" class="btn btn-primary action-btn hover-up mt-10 mr-10" style="border: none; background-color: rgba(15, 14, 14, 0.748); color: rgb(255, 255, 255);" name="priceView" onclick="show('<%= i %>','<%= products._id %>')">
                                                
                                                    <%= products.size[i].size %>
                                                
                                                  </button>
                                                  
                                                <% } %>
                                              <% } %>
                                            </ul>
                                          
                                          </div>
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink d-flex">
                                          
                                                <input type="number" name="quantity" id="quantity" value="0" min="1" hidden>
                                                <button id="dec_btn" style="height: 30px;  width: 30px; border-radius: 100px; background-color: rgba(230, 233, 230, 0);"  type="button" onclick="decrease()"><i class="fa-solid fa-minus"></i></button>
                                               
                                                <span id="quantityvalue">Select a quantity</span>
                                                <button  style="height: 30px; width: 30px; border-radius: 100px;  background-color: rgb(13, 14, 13);"  type="button" id="inc_btn" onclick="increase()"><i class="fa-solid fa-plus text-white"></i></button>
                                              </div>
                                                <script>
                                    function increase() {
    event.preventDefault();
    var target = document.getElementById('quantity');
    target.value = parseInt(target.value) + 1;
    var quantityValue = document.getElementById('quantityvalue');
    quantityValue.innerHTML = target.value;
let stockView = document.getElementById('stockView2')
    let checkStock = document.getElementById('stockView3');
    let dec_btn = document.getElementById('dec_btn')
    checkStock.value = parseInt(checkStock.value) - 1;
    document.getElementById('stockView2').innerHTML = checkStock.value

    let inc_btn = document.getElementById('inc_btn');
    let stock = parseInt(checkStock.value) > 0;
    if (stock) {
        inc_btn.style.display = 'block';
    } else {
        inc_btn.style.display = 'none';

        dec_btn.style.display = 'none'
        stockView2.innerHTML = 'Sorry, We ran out of stock! :('
        quantityValue.innerHTML = 'Congrats, be the one to purchase the last item : )'
    

    }
}

function decrease() {
    event.preventDefault();
    var target = document.getElementById('quantity');
    if (parseInt(target.value) > 1) {
        target.value = parseInt(target.value) - 1;
        var quantityValue = document.getElementById('quantityvalue');
        quantityValue.innerHTML = target.value;

        let checkStock = document.getElementById('stockView3');
        checkStock.value = parseInt(checkStock.value) + 1;
        document.getElementById('stockView2').innerHTML = checkStock.value
        

        let dec_btn = document.getElementById('dec_btn');
       
    }
}



                                                </script>

                                                <input type="text" value="" id="productsingle" hidden>
                                         
                                            <div class="product-extra-link2 mt-10">
                                              
                                               
                                                <button  type="submit" class="button button-add-to-cart">Add to cart</button>
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWish()" ><i class="fi-rs-heart"></i></a>
                                               
                                            </div>
                                            
                                        </form>
                                        </div>
                                        
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 m-auto entry-main-content">
                                    <h2 class="section-title style-1 mb-30">Description</h2>
                                    <div class="description mb-50">
                                        <p><%= products.description  %></p>
                                        
                                        <ul class="product-more-infor mt-30">
                                            <li><span>Type Of Packing</span> Plastic wrapped</li>
                                            <li><span>Color</span> Dark shade, light shade</li>
                                        
                                            <li><span>Raw Material</span>Petroleum foam sheets, rubberized coir, spring</li>
                                            
                                        </ul>
                                      
                                        <h3 class="mt-30">Packaging & Delivery</h3>
                                        <hr class="wp-block-separator is-style-wide">
                                        <h4><strong>Packaging</strong></h4>

                                             <span><u>Quality Assurance</u></span>  <br> Before your mattress is prepared for shipping, it undergoes a thorough quality inspection. We make sure it meets our high standards for comfort, durability, and cleanliness.
                                        
                                            <br> <span><u>Vacuum Sealed</u></span>    <br> To make the mattress more manageable for shipping, we use state-of-the-art vacuum-sealing technology. This reduces its size without compromising on quality.
                                        
                                            <br> <span><u>Protection Layers</u></span>  <br> Your mattress is wrapped in protective layers to safeguard it during transit. This extra care ensures that it reaches you in the same pristine condition as when it left our facility.
                                        <br>
                                      <h4> <strong>Delivery</strong> </h4>
                                        
                                        <span><u>Fast and Reliable</u></span>  <br> We understand that you're eager to experience a better night's sleep. That's why we partner with trusted delivery services to bring your mattress to your door as quickly as possible.
                                        
                                       <br> <span><u>Real-Time Tracking</u></span>  <br> Stay informed about the status of your delivery with real-time tracking. You'll receive notifications about the progress of your order from the moment it's dispatched until it reaches your home.
                                        
                                       <br> <span><u>Contactless Delivery</u></span>  <br> In consideration of your safety and convenience, our delivery partners offer contactless delivery options. You can receive your mattress without physical contact, providing peace of mind.
                                        
                                       <br> <span><u>White-Glove Delivery (Optional)</u></span>  <br> For those who prefer extra assistance, we offer an optional white-glove delivery service. Our professionals will not only deliver your mattress but also set it up in your bedroom, ensuring you're ready for a comfortable night's sleep.
                                        
                                       <br> <span><u>Environmentally Conscious</u></span>  <br> We are committed to sustainability. Our packaging materials are eco-friendly, and we strive to minimize our carbon footprint in every aspect of our operations.
                                        </p>
                                    </div>
                                    
                                    <div class="social-icons single-share">
                                        <ul class="text-grey-5 d-inline-block">
                                            <li><strong class="mr-10">Share this:</strong></li>
                                            <li class="social-facebook"><a href="#"><img src="/user/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                                            <li class="social-twitter"> <a href="#"><img src="/user/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                            <li class="social-instagram"><a href="#"><img src="/user/imgs/theme/icons/icon-instagram.svg" alt=""></a></li>
                                            <li class="social-linkedin"><a href="#"><img src="/user/imgs/theme/icons/icon-pinterest.svg" alt=""></a></li>
                                        </ul>
                                    </div>
                                   <a onclick="showReview()"> <h3 class="section-title style-1 mb-30 mt-30">Reviews - <span class="text-muted">Click here to see customer reviews</span> </h3> </a>
                                    <!--Comments-->
                                    <div style="display: none;" id="divComments" class="comments-area style-2">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <h4 class="mb-30">Customer feedback</h4>
                                                <div class="comment-list">
                                                    <% if(products.rating && products.rating.length>0 && products.rated === true){ %>
                                                        <% products.rating.forEach((item,index)=>{%>
                                                            <% if(item.hidden !== true){ %>
                                                    <div class="single-comment justify-content-between d-flex">
                                                        <div class="user justify-content-between d-flex">
                                                            <div class="thumb text-center">
                                                                <img src="/user/imgs/page/avatar-6.jpg" alt="">
                                                                <h6><a href="#"><%= item.userId.firstname%></a></h6>
                                                            
                                                            </div>
                                                            <div class="desc d-block">
                                                              
                                                                    <div class="rating" id="star<%= index %>">
                                                                        <% for (let i = 1; i <= 5; i++) { %>
                                                                            <% if (i <= parseInt(item.rating)) { %>
                                                                                <span class="star" style="color: gold;" data-value="<%= i %>">&#9733;</span>
                                                                            <% } else { %>
                                                                                <span class="star" style="color: gray;" onclick="" data-value="<%= i %>">&#9733;</span>
                                                                            <% } %>
                                                                        <% } %>
                                                                   
                                                                    
                                                                    </div>
                                                               
                                                                <p><%= item.review  %></p>
                                                                <div class="d-flex justify-content-between">
                                                                    <div class="d-flex align-items-center">
                                                                        <p class="font-xs mr-30"> <%= (item.reviewedOn).toString().slice(0,16) %> </p>
                                                                       
                                                                  
                                                                    
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                    <% }) %>
                                                    <% } %>
                                                
                                                </div>
                                            </div>
                                            <script>
                                                function showReview()
                                                {
                                                    document.getElementById('divComments').style.display = 'block'
                                                    showRatings()
                                                }
                                            </script>
                                            <div class="col-lg-4">
                                                <h4 class="mb-30">Customer reviews</h4>
                                                <h6><%= overallrating  %> out of 5</h6>
                                                <div class=" mb-30">
                                                   
                                                    <div class="rating" id="star">
                                                        <% for (let i = 1; i <= 5; i++) { %>
                                                            <% if (i <= parseInt(overallrating)) { %>
                                                                <span class="star" style="color: gold;" data-value="<%= i %>">&#9733;</span>
                                                            <% } else { %>
                                                                <span class="star" style="color: gray;" onclick="" data-value="<%= i %>">&#9733;</span>
                                                            <% } %>
                                                        <% } %>
                                                   
                                                    
                                                    </div>
                                                    <br>
                                                   
                                                </div>
                                                <div class="progress">
                                                    <span>5 star</span>
                                                    <div class="progress-bar" id="fiveStarBar" role="progressbar" style="width: 0%;" aria-valuemin="0" aria-valuemax="100">0%</div>
                                                </div>
                                                <div class="progress">
                                                    <span>4 star</span>
                                                    <div class="progress-bar" id="fourStarBar" role="progressbar" style="width: 0%;" aria-valuemin="0" aria-valuemax="100">0%</div>
                                                </div>
                                                <div class="progress">
                                                    <span>3 star</span>
                                                    <div class="progress-bar" id="threeStarBar" role="progressbar" style="width: 0%;" aria-valuemin="0" aria-valuemax="100">0%</div>
                                                </div>
                                                <div class="progress">
                                                    <span>2 star</span>
                                                    <div class="progress-bar" id="twoStarBar" role="progressbar" style="width: 0%;" aria-valuemin="0" aria-valuemax="100">0%</div>
                                                </div>
                                                <div class="progress mb-30">
                                                    <span>1 star</span>
                                                    <div class="progress-bar" id="oneStarBar" role="progressbar" style="width: 0%;" aria-valuemin="0" aria-valuemax="100">0%</div>
                                                </div>
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                            
                                </div>
                            </div>
                            <div class="row mt-60">
                                <div class="col-12">
                                    <h3 class="section-title style-1 mb-30">Related products</h3>
                                </div>
                                <div class="col-12">
                                  
                                    <div class="row related-products">
                                      


                                            <section class="section-padding">
                                                <div class="container wow fadeIn animated mb-50">
                                                    <!-- banner 6 -->
                                                  
                                                    <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
                                                    <div class="carausel-6-columns-cover position-relative">
                                                        <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows"></div>
                                                        <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                                                            <% relatedProducts.forEach(items=>{ %>
                                                            <div class="product-cart-wrap small hover-up mr-30">
                                                                <div class="product-img-action-wrap">
                                                                    <div class="product-img product-img-zoom">
                                                                        <a href="shop-product-right.html">
                                                                            <img class="default-img" src="/<%= items.images[0]  %>" alt="">
                                                                            <img class="hover-img" src="/<%= items.images[1]  %>" alt="">
                                                                        </a>
                                                                    </div>
                                                                   
                                                                    <div class="product-badges product-badges-position product-badges-mrg">
                                                                        <span class="hot"><%= items.tags  %></span>
                                                                    </div>
                                                                    <div class="product-content-wrap">
                                                                        <h2><a href="shop-product-right.html" tabindex="0"><%= items.productName %></a></h2>
                                                                        <% if(items.rated == true){ %>
                                                                            <% let sum = 0 %>
                                                                            <% sum = items.rating.reduce((acc, item) => acc + item.rating, 0) %>
                            
                            
                                                                        <div class="rating" id="star">
                                                                            <% for (let i = 1; i <= 5; i++) { %>
                                                                            
                                                                                <% if (i <= parseInt(sum)) { %>
                                                                                    <span class="star" style="color: gold;" data-value="<%= i %>">&#9733;</span>
                                                                                <% } else { %>
                                                                                    <span class="star" style="color: gray;" onclick="" data-value="<%= i %>">&#9733;</span>
                                                                                <% } %>
                                                                            <% } %>
                                                                       
                                                                        
                                                                        </div>
                                                                        <% } else { %>
                                                                            <p>No rating available yet</p>
                                                                            <% } %>
                                                                      
                            
                                                                        <div class="product-price">
                                                                         sale price: &#8377;<span><%= items.size[0].productPrice%> </span>
                                                                           <br> mrp: &#8377; <span class="old-price"><%=items.size[0].mrp  %></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                               
                                                            <!--End product-cart-wrap-2-->
                                                        </div>
                                                        <% }) %>
                                                    </div>
                                                </div>
                                              
                                                </div>
                                    
                                            </section>





                                   
                                    
                                    
                                        <input type="number" id="five" value="<%= fivestar  %>"hidden >
                                        <input type="number" id="four" value="<%= fourstar  %>" hidden>
                                        <input type="number" id="three" value="<%= threestar  %>" hidden>
                                        <input type="number" id="two" value="<%= twostar  %>" hidden >
                                        <input type="number" id="one" value="<%= onestar  %>" hidden>

                                        <script>
                                            function showRatings(){
                                           const five = parseInt(document.getElementById('five').value) 
                                           const four = parseInt(document.getElementById('four').value) 
                                           const three = parseInt(document.getElementById('three').value) 
                                           const two = parseInt(document.getElementById('two').value) 
                                           const one = parseInt(document.getElementById('one').value) 

                                           document.getElementById('fiveStarBar').style.width = `${(five / 5) * 100}%`;
document.getElementById('fourStarBar').style.width = `${(four / 5) * 100}%`;
document.getElementById('threeStarBar').style.width = `${(three / 5) * 100}%`;
document.getElementById('twoStarBar').style.width = `${(two / 5) * 100}%`;
document.getElementById('oneStarBar').style.width = `${(one / 5) * 100}%`;
document.getElementById('fiveStarBar').innerHTML = `${(five / 5) * 100}%`;
document.getElementById('fourStarBar').innerHTML = `${(four / 5) * 100}%`;
document.getElementById('threeStarBar').innerHTML = `${(three / 5) * 100}%`;
document.getElementById('twoStarBar').innerHTML = `${(two / 5) * 100}%`;
document.getElementById('oneStarBar').innerHTML = `${(one / 5) * 100}%`;
                                            }

                                        </script>

                                       
                    </div>
                 
                </div>
             
            </div>
        </section>
    </main>

 <%- include('partials/footerlogin')  %>
    <!-- Vendor JS-->
    <script src="/user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/user/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/user/js/plugins/slick.js"></script>
    <script src="/user/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/user/js/plugins/wow.js"></script>
    <script src="/user/js/plugins/jquery-ui.js"></script>
    <script src="/user/js/plugins/perfect-scrollbar.js"></script>
    <script src="/user/js/plugins/magnific-popup.js"></script>
    <script src="/user/js/plugins/select2.min.js"></script>
    <script src="/user/js/plugins/waypoints.js"></script>
    <script src="/user/js/plugins/counterup.js"></script>
    <script src="/user/js/plugins/jquery.countdown.min.js"></script>
    <script src="/user/js/plugins/images-loaded.js"></script>
    <script src="/user/js/plugins/isotope.js"></script>
    <script src="/user/js/plugins/scrollup.js"></script>
    <script src="/user/js/plugins/jquery.vticker-min.js"></script>
    <script src="/user/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/user/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="/user/js/maind134.js?v=3.4"></script>
    <script src="/user/js/shopd134.js?v=3.4"></script>
    <!-- Include SweetAlert CDN -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    async function addToWish() {
        const quantity = document.getElementById('quantity').value;
        const size = document.getElementById('sizeView').value;
        const mrp = document.getElementById('mrpView').value;
        const price = document.getElementById('priceView').value;
        const disc = document.getElementById('discountinp').value;
        const stock = document.getElementById('stockView').value;
        const productId = document.getElementById('productTarget').value;
        const id = document.getElementById('id').value

        const data = {
            quantity, size, mrp, price, disc, stock, productId,id
        };

        try {
            const response = await fetch('/user/addToWish', {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (!response.ok) {
                throw new Error('Failed to add item to wishlist');
            }

            const responseData = await response.json();
            console.log(responseData);

            // Show success message using SweetAlert
            swal({
                title: 'Success!',
                text: 'Item added to wishlist',
                icon: 'success'
            });

        } catch (error) {
            console.error(error);
            // Show error message using SweetAlert if the operation fails
            swal({
                title: 'Error!',
                text: 'Failed to add item to wishlist',
                icon: 'error'
            });
        }
    }
</script>

    <script>
         async  function show(sizeIndex,id) {
            const price2 = document.getElementById('priceView2');
  const mrp2 = document.getElementById('mrpView2');
  const stock2 = document.getElementById('stockView2');
  const size2 = document.getElementById('sizeView2')
  const size = document.getElementById('sizeView')
  const price = document.getElementById('priceView');
  const mrp = document.getElementById('mrpView');
  const stock = document.getElementById('stockView');
  const discountInp = document.getElementById('discountinp')
  const discountSpan = document.getElementById('discountspan')
  const productTarget = document.getElementById('productTarget')
  const hiddenStock = document.getElementById('stockView3')
 
 

  var sizeVal;

            fetch('/user/showPrice?id='+id,{method:'get'}).then((response)=>{
           
            if (response.status === 200) { 
            response.json().then((res)=>{
                
                console.log(res.product.productName);
                price.value = res.product.size[sizeIndex].productPrice
                mrp.value = res.product.size[sizeIndex].mrp
                stock.value = res.product.size[sizeIndex].stock
                hiddenStock.value = res.product.size[sizeIndex].lastStock
                size.value = res.product.size[sizeIndex].size
size2.innerText = res.product.size[sizeIndex].size
price2.innerText = res.product.size[sizeIndex].productPrice
                mrp2.innerText = res.product.size[sizeIndex].mrp
                stock2.innerText = res.product.size[sizeIndex].stock
                discountInp.value = res.product.size[sizeIndex].productDiscount
                discountSpan.innerHTML = res.product.size[sizeIndex].productDiscount + '% Off'
                productTarget.value = res.product.size[sizeIndex]._id
              
               
               

                
             
             
            })
          }
           })
           const sizeInp = document.getElementById('sizeinp')
           sizeInp.value = sizeVal
         
        //     console.log(products.size.length);
        //   const price = document.getElementsByName('priceView')[sizeIndex];
        //   const mrp = document.getElementsByName('mrpView')[sizeIndex];
        //   const stock = document.getElementsByName('stockView')[sizeIndex];
        //   // Check if the sizeIndex is valid and within the range of products
        //   if (products && products.size && products.size.length > sizeIndex) {
        //     price.innerHTML = products.size[sizeIndex].productPrice;
        //     mrp.innerHTML = products.size[sizeIndex].mrp;
        //     stock.innerHTML = products.size[sizeIndex].stock;
        //   }



        }



      </script>
 

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-product-full.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:46 GMT -->
</html>