<%- include('partials/head') %>

<body onload="checkStock()">

    
    <% if (typeof errors !== '' && errors) { %>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            Swal.fire({
                title: 'Error!',
                text: '<%= errors %>', 
                icon: 'error',
                confirmButtonText: 'OK'
            });
        </script>
    <% } %>
      

    <script>
       function checkStock()
       {
        const stock = document.getElementById('stockView3')
        if(stock.value <=0)
        {
            document.getElementById('inc_btn').style.display = 'none'
            document.getElementById('dec_btn').style.display = 'none'
        }
       }
    </script>

      
     


    <!-- Quick view -->
    <%- include('partials/header') %>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                        <!-- MAIN SLIDES -->
                                     
                                        <div class="product-image-slider">
                                            <% if (products && products.images && products.images.length > 0) { %>
                                                <% for (let i = 0; i < products.images.length; i++) { %>
                                                    <a href="/<%= products.images[i] %>" class="MagicZoom"><img src="/<%= products.images[i] %>"></a>
                                                 
                               
                                            <% } %>
                                            <% } else { %>
                                                  <p>No images available for this product</p>
                                      <% } %>
                                 
                                   
                                           
                                        </div>
                                      
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                             <% if (products && products.images && products.images.length > 0) { %>
                                                <% for (let i = 0; i < products.images.length; i++) { %>
                                                   <img src="/<%= products.images[i] %>">
                                                 
                               
                                            <% } %>
                                            <% } else { %>
                                                  <p>No images available for this product</p>
                                      <% } %>
                                        </div>
                                    </div>
                                    <!-- End Gallery -->
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <form action="/user/addToCart" method="post">
                                        <input id="id" name="_id" value="<%= products._id%>" hidden>
                                    <div class="detail-info">
                                        <input class="title-detail" name="productname" value="<%= products.productName%>" hidden>  <h2 class="title-detail"><%= products.productName%></h2>
                                       <h4 class="title-detail"><%= products.shortDescription%></h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <% if (products.category &&  products.category.categoryName) { %>
                                                    <a href="shop-grid-right.html"><%= products.category.categoryName %></a>
                                                <% } else { %>
                                                    Category Not Available <!-- Display a message if category data is not present -->
                                                <% } %>
                                            </div>
                                            <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width:90%">
                                                    </div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                           
                                                
                                            <div class="product-price primary-color float-left">
                                                <input  name="size" type="text" id="sizeView" class="text-brand" value="<%= products.size[0].size %>" hidden>
                                                <ins> <span class="text-brand"> size :</span><span class="text-brand" id="sizeView2"> <%= products.size[0].size %>   </span></ins> <br>
                                                <input  name="price" type="text" id="priceView" class="text-brand" value="<%= products.size[0].productPrice %>" hidden>
                                                      <ins> <span class="text-brand"> sale price : &#8377;</span><span class="text-brand" id="priceView2"> <%= products.size[0].productPrice %>   </span></ins>
                                                      <input  name="mrp" type="text" id="mrpView" class="text-brand" value="<%= products.size[0].mrp  %>" hidden>
                                              <br> <ins><span style="text-decoration: line-through;" class="text-muted fs-4"  >mrp : &#8377;</span> <span style="text-decoration: line-through;" class="text-muted fs-4"  id="mrpView2"><%= products.size[0].mrp  %></span></ins>
                                         
                                              &nbsp;  <input name="discount" id="discountinp" class="title-detail" value="<%= products.size[0].productDiscount%>" hidden>   <span class="text-muted fs-4"  id="discountspan"><%= products.size[0].productDiscount  %>% off</span></ins>
                                             
                                             
                                              <input  name="stock" type="text" id="stockView" class="text-brand" value="<%= products.size[0].stock %>" hidden>
                                              
                                                <% for (const size of products.size) { %>
                                                  <% if (size.stock === 0) { %>
                                                    <br>
                                                    <span>Stock:</span>
                                                    <span  class="save-price font-md text-danger ">Out of stock</span>
                                                  <% } else { %>
                                             

                                             <br><span>Stock:</span>     <span class="save-price font-md color3 ml-15" id="stockView2"><%= products.size[0].stock %></span>
                                          
                                            <input type="text" id="productTarget" name="productTarget" value="<%= products.size[0]._id %>" hidden>
                                            <% break %>
                                           <% } %>
                                   
                                      
                                            
                                            <% } %>
                                        </div>
                                            <input type="number" min="0"  name="laststock" id="stockView3" value="<%= products.size[0].lastStock  %>">
                                       
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="short-desc mb-30">
                                            <p><%= products.shortDescription  %></p>
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 5 Year Warranty for every product</li>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                            </ul>
                                        </div>
                                        <div class="attr-detail attr-color mb-15">
                                            <strong class="mr-10">Color</strong>
                                            <ul class="list-filter color-filter">
                                                <li><a href="#" data-color="White"><span class="product-color-white"></span></a></li>
                                                <li><a href="#" data-color="Black"><span class="product-color-black"></span></a></li>
                                      
                                            </ul>
                                        </div>
                                        <div class="attr-detail attr-size">
                                            <strong class="mr-10">Size</strong>
                                           <ul>
                                              <% if (products && products.size && products.size.length > 0) { %>
                                                <% for (let i = 0; i < products.size.length; i++) { %>
                                                  <button type="button" class="btn text-dark" style="background-color: white;" name="priceView" onclick="show('<%= i %>','<%= products._id %>')">
                                                    <%= products.size[i].size %>
                                                
                                                  </button>
                                                <% } %>
                                              <% } %>
                                            </ul>
                                          
                                          </div>
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink d-flex">
                                          
                                                <input type="number" name="quantity" id="quantity" value="0" min="1" hidden>
                                                <button id="dec_btn" style="height: 30px;  width: 30px; border-radius: 100px; background-color: rgba(230, 233, 230, 0);"  type="button" onclick="decrease()"><i class="fa-solid fa-minus"></i></button>
                                               
                                                <span id="quantityvalue"></span>
                                                <button  style="height: 30px; width: 30px; border-radius: 100px;  background-color: rgb(13, 14, 13);"  type="button" id="inc_btn" onclick="increase()"><i class="fa-solid fa-plus text-white"></i></button>
                                              </div>
                                                <script>
                                    function increase() {
    event.preventDefault();
    var target = document.getElementById('quantity');
    target.value = parseInt(target.value) + 1;
    var quantityValue = document.getElementById('quantityvalue');
    quantityValue.innerHTML = target.value;
let stockView = document.getElementById('stockView2')
    let checkStock = document.getElementById('stockView3');
    let dec_btn = document.getElementById('dec_btn')
    checkStock.value = parseInt(checkStock.value) - 1;

    let inc_btn = document.getElementById('inc_btn');
    let stock = parseInt(checkStock.value) > 0;
    if (stock) {
        inc_btn.style.display = 'block';
    } else {
        inc_btn.style.display = 'none';

        dec_btn.style.display = 'none'
        stockView2.innerHTML = 'Sorry, We ran out of stock! :('
        quantityValue.innerHTML = 'Congrats, be the one to purchase the last item : )'
    

    }
}

function decrease() {
    event.preventDefault();
    var target = document.getElementById('quantity');
    if (parseInt(target.value) > 1) {
        target.value = parseInt(target.value) - 1;
        var quantityValue = document.getElementById('quantityvalue');
        quantityValue.innerHTML = target.value;

        let checkStock = document.getElementById('stockView3');
        checkStock.value = parseInt(checkStock.value) + 1;
        

        let dec_btn = document.getElementById('dec_btn');
       
    }
}



                                                </script>

                                                <input type="text" value="" id="productsingle">
                                         
                                            <div class="product-extra-link2">
                                               
                                                <button type="submit" class="button button-add-to-cart">Add to cart</button>
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWish()" ><i class="fi-rs-heart"></i></a>
                                               
                                            </div>
                                            
                                        </form>
                                        </div>
                                        <ul class="product-meta font-xs color-grey mt-50">
                                            <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                            <li class="mb-5">Tags: <a href="#" rel="tag">Mattress</a>, <a href="#" rel="tag">Furniture</a>, <a href="#" rel="tag">Pillows</a> </li>
                                        
                                        </ul>
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 m-auto entry-main-content">
                                    <h2 class="section-title style-1 mb-30">Description</h2>
                                    <div class="description mb-50">
                                        <p><%= products.description  %></p>
                                        
                                        <ul class="product-more-infor mt-30">
                                            <li><span>Type Of Packing</span> Plastic wrapped</li>
                                            <li><span>Color</span> Dark shade, light shade</li>
                                        
                                            <li><span>Raw Material</span>Petroleum foam sheets, rubberized coir, spring</li>
                                            
                                        </ul>
                                      
                                        <h4 class="mt-30">Packaging & Delivery</h4>
                                        <hr class="wp-block-separator is-style-wide">
                                        <p><strong>Packaging:</strong>

                                            <br> Quality Assurance: <br> Before your mattress is prepared for shipping, it undergoes a thorough quality inspection. We make sure it meets our high standards for comfort, durability, and cleanliness.
                                        
                                            <br>   Vacuum Sealed: <br> To make the mattress more manageable for shipping, we use state-of-the-art vacuum-sealing technology. This reduces its size without compromising on quality.
                                        
                                            <br> Protection Layers: <br> Your mattress is wrapped in protective layers to safeguard it during transit. This extra care ensures that it reaches you in the same pristine condition as when it left our facility.
                                        <br>
                                       <strong>Delivery:</strong>
                                        
                                       <br> Fast and Reliable: <br> We understand that you're eager to experience a better night's sleep. That's why we partner with trusted delivery services to bring your mattress to your door as quickly as possible.
                                        
                                       <br> Real-Time Tracking: <br> Stay informed about the status of your delivery with real-time tracking. You'll receive notifications about the progress of your order from the moment it's dispatched until it reaches your home.
                                        
                                       <br> Contactless Delivery: <br> In consideration of your safety and convenience, our delivery partners offer contactless delivery options. You can receive your mattress without physical contact, providing peace of mind.
                                        
                                       <br> White-Glove Delivery (Optional): <br> For those who prefer extra assistance, we offer an optional white-glove delivery service. Our professionals will not only deliver your mattress but also set it up in your bedroom, ensuring you're ready for a comfortable night's sleep.
                                        
                                       <br> Environmentally Conscious: <br> We are committed to sustainability. Our packaging materials are eco-friendly, and we strive to minimize our carbon footprint in every aspect of our operations.
                                        </p>
                                    </div>
                                    
                                    <div class="social-icons single-share">
                                        <ul class="text-grey-5 d-inline-block">
                                            <li><strong class="mr-10">Share this:</strong></li>
                                            <li class="social-facebook"><a href="#"><img src="/user/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                                            <li class="social-twitter"> <a href="#"><img src="/user/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                            <li class="social-instagram"><a href="#"><img src="/user/imgs/theme/icons/icon-instagram.svg" alt=""></a></li>
                                            <li class="social-linkedin"><a href="#"><img src="/user/imgs/theme/icons/icon-pinterest.svg" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <h3 class="section-title style-1 mb-30 mt-30">Reviews (3)</h3>
                                    <!--Comments-->
                                    <div class="comments-area style-2">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <h4 class="mb-30">Customer questions & answers</h4>
                                                <div class="comment-list">
                                                    <div class="single-comment justify-content-between d-flex">
                                                        <div class="user justify-content-between d-flex">
                                                            <div class="thumb text-center">
                                                                <img src="/user/imgs/page/avatar-6.jpg" alt="">
                                                                <h6><a href="#">Jacky Chan</a></h6>
                                                                <p class="font-xxs">Since 2012</p>
                                                            </div>
                                                            <div class="desc">
                                                                <div class="product-rate d-inline-block">
                                                                    <div class="product-rating" style="width:90%">
                                                                    </div>
                                                                </div>
                                                                <p>Thank you very fast shipping from Poland only 3days.</p>
                                                                <div class="d-flex justify-content-between">
                                                                    <div class="d-flex align-items-center">
                                                                        <p class="font-xs mr-30">December 4, 2020 at 3:12 pm </p>
                                                                        <a href="#" class="text-brand btn-reply">Reply <i class="fi-rs-arrow-right"></i> </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--single-comment -->
                                                    <div class="single-comment justify-content-between d-flex">
                                                        <div class="user justify-content-between d-flex">
                                                            <div class="thumb text-center">
                                                                <img src="/user/imgs/page/avatar-7.jpg" alt="">
                                                                <h6><a href="#">Ana Rosie</a></h6>
                                                                <p class="font-xxs">Since 2008</p>
                                                            </div>
                                                            <div class="desc">
                                                                <div class="product-rate d-inline-block">
                                                                    <div class="product-rating" style="width:90%">
                                                                    </div>
                                                                </div>
                                                                <p>Great low price and works well.</p>
                                                                <div class="d-flex justify-content-between">
                                                                    <div class="d-flex align-items-center">
                                                                        <p class="font-xs mr-30">December 4, 2020 at 3:12 pm </p>
                                                                        <a href="#" class="text-brand btn-reply">Reply <i class="fi-rs-arrow-right"></i> </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--single-comment -->
                                                    <div class="single-comment justify-content-between d-flex">
                                                        <div class="user justify-content-between d-flex">
                                                            <div class="thumb text-center">
                                                                <img src="/user/imgs/page/avatar-8.jpg" alt="">
                                                                <h6><a href="#">Steven Keny</a></h6>
                                                                <p class="font-xxs">Since 2010</p>
                                                            </div>
                                                            <div class="desc">
                                                                <div class="product-rate d-inline-block">
                                                                    <div class="product-rating" style="width:90%">
                                                                    </div>
                                                                </div>
                                                                <p>Authentic and Beautiful, Love these way more than ever expected They are Great earphones</p>
                                                                <div class="d-flex justify-content-between">
                                                                    <div class="d-flex align-items-center">
                                                                        <p class="font-xs mr-30">December 4, 2020 at 3:12 pm </p>
                                                                        <a href="#" class="text-brand btn-reply">Reply <i class="fi-rs-arrow-right"></i> </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--single-comment -->
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <h4 class="mb-30">Customer reviews</h4>
                                                <div class="d-flex mb-30">
                                                    <div class="product-rate d-inline-block mr-15">
                                                        <div class="product-rating" style="width:90%">
                                                        </div>
                                                    </div>
                                                    <h6>4.8 out of 5</h6>
                                                </div>
                                                <div class="progress">
                                                    <span>5 star</span>
                                                    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                                </div>
                                                <div class="progress">
                                                    <span>4 star</span>
                                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                                </div>
                                                <div class="progress">
                                                    <span>3 star</span>
                                                    <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                                                </div>
                                                <div class="progress">
                                                    <span>2 star</span>
                                                    <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                                                </div>
                                                <div class="progress mb-30">
                                                    <span>1 star</span>
                                                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                                </div>
                                                <a href="#" class="font-xs text-muted">How are ratings calculated?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--comment form-->
                                    <div class="comment-form">
                                        <h4 class="mb-15">Add a review</h4>
                                        <div class="product-rate d-inline-block mb-30">
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-8 col-md-12">
                                                <form class="form-contact comment_form" action="#" id="commentForm">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="Write Comment"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="button button-contactForm">Submit
                                                            Review</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-60">
                                <div class="col-12">
                                    <h3 class="section-title style-1 mb-30">Related products</h3>
                                </div>
                                <div class="col-12">
                                  
                                    <div class="row related-products">
                                        <% relatedProducts.forEach(items=>{ %>
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                     
                                            <div class="product-cart-wrap small hover-up">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="shop-product-right.html" tabindex="0">
                                                       
                                                            <img class="default-img" src="/<%= items.images[0] %>" alt="">
                                                            <img class="hover-img" src="/<%= items.images[1] %>" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal
"><i class="fi-rs-search"></i></a>
                                                        <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                                        <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                    <div class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="hot">Hot</span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="shop-product-right.html" tabindex="0"><%= items.productName %></a></h2>
                                                    <div class="rating-result" title="90%">
                                                        <span>
                                                        </span>
                                                    </div>
                                                    <div class="product-price">
                                                     sale price: &#8377;<span><%= items.size[0].productPrice%> </span>
                                                       <br> mrp: &#8377; <span class="old-price"><%=items.size[0].mrp  %></span>
                                                    </div>
                                                </div>
                                            </div>
                                          
                                        </div>
                                        <% }) %>
                                    
                                       
                    </div>
                 
                </div>
             
            </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="/user/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html"><img src="/user/imgs/theme/logo.svg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="/user/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="/user/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="/user/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="/user/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="/user/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="/user/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="/user/imgs/theme/google-play.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="/user/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Get Comfortable...</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="/user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/user/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/user/js/plugins/slick.js"></script>
    <script src="/user/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/user/js/plugins/wow.js"></script>
    <script src="/user/js/plugins/jquery-ui.js"></script>
    <script src="/user/js/plugins/perfect-scrollbar.js"></script>
    <script src="/user/js/plugins/magnific-popup.js"></script>
    <script src="/user/js/plugins/select2.min.js"></script>
    <script src="/user/js/plugins/waypoints.js"></script>
    <script src="/user/js/plugins/counterup.js"></script>
    <script src="/user/js/plugins/jquery.countdown.min.js"></script>
    <script src="/user/js/plugins/images-loaded.js"></script>
    <script src="/user/js/plugins/isotope.js"></script>
    <script src="/user/js/plugins/scrollup.js"></script>
    <script src="/user/js/plugins/jquery.vticker-min.js"></script>
    <script src="/user/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/user/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="/user/js/maind134.js?v=3.4"></script>
    <script src="/user/js/shopd134.js?v=3.4"></script>
    <!-- Include SweetAlert CDN -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    async function addToWish() {
        const quantity = document.getElementById('quantity').value;
        const size = document.getElementById('sizeView').value;
        const mrp = document.getElementById('mrpView').value;
        const price = document.getElementById('priceView').value;
        const disc = document.getElementById('discountinp').value;
        const stock = document.getElementById('stockView').value;
        const productId = document.getElementById('productTarget').value;
        const id = document.getElementById('id').value

        const data = {
            quantity, size, mrp, price, disc, stock, productId,id
        };

        try {
            const response = await fetch('/user/addToWish', {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (!response.ok) {
                throw new Error('Failed to add item to wishlist');
            }

            const responseData = await response.json();
            console.log(responseData);

            // Show success message using SweetAlert
            swal({
                title: 'Success!',
                text: 'Item added to wishlist',
                icon: 'success'
            });

        } catch (error) {
            console.error(error);
            // Show error message using SweetAlert if the operation fails
            swal({
                title: 'Error!',
                text: 'Failed to add item to wishlist',
                icon: 'error'
            });
        }
    }
</script>

    <script>
         async  function show(sizeIndex,id) {
            const price2 = document.getElementById('priceView2');
  const mrp2 = document.getElementById('mrpView2');
  const stock2 = document.getElementById('stockView2');
  const size2 = document.getElementById('sizeView2')
  const size = document.getElementById('sizeView')
  const price = document.getElementById('priceView');
  const mrp = document.getElementById('mrpView');
  const stock = document.getElementById('stockView');
  const discountInp = document.getElementById('discountinp')
  const discountSpan = document.getElementById('discountspan')
  const productTarget = document.getElementById('productTarget')
  const hiddenStock = document.getElementById('stockView3')
 
 

  var sizeVal;

            fetch('/user/showPrice?id='+id,{method:'get'}).then((response)=>{
           
            if (response.status === 200) { 
            response.json().then((res)=>{
                
                console.log(res.product.productName);
                price.value = res.product.size[sizeIndex].productPrice
                mrp.value = res.product.size[sizeIndex].mrp
                stock.value = res.product.size[sizeIndex].stock
                hiddenStock.value = res.product.size[sizeIndex].lastStock
                size.value = res.product.size[sizeIndex].size
size2.innerText = res.product.size[sizeIndex].size
price2.innerText = res.product.size[sizeIndex].productPrice
                mrp2.innerText = res.product.size[sizeIndex].mrp
                stock2.innerText = res.product.size[sizeIndex].stock
                discountInp.value = res.product.size[sizeIndex].productDiscount
                discountSpan.innerHTML = res.product.size[sizeIndex].productDiscount + '% Off'
                productTarget.value = res.product.size[sizeIndex]._id
              
               
               

                
             
             
            })
          }
           })
           const sizeInp = document.getElementById('sizeinp')
           sizeInp.value = sizeVal
         
        //     console.log(products.size.length);
        //   const price = document.getElementsByName('priceView')[sizeIndex];
        //   const mrp = document.getElementsByName('mrpView')[sizeIndex];
        //   const stock = document.getElementsByName('stockView')[sizeIndex];
        //   // Check if the sizeIndex is valid and within the range of products
        //   if (products && products.size && products.size.length > sizeIndex) {
        //     price.innerHTML = products.size[sizeIndex].productPrice;
        //     mrp.innerHTML = products.size[sizeIndex].mrp;
        //     stock.innerHTML = products.size[sizeIndex].stock;
        //   }



        }



      </script>

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-product-full.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:46 GMT -->
</html>