<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="/user/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                     
                    </div>
                    <!-- mobile menu start -->
                    <%- include('partials/navlogin') %>
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a  href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login-register.html">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="/user/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="/user/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="/user/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="/user/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="/user/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/headerlogin') %>
    <%- include('partials/headerlogin') %>
    <% if (typeof(errors) !== 'undefined' && errors.length > 0) { %>
        <div id="error-message" class="alert alert-danger">
            <span>
                <% errors.forEach(error => { %>
                    <p><%= error %></p>
                <% }); %>
            </span>
        </div>
    <% } %>
<section>
  <div class="container d-flex justify-content-center mt-5 mb-5">
    <div class="col-lg-4">
        <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
            <div class="padding_eight_all bg-white">
                <div class="heading_s1">
                    <h3 class="mb-30">Create an Account</h3>
                </div>
                <p class="mb-50 font-sm">
                    Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our privacy policy
                </p>
                <form method="post" action="/user/signup">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="firstname">
                        <label>Last Name</label>
                        <input type="text" class="form-control" name="lastname">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" name="phonenumber">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" name="chkpassword">
                    </div>
                        <a href="page-privacy-policy.html"><i class="fi-rs-book-alt mr-5 text-muted"></i>Lean more</a>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Submit &amp; Register</button>
                    </div>
                </form>
                <div class="divider-text-center mt-15 mb-15">
                    <span> or</span>
                </div>
                <ul class="btn-login list_none text-center mb-15">
                    <li><a href="#" class="btn btn-facebook hover-up mb-lg-0 mb-sm-4">Login With Facebook</a></li>
                    <li><a href="#" class="btn btn-google hover-up">Login With Google</a></li>
                </ul>
                <div class="text-muted text-center">Already have an account? <a href="#">Sign in now</a></div>
            </div>
        </div>
    </div>
</div>

</section>
    <%- include('partials/footerlogin') %>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/hideerror.js"></script>
    <!-- Vendor JS-->
    <script src="/user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/user/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/user/js/plugins/slick.js"></script>
    <script src="/user/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/user/js/plugins/wow.js"></script>
    <script src="/user/js/plugins/jquery-ui.js"></script>
    <script src="/user/js/plugins/perfect-scrollbar.js"></script>
    <script src="/user/js/plugins/magnific-popup.js"></script>
    <script src="/user/js/plugins/select2.min.js"></script>
    <script src="/user/js/plugins/waypoints.js"></script>
    <script src="/user/js/plugins/counterup.js"></script>
    <script src="/user/js/plugins/jquery.countdown.min.js"></script>
    <script src="/user/js/plugins/images-loaded.js"></script>
    <script src="/user/js/plugins/isotope.js"></script>
    <script src="/user/js/plugins/scrollup.js"></script>
    <script src="/user/js/plugins/jquery.vticker-min.js"></script>
    <script src="/user/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="/user/js/maind134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>