
<%- include('partials/head') %>



<body>

    
<%- include('partials/header') %>
   
    <main class="main">
      <div class="container">
        <section class="mt-50 mb-50">
          
            <div class="container">
                <div class="row">
                 
                    <div class="col-lg-6">
                        <div class="toggle_info">
                            <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to view and enter your code</a></span>
                        </div>
                       
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-25">
                            <h4>Billing Details</h4>
                        </div>
            
                       
                        <div>   <button style="width: 200px;" class="btn" id="showaddress">Add address</button></div>
                        <div id="formshow"  class="container p-40 mt-20 mb-20" style="box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2); display: none;">
                            
                        <form  action="/user/checkOutAddress" method="post">
                            <input type="text" value="Billing Address" name="addressmode" hidden>
                           <div class="address-collection-container">
                             <div class="address-row">
                               <div class="address-field-with-label main-part margin-right mt-10">
                                
                                 <input placeholder="Enter your name" name="name" id="street" required>
                               </div>
                           
                               <div class="address-field-with-label mt-10">
                                 <input placeholder="Enter phone" id="phonenumber" name="phonenumber" required>
                               </div>
                             </div>
                           
                             <div class="address-row">
                               <div class="address-field-with-label main-part mt-10">
                                 <input placeholder="Enter pincode" id="address-additional" name="pincode" required>
                               </div>
                             </div>
                           
                             <div class="address-row">
                               <div class="address-field-with-label main-part margin-right mt-10">
                                 <input id="address" name="address" placeholder="Enter Address" required>
                               </div>
                           
                               <div class="address-field-with-label mt-10">
                                 <input id="city" placeholder="Enter City" name="city" required/>
                               </div>
                             </div>
                           
                             <div class="address-row">
                               <div class="address-field-with-label main-part margin-right mt-10">
                                   <label for="inputState">State :</label>
                                   <select name="state" class="form-control" id="inputState" required>
                                                       <option value="SelectState">Select State</option>
                                                       <option value="Andra Pradesh">Andra Pradesh</option>
                                                       <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                       <option value="Assam">Assam</option>
                                                       <option value="Bihar">Bihar</option>
                                                       <option value="Chhattisgarh">Chhattisgarh</option>
                                                       <option value="Goa">Goa</option>
                                                       <option value="Gujarat">Gujarat</option>
                                                       <option value="Haryana">Haryana</option>
                                                       <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                       <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                       <option value="Jharkhand">Jharkhand</option>
                                                       <option value="Karnataka">Karnataka</option>
                                                       <option value="Kerala">Kerala</option>
                                                       <option value="Madya Pradesh">Madya Pradesh</option>
                                                       <option value="Maharashtra">Maharashtra</option>
                                                       <option value="Manipur">Manipur</option>
                                                       <option value="Meghalaya">Meghalaya</option>
                                                       <option value="Mizoram">Mizoram</option>
                                                       <option value="Nagaland">Nagaland</option>
                                                       <option value="Orissa">Orissa</option>
                                                       <option value="Punjab">Punjab</option>
                                                       <option value="Rajasthan">Rajasthan</option>
                                                       <option value="Sikkim">Sikkim</option>
                                                       <option value="Tamil Nadu">Tamil Nadu</option>
                                                       <option value="Telangana">Telangana</option>
                                                       <option value="Tripura">Tripura</option>
                                                       <option value="Uttaranchal">Uttaranchal</option>
                                                       <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                       <option value="West Bengal">West Bengal</option>
                                                       <option disabled style="background-color:#aaa; color:#fff">UNION Territories</option>
                                                       <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                                       <option value="Chandigarh">Chandigarh</option>
                                                       <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                                       <option value="Daman and Diu">Daman and Diu</option>
                                                       <option value="Delhi">Delhi</option>
                                                       <option value="Lakshadeep">Lakshadeep</option>
                                                       <option value="Pondicherry">Pondicherry</option>
                                                     </select>
                               </div>
                           
                               <div class="address-field-with-label main-part mt-10">
                                 <input id="landmark" placeholder="Enter landmark" name="landmark" required>
                               </div>
                             </div>
                             <div class="address-type-container mt-10">
                               <label for="country">Address Type :</label>
                               <div>
                                  <select name="addresstype" id="" required>
                                   <option value="work">Work</option>
                                   <option value="home">Home</option>
                                  </select>
                               
                               </div>
                             </div>
                             
                           


                             <div id="message" class="message-container mt-10"></div>
                             <div><input class="btn btn-primary" type="submit" value="submit"></div>

                           </div>
                       </form>
                       </div>


                       <form id="orderForm">
                                <% if (cart && cart.userId && cart.userId.address) { %>
                                  <% for (let i = 0; i < cart.userId.address.length; i++) { %>
                                
                                        <div style="display: flex; width: auto; box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);" class="mt-20" >
                                            <div style="margin-left: 10px;" >
                                                <input type="radio" style="height: 20px;" value="" id="address_<%=i%>" name="selectedAddress" onclick="selectAddress('<%= i %>')">

                                    </div>
                                    <div style="margin-left: 20px;">
                                      Name : <%= cart.userId.address[i].name %><br>  Phone : <%= cart.userId.address[i].phone %>
                                     
                                      Pincode : <%= cart.userId.address[i].pincode %> <br> 
                                      Address : <%= cart.userId.address[i].Address %> <br>
                                      City : <%= cart.userId.address[i].city %> <br>
                                      State : <%= cart.userId.address[i].state %> <br>
                                      Landmark : <%= cart.userId.address[i].landmark %> <br>
                                    
                                    </div>
                                    </div>
                               
                                    <br>
                               
                                   
                                  <% } %>
                                <% } else { %>
                                  <p>No address information available.</p>
                                <% } %>
                               
                             
                    </div>
                  
                   
                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <% if(cart && cart.products){ %>
                                        <tbody>
                                            <% let productsTotal = 0; %> <!-- Initialize a variable to hold the total -->
                                            
                                            <% for(let i=0; i<cart.products.length; i++) { %>
                                                <tr>
                                                    <td class="image product-thumbnail"><img src="/<%=cart.products[i].product_id.images[0]%>" alt="#"></td>
                                                    <td>
                                                        <h5><a href="shop-product-full.html"><%=cart.products[i].product_id.productName%></a></h5>
                                                        <span class="product-qty">x <%=cart.products[i].quantity%></span>
                                                    </td>
                                                    <td>$<%=cart.products[i].price%></td>
                                                </tr>
                                              
                                                <% productsTotal += cart.products[i].price * cart.products[i].quantity; %> 
                                            <% } %>
                                            
                                            <!-- Display the products subtotal -->
                                            <tr>
                                                <th>SubTotal</th>
                                                <td class="product-subtotal" colspan="2">$<%= productsTotal %></td>
                                            </tr>
                                            <tr>
                                                <th>Shipping</th>
                                                <td colspan="2"><em>Free Shipping</em></td>
                                            </tr>
                                            <tr>
                                                <th>Total</th>
                                                <td colspan="2" class="product-subtotal">
                                                    <% if(cart.couponApplied == 'true'){ %>
                                                        <span class="text-muted" style="font-size: 8px;"><%= cart.couponCode%> coupon applied succesfully</span> <br>
                                                    <span id="totalfieldload" class="font-xl text-brand fw-900">$<%= cart.total %></span>
                                                    <% } else { %>
                                                        <span id="totalfieldload" class="font-xl text-brand fw-900">$<%= cart.total %></span>
                                                        <% } %>
                                                </td>
                                            </tr>
                                        </tbody>
                                    <% } %>
                                    
                                
                                </table>
                             
                            </div>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="payment_method">
                                <div class="mb-25">
                                    <h5>Payment</h5>
                                </div>
                                <div class="payment_option">
                                   
                                    
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios5" value="razorpay" data-payment-method="razorpay">

                                        <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse" data-target="#razorpay" aria-controls="razorpay">Online Payment</label>
                                        <div class="form-group collapse in" id="razorpay">
                                            <p class="text-muted mt-5">Pay via PayPal; you can pay with your credit card if you don't have a PayPal account.</p>
                                        </div>
                                    </div>
                                   

                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios7" value="Cash On Delivery" checked="">
                                        <label class="form-check-label" for="exampleRadios7" data-bs-toggle="collapse" data-target="#cod" aria-controls="cod">Cash On Delivery</label>
                                     
                                    </div>

                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios8" value="Wallet" checked="">
                                        <label class="form-check-label" for="exampleRadios8" data-bs-toggle="collapse" data-target="#wallet" aria-controls="cod">Pay From Wallet</label>
                                     
                                    </div>

                                </div>
                            </div>
                            
                            <input type="number" id="selectedAddressDetails" name="selectedAddressDetails" value="" hidden >
                            <button class="btn btn-primary" type="button" onclick="confirmPlaceOrder()">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </section>
    </div>
    </main>
   
 
   
    <!-- Vendor JS-->
    <script src="/user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/user/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/user/js/plugins/slick.js"></script>
    <script src="/user/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/user/js/plugins/wow.js"></script>
    <script src="/user/js/plugins/jquery-ui.js"></script>
    <script src="/user/js/plugins/perfect-scrollbar.js"></script>
    <script src="/user/js/plugins/magnific-popup.js"></script>
    <script src="/user/js/plugins/select2.min.js"></script>
    <script src="/user/js/plugins/waypoints.js"></script>
    <script src="/user/js/plugins/counterup.js"></script>
    <script src="/user/js/plugins/jquery.countdown.min.js"></script>
    <script src="/user/js/plugins/images-loaded.js"></script>
    <script src="/user/js/plugins/isotope.js"></script>
    <script src="/user/js/plugins/scrollup.js"></script>
    <script src="/user/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/user/js/maind134.js?v=3.4"></script>
    <script src="/user/js/shopd134.js?v=3.4"></script>

 <script>
   

 </script>


    <script>
        const btn = document.getElementById('showaddress');
    
        btn.addEventListener('click', () => {
          const form = document.getElementById('formshow');
        
          if (form.style.display === 'none') {
           
            form.style.display = 'block';
          } else {
           
            form.style.display = 'none';
          }
        });
    </script>
<!-- 
    <script>
 var total = parseInt(document.getElementById('totalfieldload').innerHTML)
if(total<=0)
{
    location.reload()
}
    </script> -->

 

<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>

function selectAddress(index) {
   
            
   document.getElementById('selectedAddressDetails').value = index;
  
   console.log(index)

}



async function confirmPlaceOrder() {
    Swal.fire({
        title: 'Confirm Order',
        text: 'Are you sure you want to place the order?',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, Place Order'
    }).then(async (result) => {
        if (result.isConfirmed) {
            await placeOrder();
        }
    });
}



async function placeOrder() {
    const orderForm = document.getElementById('orderForm');
    const formData = new FormData(orderForm);
    const index = document.getElementById('selectedAddressDetails').value;

    const requestData = {};
    for (const [key, value] of formData) {
        requestData[key] = value;
    }
    requestData.selectedAddressDetails = index;

    try {
        const response = await fetch('/user/placeOrder', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestData)
        });

        const data = await response.json();
        if (data && data.message === 'Order placed successfully') {
            Swal.fire({
                icon: 'success',
                title: 'Order Placed Successfully!',
                text: 'Thank you for your order.',
            });
            window.location.href = 'account';
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: 'Error placing the order',
            });
        }
    } catch (error) {
        console.error('Error placing the order:', error);
        Swal.fire({
            icon: 'error',
            title: 'Error!',
            text: 'Error placing the order',
        });
    }
}

    
</script> -->


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>

function selectAddress(index) {
   
            
   document.getElementById('selectedAddressDetails').value = index;
  
   console.log(index)

}

document.addEventListener("DOMContentLoaded", function () {
  
        document.getElementById('address_0').checked = true;
      
        selectAddress('0');
    });



async function confirmPlaceOrder() {
    const selectedPaymentMethod = document.querySelector('input[name="payment_option"]:checked').getAttribute('data-payment-method');
    Swal.fire({
        title: 'Confirm Order',
        text: 'Are you sure you want to place the order?',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, Place Order'
    }).then(async (result) => {
        if (result.isConfirmed) {
       
    if (selectedPaymentMethod === 'razorpay') {
     
       await initiateRazorpayPayment();
    }else{
            await placeOrder();
    }
        }
    });
}




async function initiateRazorpayPayment() {
    try {
        const selectedAddressDetails = document.getElementById('selectedAddressDetails').value;

        const response = await fetch('/user/placeOrder', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ selectedAddressDetails, payment_option: 'Razorpay' })
        });

        const data = await response.json();
        if (data && data.order) {
            const { amount, order_id, currency } = data.order;

            const options = {
                key: 'rzp_test_kE5gjv2l8cgs79', // Replace with your Razorpay key
                amount: amount, // Replace with the actual amount
                currency: currency,
                order_id: order_id,
                handler: async function (response) {
                    console.log(response);
                    if (response.razorpay_payment_id) {
                      await placeOnlineOrder()
                    } else {
                        console.log('Payment unsuccessful');
                       
                    }
                    window.location.href = 'account';
                },
                prefill: {
                    name: 'Sayeed Safvan',
                    email: 'syd@gmail.com',
                    contact: '7025053170'
                }
            };

            const rzp = new Razorpay(options);
            rzp.on('payment.error', function (response) {
                console.log('Payment Error:', response.error.code, response.error.description);
               

Swal.fire({
    icon: 'error',
    title: 'Payment Error',
    text: 'There was an error processing your payment. Please try again.',
});
            });
            rzp.open(); // Open Razorpay payment dialog
        }
    } catch (error) {
        console.error('Error initiating Razorpay payment:', error);
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'An unexpected error occurred. Please try again later.',
        });
    }
}




async function placeOrder() {
    const orderForm = document.getElementById('orderForm');
    const formData = new FormData(orderForm);
    const index = document.getElementById('selectedAddressDetails').value;

    const requestData = {};
    for (const [key, value] of formData) {
        requestData[key] = value;
    }
    requestData.selectedAddressDetails = index;

    try {
        const response = await fetch('/user/placeOrder', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestData)
        });

        const data = await response.json();
        if (data && data.message === 'Order placed successfully') {
            Swal.fire({
                icon: 'success',
                title: 'Order Placed Successfully!',
                text: 'Thank you for your order.',
            });
            window.location.href = 'account';
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: 'Error placing the order',
            });
        }
    } catch (error) {
        console.error('Error placing the order:', error);
        Swal.fire({
            icon: 'error',
            title: 'Error!',
            text: 'Error placing the order',
        });
    }
}

async function placeOnlineOrder()
{
    const orderForm = document.getElementById('orderForm');
    const formData = new FormData(orderForm);
    const index = document.getElementById('selectedAddressDetails').value;

    const requestData = {};
    for (const [key, value] of formData) {
        requestData[key] = value;
    }
    requestData.selectedAddressDetails = index;

   
        const response =  await fetch('/user/placeOrder', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestData)
        });
              
}
    




</script>


</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>