
<%- include('partials/head') %>



<body>

    
<%- include('partials/header') %>



  
        <section class="mt-50 mb-50">
        
        
            <div class="container">
                <h2 class="text-dark mb-10"><i class="fa-solid fa-cart-shopping"></i> Your Cart</h2>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                           
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr id="tablehead" class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Product Details</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (user) { %>
                                      <% if(cart && cart.length > 0){ %>
                                        <% for(let j = 0; j < cart.length; j++) { %>
                                            <% if(cart[j].products && cart[j].products.length > 0){ %>
                                          <% for(let i = 0; i < cart[j].products.length; i++) { %>
                                            <tr>
                                               
                                                <input type="text" value="<%= cart[j].products[i].product_id  %>" id="" hidden>
                                              <td class="image product-thumbnail">
                                           
                                                <img src="/<%= cart[j].products[i].product_id.images[0] %>" alt="#">
                                            
                                              </td>
                                              <td class="product-des product-name">
                                                <h5 class="product-name">
                                                  <a href=""><%= cart[j].products[i].product_id.productName %></a>
                                                </h5>
                                                <p class="font-xs">Size : <%= cart[j].products[i].size  %><br> <%= cart[j].products[i].product_id.model  %> </p>
                                              </td>
                                              <td class="price" data-title="Price"><span><%= cart[j].products[i].price %> </span></td>
                                              <td class="text-center" data-title="Stock">
                                              

                                                <input name="quantity" type="number" id="quantity<%= cart[j].products[i]._id %>" min="1" value="<%= cart[j].products[i].quantity %>" onchange="calc('<%= cart[j].products[i]._id %>')" hidden>
                                              
                                         
                                                <button id="dec_btn<%= i  %>" style="height: 30px; width: 30px; border-radius: 100px; background-color: rgba(13, 14, 13, 0);"  onclick="decrease('<%= cart[j].products[i]._id %>','<%= i %>')"><i class="fa-solid fa-minus"></i></button>
                                             
                                                <span id="newQuantity<%= cart[j].products[i]._id %>"><%= cart[j].products[i].quantity %></span>
                                               
                                                <button id="inc_btn<%= i %>" style="height: 30px; width: 30px; border-radius: 100px; background-color: rgb(13, 14, 13);" onclick="increase('<%= cart[j].products[i]._id %>','<%= i %>')"><i class="fa-solid fa-plus text-white"></i></button>
<br>                                                    <span class="text-muted fs-" id="stockAlert<%= i  %>"></span>

                                               <script src="/user/helpers/shopcart.js">

                                                
                                                 
                                                </script>



                                              </td>
                                             

                                             
<td class="text-right" data-title="Cart">
    <input type="number" id="mul<%= cart[j].products[i]._id %>" value="<%= cart[j].products[i].price %>" hidden>
    <span class="calctotal" id="calcprice<%= cart[j].products[i]._id %>"><%= (cart[j].products[i].price) * (cart[j].products[i].quantity)%> </span>
    <input type="text" id="productsingleid<%= i  %>" name="productsingleid" value="<%= cart[j].products[i].single_id  %>"hidden>
    <input type="" id="productsizefind<%= i  %>" name="productsize" value="<%= cart[j].products[i].size  %>" hidden>
    <input type="number" value="<%= cart[j].products[i].lastStock  %>" id="laststock<%= i %>" hidden>
    <input type="text" value="<%= cart[j].products[i].product_id._id  %>" id="productmainid<%= i  %>" hidden >

  </td>
  <td class="action" data-title="Remove">
    <a onclick="deleteCartItem('<%= cart[j].products[i]._id %>','<%= cart[j].products[i].product_id._id %>','<%= cart[j].products[i].single_id %>')" class="text-muted">
        <i class="fi-rs-trash"></i>
    </a>
</td>

                                            </tr>
                                            <% } %>
                                        
                                  
                                   
                                  </tbody>
                                  <% } else { %>
                                    <br>
                                        <tr>
                                        <h1>You have no items in cart, Add new items and get the best deals fast </h1> 
                                        <script>
                                            document.getElementById('tablehead').style.display = 'none'

                                        </script>
                                        </tr>
                                        <% } %>
                            </table>
                        </div>
                 
                        <div class="divider center_icon mt-50 mb-50"></div>
                      
                            <div class="col-lg-12 col-md-12">
                                <div id="totaltable" style="display: none;" class="border p-md-4 p-30 border-radius cart-totals">
                                    <div class="heading_s1 mb-3">
                                        <h4>Cart Totals</h4>
                                    </div>
                                  
                                    <form id="checkoutForm" action="/user/checkOut?userId=<%= cart[j].userId %>" method="post">
                                    <div  class="table-responsive">
                                 
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="cart_total_label">Cart Subtotal</td>
                                                
                                                    <td class="cart_total_amount"> &#8377;<span id="showtotal" class="font-lg fw-900 text-brand"></span></td>
                                                    <input type="number" name="subtotalamountcheckout" value="" id="subtotalinputfield" hidden>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Shipping</td>
                                                    <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Total</td>
                                                  <input type="" value="" id="appliedCouponName" name="appliedCoupon" hidden>
                                                    <td class="cart_total_amount"><span style="font-size: 10px;" id="couponAppliedSpan"></span><br>&#8377;<span id="showtotalamount" class="font-lg fw-900 text-brand"></span></td>
                                                    <input type="" value="" id="minimumpurchasealert" hidden>
                                                    <input type="number" name="totalamountcheckout" value="" id="totalinputfield" hidden>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <% } %>
                                    <% } else { %>
                                        <p>You have no items here!</p>
                                        <% } %>
                                    <% } %>
                                    <% if(user && cart && cart.length > 0) { %>
                                        
                                        <button style="display: none;" id="proceedbtn" type="submit" onclick="updateTotalAndSubmit()" > <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</button>
                                       
                                    <% } %>
                                    </form>
                                </div>
                            </div>
                         

                            <div class="row mb-50">
                            
                                   
                               
                                <div class="mb-30 mt-50">
                                    <p style="font-size: 10px;" class="text-muted">Note : You can only apply a coupon once! If you cancel an order applied with coupon, whole order will be returned.</p>
                                    <div id="applyOther" style="display: none;"> <a href="/user/showCart">Apply another coupon?</a> </div>
                                    <div class="row"  id="showCouponDiv">
                 
                                        <div class="col-lg-6">
                                            <div class="toggle_info">
                                                <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" onclick="showData()" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to view and enter your code</a></span>
                                            </div>
                                           
                                            <div class="panel-collapse collapse coupon_form "  id="coupon">
                                                <div>
                                                   <div hidden>
                                                    <input type="" id="totalCheck" value="">
                                                    <input type="" id="lengthCoupon" value="<%= coupon.length  %>">
                                                 
                                                    <% for(i=0;i<coupon.length;i++){ %>

                                                        <input type="" id= "minimumPurchase<%= i %>" value="<%= coupon[i].minimumPurchase%>" >
                                                        <button id="showBtn<%= i %>" onclick="showDiv('<%= i %>')" >show</button>



                                                        <% } %>

                                                    </div>
                                                 <div>
                                                    <% for(let i=0; i<coupon.length; i++){ %>
                                                          <% let totalAmountCheck  %>
                                                     
                                                        <% if(coupon.expiringAt !== null){ %>
                                                   <div id="coupon<%= i  %>" style="background-color: gainsboro; margin-top: 5px; width: 300px;"><span id="couponcodehide<%= i  %>"><%= coupon[i].couponCode  %> </span><span style="font-size: 8px;  color: #16020278;"> For purchase above <%= coupon[i].minimumPurchase%>, get <%= coupon[i].discount%>% off!</span></div>
                                           <% } %>
                                            
                                                     
                                                    <% } %>
                                                </div>
                                              
                                                <div class="panel-body">
                                                    <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                                  
                                                        <div class="form-group">
                                                            <input oninput="appliedCoupon()" style="text-transform: uppercase;" id="couponinput" type="text" placeholder="Enter Coupon Code...">
                                                      
                                                      </div>
                                                        <div class="form-group">
                                                            <button id="applyBtn" onclick="couponApplied()" class="btn  btn-md" name="login">Apply Coupon</button>
                                                        </div>
                                                        <div id="result"></div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </form>
        </section>
    </main>
    <%- include('partials/footerlogin') %>


    <%- include('partials/mainScripts') %>

  
  
      
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>