<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <main class="main">
       
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="shop-product-fillter">
                            <div class="totall-product">
                                <p> We found some items for you!</p>
                            </div>
                            <div class="sort-by-product-area">
                                <div class="sort-by-cover mr-10">
                                    <div class="sort-by-product-wrap"  style="background-color: black;">
                                        <div class="sort-by">
                                            <span style="color: white;" onclick="showSelect()"><i  class="fi-rs-apps"></i>Show:
                                            
                                           
                                            </span>
                                            <span  style="display: none;" id="paginationspan">
                                                <select class="selectionshop" style="color: rgba(196, 56, 56, 0.779); " onchange="paginate()" name="pagination" id="paginationnumber" >
                                                    <option value="">Click To View</option>
                                                    <option value="2">2</option>
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                    <option value="25">25</option>
                                                  </select>
                                            </span>
                                           
                                        </div>

                                       
                                       
                                    </div>
                                    <div>
                                       
                                      </div>
                                   


                                     
                                </div>
                               


                                <div class="sort-by-cover" >
                                    <div class="sort-by-product-wrap" style="background-color: black;">
                                        <div class="sort-by">
                                            <span style="color: white;" onclick="showSelect2()"><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                           
         
        
                                            </span>
                                            <span  style="display: none;" id="sortspan">
                                                <select class="selectionshop" style="color: rgba(196, 56, 56, 0.779);" onchange="sortBy()" name="pagination" id="sortBy" >
                                                    <option   value="">Click To View</option>
                                                    <option value="low">Price: Low To High</option>
                                                    <option value="high">Price: High To Low</option>
                                                    <option value="new">Newest First</option>
                                                    <option value="old">Oldest First</option>
                                                  </select>
                                            </span>
                                           
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row product-grid-3">
                            
                            <% products.forEach(products=>{%>
                             <% if(products && products.isListed === true){ %>
                                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/user/productdetail?_id=<%= products._id%>">
                                                <img class="default-img" src="/<%=products.images[1]%>" alt="">
                                                <img class="hover-img" src="/<%=products.images[0]%>" alt="">
                                            </a>
                                        </div>
                                      
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Hot</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <% if (products.category &&  products.category.categoryName) { %>
                                                <a href="shop-grid-right.html"><%= products.category.categoryName %></a>
                                            <% } else { %>
                                                Category Not Available <!-- Display a message if category data is not present -->
                                            <% } %>
                                        </div>
                                        <h2><a href="shop-product-right.html"><%= products.productName %>   -  <span class="text-muted" style="font-size: 15px;"><%= products.model  %></span></a></h2>
                                        <div>
                                            <% if (products.size && products.size.length > 0 && products.size[0].size) { %>
                                                <span style="font-size: 20px; color: black;"><%= products.size[0].size %></span>
                                            
                                            <% } %>
                                        </div>
                                        <div class="rating-result" title="90%">
                                          

                                            <span>
                                                <span><%= products.size[0].productDiscount %> % Off</span>
                                            </span>
                                        </div>
                                       
                                        <div class="product-price">
                                            <% if (products.size && products.size.length > 0 && products.size[0].productPrice) { %>
                                                <span>&#8377;<%= products.size[0].productPrice %></span>
                                            
                                            <% } %>
                                            <% if (products.size && products.size.length > 0 &&  products.size[0].mrp) { %>
                                              
                                                <span class="old-price">&#8377;<%= products.size[0].mrp %></span>
                                            
                                            <% } %>
                                           
                                        </div>
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                           <% } %>

                          <%  }); %>
                        
                            
           
                     
                        </div>

                    

                    
                        <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                   
                                    <% if(nopage == false ){ %>
                                    <% for(let i=1; i<=totalPages; i++) { %>
                                        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                            <a class="page-link" href="/user?page=<%= i %>"><%= i %></a>
                                        </li>
                                    <% } %>
                                    <% } %>
                                </ul>
                            </nav>
                        </div>
                     
                        

                    </div>
                    <div class="col-lg-3 primary-sidebar sticky-sidebar" style="border: 10px;">
                        <div class="widget-category mb-30"  style="background-color: rgba(2, 2, 2, 0.967); border-radius: 20px;">
                            <h5 class="section-title text-white style-1 mb-30 wow fadeIn animated">Category</h5>
                            <ul class="categories">
                                <li><a style="color: white;" href="/user/">View All</a></li>
                                <% category.forEach(categoryItem => { %>
                                    <% if (categoryItem && categoryItem.published === true) { %>
                                        <li>
                                            <a style="color: white;" href="/user/sortCategory?categoryId=<%= categoryItem._id %>">
                                                <%= categoryItem.categoryName %>
                                            </a>
                                        </li>
                                    <% } %>
                                <% }) %>
                            </ul>
                            
                        </div>
                        <!-- Fillter By Price -->
                        <div class="sidebar-widget price_range range mb-30" style="background-color: rgba(14, 14, 15, 0.962); border-radius: 20px;">
                            <div class="widget-header position-relative mb-20 pb-10" >
                                <h5 style="color: white;" class="widget-title mb-10">Fill by price</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <div class="price-filter">
                                <div class="price-filter-inner">
                                    <form action="/user/sortPrice" method="POST"> 
                                      <select class="selectionshop" style="color: rgba(196, 56, 56, 0.779);" name="sortingLogic">
                                        <option value="noprice">Select a price</option>
                                        <option value="price1">0-5000</option>
                                        <option value="price2">5001-20000</option>
                                        <option value="price3">20001-40000</option>
                                        <option value="price4">40000 above</option>
                                      </select>

                                      



                                      <button type="submit" style="background-color: black; color: whitesmoke;" class="btn mt-15 btn-sm btn-default"><i class="fi-rs-filter mr-5"></i> Fillter</button>
                                    </form>
                                  </div>
                                  
                                </div>
                            </div>
                          
     
                        </div>
                        <!-- Product sidebar Widget -->
                       
                  
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('partials/footerlogin') %>
    <%- include('partials/preloader') %>

    <!-- Vendor JS-->
    <script src="/user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/user/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/user/js/plugins/slick.js"></script>
    <script src="/user/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/user/js/plugins/wow.js"></script>
    <script src="/user/js/plugins/jquery-ui.js"></script>
    <script src="/user/js/plugins/perfect-scrollbar.js"></script>
    <script src="/user/js/plugins/magnific-popup.js"></script>
    <script src="/user/js/plugins/select2.min.js"></script>
    <script src="/user/js/plugins/waypoints.js"></script>
    <script src="/user/js/plugins/counterup.js"></script>
    <script src="/user/js/plugins/jquery.countdown.min.js"></script>
    <script src="/user/js/plugins/images-loaded.js"></script>
    <script src="/user/js/plugins/isotope.js"></script>
    <script src="/user/js/plugins/scrollup.js"></script>
    <script src="/user/js/plugins/jquery.vticker-min.js"></script>
    <script src="/user/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/user/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="/user/js/maind134.js?v=3.4"></script>
    <script src="/user/js/shopd134.js?v=3.4"></script>

    <script>
    
      </script>





                           


<script src="/user/js/shopgridjs/paginationselect.js">

</script>

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-grid-left.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:46 GMT -->
</html>