
<%- include('partials/head') %>



<body>

    
<%- include('partials/header') %>

<section class="home-slider position-relative pt-50">
          
    <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
      
       
        <div class="">
            <div class="container" style="background-color: rgba(169, 23, 23, 0.921); border-radius: 10px; box-shadow: inset;">
              
                <div class="row align-items-center slider-animated-1">
                
                    <div class="col-lg-5 col-md-6">
                     
                        <div class="hero-slider-content-2">
                            <h4 class="animated"></h4>
                          
                            <h2 style="color: rgb(255, 255, 255);" class="animated fw-900">Order Soon before the Stock runs out!</h2>
                           
                           
                         
                           
                           
                            <h5 class="animated">Apply the coupons available to avail the best deal. Keep shopping the top notch quality products from Telflex Mattress</h5>
                         
                           
                          
                           
                        </div>
                    </div>
                    
                    <div class="col-lg-7 col-md-6">
                       

                        <div class="" >
                          
                            <img style="border-radius: 15px;" class="animated slider-1-1 p-10" src="/user/imgs/smiling-baby-lying-bed.jpg" alt="">

                         
                        </div>
                    </div>
                
                </div>
              
            </div>
        </div>
        
     
    </div>
   
  
  
</section>

  
        <section class="mt-50 mb-50">
        
        
            <div class="container">
                <h2 class="text-dark mb-10"><i class="fa-solid fa-cart-shopping"></i> Your Cart</h2>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                           
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr id="tablehead" class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Product Details</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (user) { %>
                                      <% if(cart && cart.length > 0){ %>
                                        <% for(let j = 0; j < cart.length; j++) { %>
                                            <% if(cart[j].products && cart[j].products.length > 0){ %>
                                          <% for(let i = 0; i < cart[j].products.length; i++) { %>
                                            <tr>
                                               
                                                <input type="text" value="<%= cart[j].products[i].product_id  %>" id="" hidden>
                                              <td class="image product-thumbnail">
                                           
                                                <img src="/<%= cart[j].products[i].product_id.images[0] %>" alt="#">
                                            
                                              </td>
                                              <td class="product-des product-name">
                                                <h5 class="product-name">
                                                  <a href="shop-product-right.html"><%= cart[j].products[i].product_id.productName %></a>
                                                </h5>
                                                <p class="font-xs">Size : <%= cart[j].products[i].size  %><br> <%= cart[j].products[i].product_id.model  %> </p>
                                              </td>
                                              <td class="price" data-title="Price"><span><%= cart[j].products[i].price %> </span></td>
                                              <td class="text-center" data-title="Stock">
                                                <!-- <div class="detail-qty border radius  m-auto">
                                                  <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                  <span class="qty-val"></span>
                                                  <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                                </div> -->

                                                <input name="quantity" type="number" id="quantity<%= cart[j].products[i]._id %>" min="1" value="<%= cart[j].products[i].quantity %>" onchange="calc('<%= cart[j].products[i]._id %>')" hidden>
                                              
                                         
                                                <button id="dec_btn<%= i  %>" style="height: 30px; width: 30px; border-radius: 100px; background-color: rgba(13, 14, 13, 0);"  onclick="decrease('<%= cart[j].products[i]._id %>','<%= i %>')"><i class="fa-solid fa-minus"></i></button>
                                             
                                                <span id="newQuantity<%= cart[j].products[i]._id %>"><%= cart[j].products[i].quantity %></span>
                                               
                                                <button id="inc_btn<%= i %>" style="height: 30px; width: 30px; border-radius: 100px; background-color: rgb(13, 14, 13);" onclick="increase('<%= cart[j].products[i]._id %>','<%= i %>')"><i class="fa-solid fa-plus text-white"></i></button>
<br>                                                    <span class="text-muted fs-" id="stockAlert<%= i  %>"></span>

                                               <script>

                                                
                                                   async function increase(productId,i) {
                                                        var target = document.getElementById('quantity' + productId);
                                                        var newQuantity = document.getElementById('newQuantity' + productId)
                                                        target.value = parseInt(target.value) + 1;
                                                        let stockChange = document.getElementById(`laststock${i}`)

                                                        let checkStock = parseInt(document.getElementById(`laststock${i}`).value)
                                                        stockChange.value = parseInt(checkStock) - 1
                                                        let lastStock = stockChange.value
                                                        if(stockChange <=0)
                                                        {
                                                            
                                                            document.getElementById(`inc_btn${i}`).style.display = 'none'
                                                            document.getElementById(`stockAlert${i}`).innerHTML = 'Sorry, Stock out'
                                                        }
                                                        if(checkStock <=0 )
                                                        {
                                                            target.value -= 1
                                                            document.getElementById(`inc_btn${i}`).style.display = 'none'
                                                            document.getElementById(`stockAlert${i}`).innerHTML = 'Sorry, Stock out'
                                                        }

                                                    
                                                        calc(productId,i); 
                                                        
                                                        newQuantity.innerHTML = target.value
                                                    }
                                                
                                                   async function decrease(productId,i) {
                                                        var target = document.getElementById('quantity' + productId);
                                                        if (parseInt(target.value) > 1) {
                                                            target.value = parseInt(target.value) - 1;
                                                            var newQuantity = document.getElementById('newQuantity' + productId)
                                                            let checkStock = document.getElementById(`laststock${i}`)
                                                            checkStock.value = parseInt(checkStock.value) + 1
                                                            let lastStock = checkStock.value
                                                        newQuantity.innerHTML = target.value
                                                     
                                                            calc(productId,i); 
                                                        }
                                                    }
                                                </script>



                                              </td>
                                              <!-- <td class="text-right" data-title="Cart">
                                                <span>$ cart[j].products[i].price </span>
                                              </td> -->

                                             
<td class="text-right" data-title="Cart">
    <input type="number" id="mul<%= cart[j].products[i]._id %>" value="<%= cart[j].products[i].price %>" hidden>
    <span class="calctotal" id="calcprice<%= cart[j].products[i]._id %>"><%= (cart[j].products[i].price) * (cart[j].products[i].quantity)%> </span>
    <input type="text" id="productsingleid<%= i  %>" name="productsingleid" value="<%= cart[j].products[i].single_id  %>"hidden>
    <input type="" id="productsizefind<%= i  %>" name="productsize" value="<%= cart[j].products[i].size  %>" hidden>
    <input type="number" value="<%= cart[j].products[i].lastStock  %>" id="laststock<%= i %>" hidden>
    <input type="text" value="<%= cart[j].products[i].product_id._id  %>" id="productmainid<%= i  %>" hidden >

  </td>
  <td class="action" data-title="Remove">
    <a onclick="deleteCartItem('<%= cart[j].products[i]._id %>','<%= cart[j].products[i].product_id._id %>','<%= cart[j].products[i].single_id %>')" class="text-muted">
        <i class="fi-rs-trash"></i>
    </a>
</td>

                                            </tr>
                                            <% } %>
                                        
                                  <script>
                                    function deleteCartItem(cartId,productId,singleId)
                                    {
                                        Swal.fire({
    title: 'Are you sure you want to remove this item from cart?',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, Remove!'
  }).then((result) => {
    if (result.isConfirmed) {
        Swal.fire({
title: 'Item Removed from cart',
icon: 'success',

confirmButtonColor: '#3085d6',
cancelButtonColor: '#d33',

})
     
      window.location.href = `/user/deleteCart?productId=${cartId}&productmainid=${productId}&singleid=${singleId}`; 
    }
  });
                                    }
                                  </script>      
                                   
                                  </tbody>
                                  <% } else { %>
                                    <br>
                                        <tr>
                                        <h1>You have no items in cart, Add new items and get the best deals fast </h1> 
                                        <script>
                                            document.getElementById('tablehead').style.display = 'none'

                                        </script>
                                        </tr>
                                        <% } %>
                            </table>
                        </div>
                 
                        <div class="divider center_icon mt-50 mb-50"></div>
                        
                            <div class="col-lg-12 col-md-12">
                                <div class="border p-md-4 p-30 border-radius cart-totals">
                                    <div class="heading_s1 mb-3">
                                        <h4>Cart Totals</h4>
                                    </div>
                                  
                                    <form id="checkoutForm" action="/user/checkOut?userId=<%= cart[j].userId %>" method="post">
                                    <div class="table-responsive">
                                 
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="cart_total_label">Cart Subtotal</td>
                                                
                                                    <td class="cart_total_amount"> &#8377;<span id="showtotal" class="font-lg fw-900 text-brand"></span></td>
                                                    <input type="number" name="subtotalamountcheckout" value="" id="subtotalinputfield" hidden>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Shipping</td>
                                                    <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Total</td>
                                                  <input type="" value="" id="appliedCouponName" name="appliedCoupon" hidden>
                                                    <td class="cart_total_amount"><span style="font-size: 10px;" id="couponAppliedSpan"></span><br>&#8377;<span id="showtotalamount" class="font-lg fw-900 text-brand"></span></td>
                                                    <input type="number" name="totalamountcheckout" value="" id="totalinputfield" hidden>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <% } %>
                                    <% } else { %>
                                        <p>You have no items here!</p>
                                        <% } %>
                                    <% } %>
                                    <% if(user && cart && cart.length > 0) { %>
                                        <button type="submit" onclick="updateTotalAndSubmit()" > <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</button>
                                       
                                    <% } %>
                                    </form>
                                </div>
                            </div>

                            <div class="row mb-50">
                            
                                   
                               
                                <div class="mb-30 mt-50">
                                    <p style="font-size: 10px;" class="text-muted">Note : You can only apply a coupon once! If you cancel an order applied with coupon, whole order will be returned.</p>
                                    <div id="applyOther" style="display: none;"> <a href="/user/showCart">Apply another coupon?</a> </div>
                                    <div class="row"  id="showCouponDiv">
                 
                                        <div class="col-lg-6">
                                            <div class="toggle_info">
                                                <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" onclick="showData()" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to view and enter your code</a></span>
                                            </div>
                                           
                                            <div class="panel-collapse collapse coupon_form "  id="coupon">
                                                <div>
                                                   <div hidden>
                                                    <input type="" id="totalCheck" value="">
                                                    <input type="" id="lengthCoupon" value="<%= coupon.length  %>">
                                                 
                                                    <% for(i=0;i<coupon.length;i++){ %>

                                                        <input type="" id= "minimumPurchase<%= i %>" value="<%= coupon[i].minimumPurchase%>" >
                                                        <button id="showBtn<%= i %>" onclick="showDiv('<%= i %>')" >show</button>



                                                        <% } %>

                                                    </div>
                                                 <div>
                                                    <% for(let i=0; i<coupon.length; i++){ %>
                                                          <% let totalAmountCheck  %>
                                                     
                                                        
                                                   <div id="coupon<%= i  %>" style="background-color: gainsboro; margin-top: 5px; width: 300px;"><span id="couponcodehide<%= i  %>"><%= coupon[i].couponCode  %> </span><span style="font-size: 8px;  color: #16020278;"> For purchase above <%= coupon[i].minimumPurchase%>, get <%= coupon[i].discount%>% off!</span></div>
                                           
                                            
                                                     
                                                    <% } %>
                                                </div>
                                              
                                                <div class="panel-body">
                                                    <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                                  
                                                        <div class="form-group">
                                                            <input oninput="appliedCoupon()" style="text-transform: uppercase;" id="couponinput" type="text" placeholder="Enter Coupon Code...">
                                                      
                                                      </div>
                                                        <div class="form-group">
                                                            <button id="applyBtn" onclick="couponApplied()" class="btn  btn-md" name="login">Apply Coupon</button>
                                                        </div>
                                                        <div id="result"></div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </form>
        </section>
    </main>
    <%- include('partials/footerlogin') %>

    <!-- Vendor JS-->
    <script src="/user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/user/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/user/js/plugins/slick.js"></script>
    <script src="/user/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/user/js/plugins/wow.js"></script>
    <script src="/user/js/plugins/jquery-ui.js"></script>
    <script src="/user/js/plugins/perfect-scrollbar.js"></script>
    <script src="/user/js/plugins/magnific-popup.js"></script>
    <script src="/user/js/plugins/select2.min.js"></script>
    <script src="/user/js/plugins/waypoints.js"></script>
    <script src="/user/js/plugins/counterup.js"></script>
    <script src="/user/js/plugins/jquery.countdown.min.js"></script>
    <script src="/user/js/plugins/images-loaded.js"></script>
    <script src="/user/js/plugins/isotope.js"></script>
    <script src="/user/js/plugins/scrollup.js"></script>
    <script src="/user/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/user/js/maind134.js?v=3.4"></script>
    <script src="/user/js/shopd134.js?v=3.4"></script>









<script>
    
    window.onload = function () {
   
      var allSums = document.querySelectorAll('.calctotal');
  
      var sumtotal = 0;
      allSums.forEach(function (element) {
        sumtotal += parseFloat(element.innerText);
      });
 

      if (!isNaN(sumtotal)) {
        document.getElementById('showtotal').innerHTML =  sumtotal.toFixed(2);
        document.getElementById('showtotalamount').innerHTML =  sumtotal.toFixed(2);
        document.getElementById('subtotalinputfield').value = sumtotal.toFixed(2)
        document.getElementById('totalCheck').value = sumtotal.toFixed(2)

    
      }
    };
  </script>


<script>
    function updateTotalAndSubmit() {
    
        var showTotalAmount = document.getElementById('showtotalamount').innerText;
        

        document.getElementById('totalinputfield').value = showTotalAmount;


        document.getElementById('checkoutForm').submit();
    }
</script>



<script>
    function calc(productId,i) {
var mul = document.getElementById("mul" + productId).value;
var quantity = document.getElementById("quantity" + productId).value;

var sum = document.getElementById('calcprice' + productId);
var totalPrice = parseFloat(sum.innerText) || parseFloat(sum.textContent);

var total = parseFloat(mul) * parseFloat(quantity);

if (!isNaN(total)) {
 sum.innerHTML =  total.toFixed(2);
}

var sumtotal = 0;
var allSums = document.querySelectorAll('.calctotal');

for (let i = 0; i < allSums.length; i++) {
 console.log(allSums)
sumtotal += +allSums[i].innerText;
}
console.log(sumtotal)

if (!isNaN(sumtotal)) {
document.getElementById('showtotal').innerHTML =  sumtotal.toFixed(2);
document.getElementById('showtotalamount').innerHTML =  sumtotal.toFixed(2);
document.getElementById('subtotalinputfield').value = sumtotal.toFixed(2)


}
let quantityUpdate
let lastStock = document.getElementById('laststock' + i).value
let productsingleid = document.getElementById(`productsingleid${i}`).value
let productsizefind = document.getElementById(`productsizefind${i}`).value
let productmainid = document.getElementById(`productmainid${i}`).value

 quantityUpdate = document.getElementById("quantity" + productId).value;
console.log(quantityUpdate);



    fetch(`/user/updateCart?productId=${productId}`, {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
    },
    body: JSON.stringify({
        quantity: quantityUpdate,
        lastStock : lastStock,
        productsingleid : productsingleid,
        productsizefind : productsizefind,
        productmainid : productmainid
      
        
       
    }),
})
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {
        setTimeout(()=>{
            window.location.reload()
        },1500)
        console.log('Success:', data);
    })
    .catch(error => {
        console.log('Error:', error);
    });




}


async function couponApplied() {
    let couponset = false;
   
    const couponCode = document.getElementById('couponinput').value;
    const coupon = couponCode.replace(/\W/g, '').toUpperCase();
  
   



    console.log(coupon);

    try {
    

      
        const response = await fetch(`/user/applyCoupon?coupon=${coupon}`, {
            method: 'GET'
        });

        if (!response.ok) {
            throw new Error(`Server responded with status: ${response.status}`);
        }

        const responseData = await response.json();
       
       
     
        const disc = parseFloat(responseData.discount)
        console.log(disc)
        const showTotal = document.getElementById('showtotalamount');
        const couponspan = document.getElementById('couponAppliedSpan')
        const totalinput = document.getElementById('totalinputfield')
const totalAmount = parseFloat(showTotal.innerText); 
console.log(disc)
console.log(typeof disc)
console.log(totalAmount)
console.log(typeof totalAmount)

if (!isNaN(totalAmount)) { 
    const discountedTotal = totalAmount - (totalAmount * (disc / 100));
    console.log(discountedTotal)
    console.log(typeof discountedTotal)
    showTotal.innerHTML = discountedTotal.toFixed(2);
    couponspan.innerHTML = `${couponCode} coupon applied succesfully`
    totalinput.value =  discountedTotal.toFixed(2);
    couponset = true;
    
      
      
}

        console.log(showTotal)
        if (couponset) {
        var btn = document.getElementById('showCouponDiv');
        btn.style.display = 'none';
        var show = document.getElementById('applyOther')
        show.style.display = 'block'
    }
      

    } catch (error) {
        console.error('Error:', error.message);
        // Additional logging of error stack trace
        console.error('Error Stack:', error.stack);
    }
}



async function appliedCoupon()
{ 
    const coupon = document.getElementById('couponinput').value
    const formatted = coupon.replace(/\W/g, '').toUpperCase();
    console.log(formatted)
    const applied = document.getElementById('appliedCouponName')
    
    applied.value = formatted
    const res = document.getElementById('appliedCouponName').value
    console.log(res)
   

}


   </script>

  
  
  
    <script>
                                                  function showDiv(index) {
    amount = parseInt(document.getElementById('totalCheck').value);
    divShow = document.getElementById(`coupon${index}`);
    couponcode = document.getElementById(`couponcodehide${index}`);
    checkAmount =parseInt(document.getElementById(`minimumPurchase${index}`).value)

    if (amount < checkAmount) {
       
        let currentCode = couponcode.innerHTML;
       
            let newCode = currentCode.substring(0, 1) + '##########' ;
            couponcode.innerHTML = newCode;
    } 
}

                                                    
                                                    



                                                  function showData() {
                                                  
    var length = document.getElementById('lengthCoupon').value;

    for (let i = 0; i < length; i++) {
        let button = document.getElementById(`showBtn${i}`);
        if (button) {
    
            console.log(`Button with ID showBtn${i} found`);

            button.click();
        } else {
            // Log if the button is not found
            console.log(`Button with ID showBtn${i} not found`);
        }
    }
}

                                                </script>
      
      
  
      
      
      
      

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>