
<%- include('partials/head') %>



<body>

    
<%- include('partials/header') %>
  
        <section class="mt-50 mb-50">
        
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                          
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (user) { %>
                                      <% if(cart && cart.length > 0){ %>
                                        <% for(let j = 0; j < cart.length; j++) { %>
                                          <% for(let i = 0; i < cart[j].products.length; i++) { %>
                                            <tr>
                                                <input type="text" value="<%= cart[j].products[i].product_id  %>" id="" hidden>
                                              <td class="image product-thumbnail">
                                                <img src="/<%= cart[j].products[i].product_id.images[0] %>" alt="#">
                                              </td>
                                              <td class="product-des product-name">
                                                <h5 class="product-name">
                                                  <a href="shop-product-right.html"><%= cart[j].products[i].product_id.productName %></a>
                                                </h5>
                                                <p class="font-xs">Size : <%= cart[j].products[i].size  %><br> <%= cart[j].products[i].product_id.shortDescription  %> </p>
                                              </td>
                                              <td class="price" data-title="Price"><span><%= cart[j].products[i].price %> </span></td>
                                              <td class="text-center" data-title="Stock">
                                                <!-- <div class="detail-qty border radius  m-auto">
                                                  <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                  <span class="qty-val"></span>
                                                  <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                                </div> -->

                                                <input name="quantity" type="number" id="quantity<%= cart[j].products[i]._id %>" min="1" value="<%= cart[j].products[i].quantity %>" onchange="calc('<%= cart[j].products[i]._id %>')" hidden>
                                              
                                         
                                                <button  style="height: 30px; width: 30px; border-radius: 100px; background-color: rgba(13, 14, 13, 0);"  onclick="decrease('<%= cart[j].products[i]._id %>')"><i class="fa-solid fa-minus"></i></button>
                                                <span id="newQuantity<%= cart[j].products[i]._id %>"><%= cart[j].products[i].quantity %></span>
                                                <button style="height: 30px; width: 30px; border-radius: 100px; background-color: rgb(13, 14, 13);" onclick="increase('<%= cart[j].products[i]._id %>')"><i class="fa-solid fa-plus text-white"></i></button>

                                               <script>
                                                    function increase(productId) {
                                                        var target = document.getElementById('quantity' + productId);
                                                        var newQuantity = document.getElementById('newQuantity' + productId)
                                                        target.value = parseInt(target.value) + 1;
                                                       
                                                        calc(productId); 
                                                        
                                                        newQuantity.innerHTML = target.value
                                                    }
                                                
                                                    function decrease(productId) {
                                                        var target = document.getElementById('quantity' + productId);
                                                        if (parseInt(target.value) > 1) {
                                                            target.value = parseInt(target.value) - 1;
                                                            var newQuantity = document.getElementById('newQuantity' + productId)
                                                        newQuantity.innerHTML = target.value
                                                            calc(productId); 
                                                        }
                                                    }
                                                </script>



                                              </td>
                                              <!-- <td class="text-right" data-title="Cart">
                                                <span>$ cart[j].products[i].price </span>
                                              </td> -->

                                             
<td class="text-right" data-title="Cart">
    <input type="number" id="mul<%= cart[j].products[i]._id %>" value="<%= cart[j].products[i].price %>" hidden>
    <span class="calctotal" id="calcprice<%= cart[j].products[i]._id %>"><%= (cart[j].products[i].price) * (cart[j].products[i].quantity)%> </span>
  </td>
                                              <td class="action" data-title="Remove"><a href="/user/deleteCart?productId=<%= cart[j].products[i]._id %>" class="text-muted"><i class="fi-rs-trash"></i></a></td>
                                            </tr>
                                          <% } %>
                                        
                                   
                                  </tbody>
                            </table>
                        </div>
                       
                        <div class="divider center_icon mt-50 mb-50"></div>
                        
                            <div class="col-lg-12 col-md-12">
                                <div class="border p-md-4 p-30 border-radius cart-totals">
                                    <div class="heading_s1 mb-3">
                                        <h4>Cart Totals</h4>
                                    </div>
                                  
                                    <form id="checkoutForm" action="/user/checkOut?userId=<%= cart[j].userId %>" method="post">
                                    <div class="table-responsive">
                                 
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="cart_total_label">Cart Subtotal</td>
                                                
                                                    <td class="cart_total_amount"><span id="showtotal" class="font-lg fw-900 text-brand"></span></td>
                                                    <input type="number" name="subtotalamountcheckout" value="" id="subtotalinputfield">
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Shipping</td>
                                                    <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Total</td>
                                                  <input type="" value="" id="appliedCouponName" name="appliedCoupon">
                                                    <td class="cart_total_amount">  <span style="font-size: 10px;" id="couponAppliedSpan"></span><br><span id="showtotalamount" class="font-lg fw-900 text-brand"></span></td>
                                                    <input type="number" name="totalamountcheckout" value="" id="totalinputfield" hidden>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <% } %>
                                    <% } %>
                                    <% } %>
                                    <% if(user && cart && cart.length > 0) { %>
                                        <button type="submit" onclick="updateTotalAndSubmit()" > <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</button>
                                       
                                    <% } %>
                                    </form>
                                </div>
                            </div>

                            <div class="row mb-50">
                            
                                   
                               
                                <div class="mb-30 mt-50">
                                    <div class="row">
                 
                                        <div class="col-lg-6">
                                            <div class="toggle_info">
                                                <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" onclick="showData()" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to view and enter your code</a></span>
                                            </div>
                                           
                                            <div class="panel-collapse collapse coupon_form "  id="coupon">
                                                <div>
                                                   <div hidden>
                                                    <input type="" id="totalCheck" value="">
                                                    <input type="" id="lengthCoupon" value="<%= coupon.length  %>">
                                                 
                                                    <% for(i=0;i<coupon.length;i++){ %>

                                                        <input type="" id= "minimumPurchase<%= i %>" value="<%= coupon[i].minimumPurchase%>" >
                                                        <button id="showBtn<%= i %>" onclick="showDiv('<%= i %>')" >show</button>



                                                        <% } %>

                                                    </div>
                                                 <div>
                                                    <% for(let i=0; i<coupon.length; i++){ %>
                                                          <% let totalAmountCheck  %>
                                                     
                                                        
                                                   <div id="coupon<%= i  %>" style="background-color: gainsboro; margin-top: 5px; width: 300px; display: none;"><%= coupon[i].couponCode  %> <span style="font-size: 8px;  color: #16020278;"> For purchase above <%= coupon[i].minimumPurchase%>, get <%= coupon[i].discount%>% off!</span></div>
                                           
                                            
                                                     
                                                    <% } %>
                                                </div>
                                              
                                                <div class="panel-body">
                                                    <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                                  
                                                        <div class="form-group">
                                                            <input oninput="appliedCoupon()" style="text-transform: uppercase;" id="couponinput" type="text" placeholder="Enter Coupon Code...">
                                                      
                                                      </div>
                                                        <div class="form-group">
                                                            <button onclick="couponApplied()" class="btn  btn-md" name="login">Apply Coupon</button>
                                                        </div>
                                                        <div id="result"></div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </form>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="/user/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                     
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html"><img src="/user/imgs/theme/logo.svg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="/user/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="/user/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="/user/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="/user/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="/user/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="/user/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="/user/imgs/theme/google-play.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="/user/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="/user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/user/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/user/js/plugins/slick.js"></script>
    <script src="/user/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/user/js/plugins/wow.js"></script>
    <script src="/user/js/plugins/jquery-ui.js"></script>
    <script src="/user/js/plugins/perfect-scrollbar.js"></script>
    <script src="/user/js/plugins/magnific-popup.js"></script>
    <script src="/user/js/plugins/select2.min.js"></script>
    <script src="/user/js/plugins/waypoints.js"></script>
    <script src="/user/js/plugins/counterup.js"></script>
    <script src="/user/js/plugins/jquery.countdown.min.js"></script>
    <script src="/user/js/plugins/images-loaded.js"></script>
    <script src="/user/js/plugins/isotope.js"></script>
    <script src="/user/js/plugins/scrollup.js"></script>
    <script src="/user/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/user/js/maind134.js?v=3.4"></script>
    <script src="/user/js/shopd134.js?v=3.4"></script>









<script>
    
    window.onload = function () {
   
      var allSums = document.querySelectorAll('.calctotal');
  
      var sumtotal = 0;
      allSums.forEach(function (element) {
        sumtotal += parseFloat(element.innerText);
      });
  

      if (!isNaN(sumtotal)) {
        document.getElementById('showtotal').innerHTML =  sumtotal.toFixed(2);
        document.getElementById('showtotalamount').innerHTML =  sumtotal.toFixed(2);
        document.getElementById('subtotalinputfield').value = sumtotal.toFixed(2)
        document.getElementById('totalCheck').value = sumtotal.toFixed(2)

    
      }
    };
  </script>


<script>
    function updateTotalAndSubmit() {
    
        var showTotalAmount = document.getElementById('showtotalamount').innerText;
        

        document.getElementById('totalinputfield').value = showTotalAmount;


        document.getElementById('checkoutForm').submit();
    }
</script>



<script>
    function calc(productId) {
var mul = document.getElementById("mul" + productId).value;
var quantity = document.getElementById("quantity" + productId).value;

var sum = document.getElementById('calcprice' + productId);
var totalPrice = parseFloat(sum.innerText) || parseFloat(sum.textContent);

var total = parseFloat(mul) * parseFloat(quantity);

if (!isNaN(total)) {
 sum.innerHTML =  total.toFixed(2);
}

var sumtotal = 0;
var allSums = document.querySelectorAll('.calctotal');

for (let i = 0; i < allSums.length; i++) {
 console.log(allSums)
sumtotal += +allSums[i].innerText;
}
console.log(sumtotal)

if (!isNaN(sumtotal)) {
document.getElementById('showtotal').innerHTML =  sumtotal.toFixed(2);
document.getElementById('showtotalamount').innerHTML =  sumtotal.toFixed(2);
document.getElementById('subtotalinputfield').value = sumtotal.toFixed(2)


}
const quantityUpdate = document.getElementById("quantity" + productId).value;
console.log(quantityUpdate);



    fetch(`/user/updateCart?productId=${productId}`, {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
    },
    body: JSON.stringify({
        quantity: quantityUpdate,
      
        
       
    }),
})
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {
        setTimeout(()=>{
            window.location.reload()
        },1500)
        console.log('Success:', data);
    })
    .catch(error => {
        console.log('Error:', error);
    });




}

async function couponApplied() {
    const couponCode = document.getElementById('couponinput').value;
    const coupon = couponCode.replace(/\W/g, '').toUpperCase();
    console.log(coupon);

    try {
        const response = await fetch(`/user/applyCoupon?coupon=${coupon}`, {
            method: 'GET'
        });

        if (!response.ok) {
            throw new Error(`Server responded with status: ${response.status}`);
        }

        const responseData = await response.json();
       
     
        const disc = parseFloat(responseData.discount)
        console.log(disc)
        const showTotal = document.getElementById('showtotalamount');
        const couponspan = document.getElementById('couponAppliedSpan')
        const totalinput = document.getElementById('totalinputfield')
const totalAmount = parseFloat(showTotal.innerText); 
console.log(disc)
console.log(typeof disc)
console.log(totalAmount)
console.log(typeof totalAmount)

if (!isNaN(totalAmount)) { 
    const discountedTotal = totalAmount - (totalAmount * (disc / 100));
    console.log(discountedTotal)
    console.log(typeof discountedTotal)
    showTotal.innerHTML = discountedTotal.toFixed(2);
    couponspan.innerHTML = `${couponCode} coupon applied succesfully`
    totalinput.value =  discountedTotal.toFixed(2);

}

        console.log(showTotal)

    } catch (error) {
        console.error('Error:', error.message);
        // Additional logging of error stack trace
        console.error('Error Stack:', error.stack);
    }
}

async function appliedCoupon()
{
    const coupon = document.getElementById('couponinput').value
    const formatted = coupon.replace(/\W/g, '').toUpperCase();
    console.log(formatted)
    const applied = document.getElementById('appliedCouponName')
    
    applied.value = formatted
    const res = document.getElementById('appliedCouponName').value
    console.log(res)
}


   </script>

  
  
  
    <script>
                                                    function showDiv(index)
                                                    {
                                                       
                                                        amount = document.getElementById('totalCheck').value
                                                        divShow = document.getElementById(`coupon${index}`) 
                                                        checkAmount = document.getElementById(`minimumPurchase${index}`).value
                                                        if(amount > checkAmount)
                                                        {


                                                            divShow.style.display = 'block'



                                                        }
                                                        else{
                                                            divShow.style.display = 'none'
                                                        }
                                                        
                                                    }   



                                                  function showData() {
                                                  
    var length = document.getElementById('lengthCoupon').value;

    for (let i = 0; i < length; i++) {
        let button = document.getElementById(`showBtn${i}`);
        if (button) {
    
            console.log(`Button with ID showBtn${i} found`);

            button.click();
        } else {
            // Log if the button is not found
            console.log(`Button with ID showBtn${i} not found`);
        }
    }
}

                                                </script>
      
      
  
      
      
      
      

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>